## Setup your environment.

In [1]:
import sys
sys.version

'3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]'

In [2]:
#!pip install fuzzywuzzy
#!pip install python-Levenshtein
# !pip install pandas

In [3]:
# !pip list

In [4]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz, process

In [5]:
pd.set_option('display.max.rows', 150)

## Read in CSV Files

In [6]:
colleges123 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - colleges123.csv")
colleges123

                          NAME          MAJORS
0                Cyber College     Computer Sc
1                Cyber College  Information Sc
2                Cyber College      Applied Sc
3          College of Business      Accounting
4          College of Business  Business Admin
5          College of Business       Economics
6         College of Education   Elementary Ed
7         College of Education    Secondary Ed
8   College of Art and Science         Biology
9   College of Art and Science       Chemistry
10  College of Art and Science         English

In [7]:
df1_2 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - ds1_2.csv")
df1_2

,ID,Name,Address,Major,Degree,GPA,MonthDay,Y,Status
0,933,GG. Art,Savannah,English,BA,3.1,Aug.15,91,N
1,941,BB. Mercy,Savannah,English,MA,4.0,Aug. 15,91,N
2,356,C. Brown,Denver,Applied Sc,PhD,4.0,Dec.15,89,I
3,667,K. Chen,Conway,Elementary,EdD,3.2,Aug. 15,92,O
4,529,M. Yu,Conway,Secondary,MS,3.2,May 15,90,I
5,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,July 48,87,O
6,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,July 4,84,N
7,688,Y. Crema,Little Rock,Biology,AS,2.2,June 1,87,N
8,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,Dec.15,91,O
9,100,A. Jones,Little Rock,Computer Sc,BS,3.1,May 15,84,I
10,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,May 15,87,N
11,579,U. Jones,Little Rock,Computer Sc,BS,3.1,May 15,84,N
12,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,May 15,92,I
13,300,C. Cook,Little Rock,Biology,BS,2.2,June 1,87,I
14,400,D. Morty,Atlanta,Biology,BS,3.9,July 4,84,N
15,422,U. Yu,Conway,Secondary,MS,3.2,May 15,90,O
16,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,July 4,90,O
17,401,D. Morgan,Conway,Biology,BS,3.9,July 4,87,I
18,702,Y. Brady,Conway,Applied Sc,PhD,3.2,May 15,87,I
19,201,W. Brady,Conway,Applied Sc,PhD,3.2,May 15,87,I
20,202,A. Bank,Conway,Applied Sc,PhD,3.2,July 4,87,N
21,415,T. King,Conway,Elementary,EdD,3.2,Aug. 15,90,N
22,901,C. Crema,Little Rock,Biology,AS,2.2,June 1,87,O
23,222,D. Abul,Savannah,Economics,BA,3.9,Aug. 15,90,N
24,333,G. Halk,Atlanta,B Admin,MBA,2.9,Aug. 15,90,N
25,431,W.Goos,Savannah,Accounting,BA,4.1,Aug. 15,90,O
26,421,T. Chen,Conway,Elementary,EdD,3.2,Aug. 15,91,I
27,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,Dec.15,92,I
28,689,Y. Morgan,Conway,Biology,BS,3.9,July 4,87,N
29,195,D. Red,Seattle,Info Sc,BS,2.1,Dec. 15,90,O
30,703,Y. Bank,Conway,Applied Sc,PhD,3.2,July 15,87,O
31,665,Z. Silver,Seattle,Elementary,EdD,3.3,Aug. 15,91,I
32,739,A. Moon,Little Rock,Computer Sc,BS,3.1,June 1,84,N
33,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,June 18,87,N
34,939,U. Wang,Little Rock,Computer Sc,AS,3.1,July 15,84,O
35,356,C. Brown,Denver,Applied Sc,PhD,4.0,Dec.15,89,O
36,500,K.Bronz,Dallas,Chemistry,MS,3.2,July 4,88,O
37,132,A. White,Orlando,Computer Sc,AS,3.9,Aug 15,92,N
38,100,A. Jones,Little Rock,Computer Sc,MS,3.2,May 15,87,N
39,232,K. Blue,Little Rock,English,AS,3.1,Aug 15,91,I
40,352,C. Black,Pine Bluff,Applied,PhD,3.8,Aug 15,90,O
41,600,C. Jones,Dallas,Info Sc,BS,4.0,Dec. 15,88,O
42,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,May 15,90,O
43,682,Y. Cook,Little Rock,Biology,BS,2.2,June 1,87,O
44,400,D. Morty,Seattle,Info Sc,BS,2.1,Dec. 15,88,I
45,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Aug 15,88,I
46,590,X. Cook,Little Rock,Biology,AS,2.2,June 1,92,N
47,690,D. Brown,Atlanta,Biology,BS,3.9,July 4,88,N
48,175,K. Glob,Dallas,Applied Sc,PhD,3.2,July 4,89,N
49,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,May 15,91,N
50,185,X. Jones,New York,Info Sc,BS,4.0,Dec. 15,90,N
51,700,A. Boss,Seattle,Elementary,MS,3.3,Aug. 15,84,I
52,800,K. Queen,Conway,Elementary,EdD,3.2,Aug. 15,89,O
53,416,T. Gola,Conway,Secondary,MS,3.2,May 15,90,N
54,420,T. Silver,Seattle,Elementary,EdD,3.3,Aug. 15,91,N
55,900,B. Gola,Conway,Secondary,MS,3.2,May 15,87,I
56,955,K. Booth,Atlanta,Secondary,MS,3.9,May 15,87,O
57,956,C. Jessy,Orlando,Applied Sc,MS,4.0,Dec.15,89,O
58,150,A. Cool,Orlando,Computer Sc,MS,3.9,Aug 15,86,I
59,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Aug 15,86,N
60,350,C. Cool,Pine Bluff,Applied,MS,4.0,Aug 15,86,N
61,229,M. Katchal,Savannah,Economics,BA,3.0,Aug. 15,91,N
62,339,H.Poory,Atlanta,B Admin,BA,3.9,Aug. 15,87,N
63,439,H. Mishu,Savannah,Accounting,BA,2.8,Aug. 15,87,O
64,329,G. Kooper,Savannah,Accounting,BA,3.0,Aug. 15,91,N
65,339,M. Bayraq,Savannah,MBA,MBA,3.9,Aug. 15,87,N
66,337,N. Mikhy,Savannah,B Admin,BA,2.8,Aug. 15,87,O
67,650,D. Sorty,Atlanta,Biology,BS,3.9,July 4,84,N
68,750,K.Gold,Dallas,Applied Sc,PhD,3.2,July 4,84,N
69,850,F. Jones,New York,Info Sc,BS,4.0,Dec. 15,85,I
70,950,D. Golden,Seattle,Info Sc,BS,2.1,Dec. 15,85,I
71,165,A. Silver,Seattle,Elementary,MS,3.3,Aug. 15,85,O
72,417,T. Dool,Atlanta,English,MS,3.9,July 4-9,92,O
73,418,T. Brown,Denver,Applied Sc,PhD,4.0,Dec.15,92,O
74,419,T. Red,Seattle,Info Sc,BS,2.1,Dec. 15,92,O
75,215,K. King,Conway,Elementary,EdD,3.2,Aug. 15,84,N
76,315,M. Gola,Conway,English,MS,3.2,May 15,84,N
77,255,K. Dool,Atlanta,Engl,MS,3.9,July 4,86,N
78,299,M. Golab,Seatel,Chemistry,BS,3.0,May 15,92,N
79,199,K. Duell,Atlanta,Biology,AS,4.0,Dec. 15,88,I
80,473,M. Browny,Seattle,CS,PhD,4.0,May.15,92,I
81,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,June 1,92,O
82,205,K. Minges,Conway,Elementary,EdD,3.2,Aug. 15,84,N
83,305,H. Molar,Conway,Biology,MS,3.2,July 4,84,N
84,207,K. Goolar,Atlanta,Chemistry,MS,3.9,July 4,86,N
85,107,M. Kochaal,Savannah,Chemistry,BS,3.9,May 15,92,N
86,305,M. Searsy,Conway,Biol,MS,3.2,July 4,84,N
87,207,P. Little,Atlanta,Chemistry,MS,3.9,July 4,86,N
88,107,M. Big,Little Rock,Chemistry,BS,3.9,May 15,92,O
89,109,P. Board,Atlanta,Chem,AS,4.0,Dec. 15,88,I
90,305,M. Korp,Conway,Biology,MS,3.2,July 4,84,N
91,109,G. Bear,Little Rock,Biology,AS,4.0,Dec. 15,88,O
92,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,May 15,92,N
93,391,X. Searsy,Conway,Biology,MS,3.2,July 4,84,N
94,201,Y. Little,Atlanta,Chemistry,MS,3.9,July 4,86,N
95,117,W. Big,Little Rock,Chemistry,BS,3.9,May 15,92,O
96,612,V. Board,Atlanta,Chemistry,AS,4.0,Dec. 15,88,I
97,305,M. Kartsoo,Conway,Biology,MS,3.2,July 4,84,N
98,609,N. Gearsal,Little Rock,Biology,BS,4.0,Dec. 15,88,O
99,615,K. Jiring,Conway,Element.,BA,3.2,Aug. 15,84,N
100,715,M. Chendo,Conway,Secondary,MS,3.2,May 15,84,N
101,855,Z. Megart,Atlanta,Secondary,MS,3.9,July 4,86,N
102,699,A. Woo,Seattle,Elementary,BA,3.0,May 15,92,N
103,933,CC. Artian,Atlanta,English,BA,2.9,Aug.15,91,N
104,941,D. Merdoo,Atlanta,English,MA,2.8,Aug. 15,91,N

In [8]:
df3 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - ds3.csv")
df3

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,1,4.0,Sum1,89,1
1,961,QT. Brady,Pine Bluff,Computer\nSc,1,3.8,Sum2,87,1
2,962,UL. Jones,Little Rock,Computer\nSc,1,3.1,Sum2,84,2
3,970,Bf. Brady,Little Rock,Applied Sc,1,3.2,Sum1,92,2
4,975,CM. Cook,Little Rock,Biology,2,2.2,F,87,2
5,412,DP. Morty,Atlanta,Biology,3,3.9,S,84,2
6,971,UK. Yu,Conway,Secondary,4,3.2,F,90,2
7,989,Li. Mooshe,Atlanta,Secondary,4,3.9,F,90,3
8,998,Di. Morgan,Conway,Biology,4,3.9,S,87,3
9,964,YH. Brady,Conway,Applied Sc,3,3.2,Sum1,87,3
10,977,WT. Brady,Conway,Applied Sc,3,3.2,Sum2,87,3
11,987,AC. Bank,Conway,Applied Sc,3,3.2,Sum2,87,3
12,988,TP. Kim,Conway,Elementary,2,3.2,Sum1,90,3
13,902,CY. Crema,Little Rock,Biology,2,2.2,S,87,3
14,969,D. Abuly,Savannah,Economics,2,3.9,S,90,5
15,968,G. Halky,Atlanta,B Admin,2,2.9,S,90,5
16,967,W.Goast,Savannah,Accounting,2,4.1,F,90,5
17,833,T. Chenty,Conway,Elementary,1,3.2,Sum1,91,5
18,124,U. Algy,Denver,Applied Sc,1,4.0,S,92,1
19,976,YI. Torgan,Conway,Biology,1,3.9,S,87,1
20,100,D. Reddyg,Seattle,Info Sc,4,2.1,F,90,1
21,969,Y. Bankrpt,Conway,Applied Sc,4,3.2,Sum1,87,2
22,901,UI. Wagon,Little Rock,Computer S,4,3.1,Sum1,84,2
23,902,C. Browner,Denver,Applied Sc,4,4.0,S,89,2
24,777,F. Anglic,Atlanta,Biology,2,3.9,S,90,3
25,779,BB. Goofan,Atlanta,Chemistry,2,2.1,F,91,3

In [9]:
cleaned_df3 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\cleaned_ds3.csv")
cleaned_df3

     ID        Name      Address         Major Degree  GPA Semester   Y Status
0   999   CK. Brown       Denver    Applied Sc     AS  4.0     Sum1  89      I
1   961   QT. Brady   Pine Bluff  Computer\nSc     AS  3.8     Sum2  87      I
2   962   UL. Jones  Little Rock  Computer\nSc     AS  3.1     Sum2  84      O
3   970   Bf. Brady  Little Rock    Applied Sc     AS  3.2     Sum1  92      O
4   975    CM. Cook  Little Rock       Biology     BS  2.2        F  87      O
5   412   DP. Morty      Atlanta       Biology     BA  3.9        S  84      O
6   971      UK. Yu       Conway     Secondary     MS  3.2        F  90      O
7   989  Li. Mooshe      Atlanta     Secondary     MS  3.9        F  90      N
8   998  Di. Morgan       Conway       Biology     MS  3.9        S  87      N
9   964   YH. Brady       Conway    Applied Sc     BA  3.2     Sum1  87      N
10  977   WT. Brady       Conway    Applied Sc     BA  3.2     Sum2  87      N
11  987    AC. Bank       Conway    Applied Sc     BA  3.2     Sum2  87      N
12  988     TP. Kim       Conway    Elementary     BS  3.2     Sum1  90      N
13  902   CY. Crema  Little Rock       Biology     BS  2.2        S  87      N
14  969    D. Abuly     Savannah     Economics     BS  3.9        S  90    NaN
15  968    G. Halky      Atlanta       B Admin     BS  2.9        S  90    NaN
16  967     W.Goast     Savannah    Accounting     BS  4.1        F  90    NaN
17  833   T. Chenty       Conway    Elementary     AS  3.2     Sum1  91    NaN
18  124     U. Algy       Denver    Applied Sc     AS  4.0        S  92      I
19  976  YI. Torgan       Conway       Biology     AS  3.9        S  87      I
20  100   D. Reddyg      Seattle       Info Sc     MS  2.1        F  90      I
21  969  Y. Bankrpt       Conway    Applied Sc     MS  3.2     Sum1  87      O
22  901   UI. Wagon  Little Rock    Computer S     MS  3.1     Sum1  84      O
23  902  C. Browner       Denver    Applied Sc     MS  4.0        S  89      O
24  777   F. Anglic      Atlanta       Biology     BS  3.9        S  90      N
25  779  BB. Goofan      Atlanta     Chemistry     BS  2.1        F  91      N

In [10]:
semcleaned_ds1_2 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\semcleaned_ds1_2.csv")
semcleaned_ds1_2

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,933,GG. Art,Savannah,English,BA,3.1,Sum2,1991,N
1,941,BB. Mercy,Savannah,English,MA,4.0,Sum2,1991,N
2,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,I
3,667,K. Chen,Conway,Elementary,EdD,3.2,Sum2,1992,O
4,529,M. Yu,Conway,Secondary,MS,3.2,S,1990,I
5,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,Invalid Date,1987,O
6,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,Sum1,1984,N
7,688,Y. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,N
8,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,F,1991,O
9,100,A. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,I
10,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1987,N
11,579,U. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,N
12,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,S,1992,I
13,300,C. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,I
14,400,D. Morty,Atlanta,Biology,BS,3.9,Sum1,1984,N
15,422,U. Yu,Conway,Secondary,MS,3.2,S,1990,O
16,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,Sum1,1990,O
17,401,D. Morgan,Conway,Biology,BS,3.9,Sum1,1987,I
18,702,Y. Brady,Conway,Applied Sc,PhD,3.2,S,1987,I
19,201,W. Brady,Conway,Applied Sc,PhD,3.2,S,1987,I
20,202,A. Bank,Conway,Applied Sc,PhD,3.2,Sum1,1987,N
21,415,T. King,Conway,Elementary,EdD,3.2,Sum2,1990,N
22,901,C. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,O
23,222,D. Abul,Savannah,Economics,BA,3.9,Sum2,1990,N
24,333,G. Halk,Atlanta,B Admin,MBA,2.9,Sum2,1990,N
25,431,W.Goos,Savannah,Accounting,BA,4.1,Sum2,1990,O
26,421,T. Chen,Conway,Elementary,EdD,3.2,Sum2,1991,I
27,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,F,1992,I
28,689,Y. Morgan,Conway,Biology,BS,3.9,Sum1,1987,N
29,195,D. Red,Seattle,Info Sc,BS,2.1,F,1990,O
30,703,Y. Bank,Conway,Applied Sc,PhD,3.2,Sum2,1987,O
31,665,Z. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,I
32,739,A. Moon,Little Rock,Computer Sc,BS,3.1,Sum1,1984,N
33,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,Sum1,1987,N
34,939,U. Wang,Little Rock,Computer Sc,AS,3.1,Sum2,1984,O
35,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,O
36,500,K.Bronz,Dallas,Chemistry,MS,3.2,Sum1,1988,O
37,132,A. White,Orlando,Computer Sc,AS,3.9,Sum2,1992,N
38,100,A. Jones,Little Rock,Computer Sc,MS,3.2,S,1987,N
39,232,K. Blue,Little Rock,English,AS,3.1,Sum2,1991,I
40,352,C. Black,Pine Bluff,Applied,PhD,3.8,Sum2,1990,O
41,600,C. Jones,Dallas,Info Sc,BS,4.0,F,1988,O
42,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1990,O
43,682,Y. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,O
44,400,D. Morty,Seattle,Info Sc,BS,2.1,F,1988,I
45,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Sum2,1988,I
46,590,X. Cook,Little Rock,Biology,AS,2.2,Sum1,1992,N
47,690,D. Brown,Atlanta,Biology,BS,3.9,Sum1,1988,N
48,175,K. Glob,Dallas,Applied Sc,PhD,3.2,Sum1,1989,N
49,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,S,1991,N
50,185,X. Jones,New York,Info Sc,BS,4.0,F,1990,N
51,700,A. Boss,Seattle,Elementary,MS,3.3,Sum2,1984,I
52,800,K. Queen,Conway,Elementary,EdD,3.2,Sum2,1989,O
53,416,T. Gola,Conway,Secondary,MS,3.2,S,1990,N
54,420,T. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,N
55,900,B. Gola,Conway,Secondary,MS,3.2,S,1987,I
56,955,K. Booth,Atlanta,Secondary,MS,3.9,S,1987,O
57,956,C. Jessy,Orlando,Applied Sc,MS,4.0,F,1989,O
58,150,A. Cool,Orlando,Computer Sc,MS,3.9,Sum2,1986,I
59,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Sum2,1986,N
60,350,C. Cool,Pine Bluff,Applied,MS,4.0,Sum2,1986,N
61,229,M. Katchal,Savannah,Economics,BA,3.0,Sum2,1991,N
62,339,H.Poory,Atlanta,B Admin,BA,3.9,Sum2,1987,N
63,439,H. Mishu,Savannah,Accounting,BA,2.8,Sum2,1987,O
64,329,G. Kooper,Savannah,Accounting,BA,3.0,Sum2,1991,N
65,339,M. Bayraq,Savannah,MBA,MBA,3.9,Sum2,1987,N
66,337,N. Mikhy,Savannah,B Admin,BA,2.8,Sum2,1987,O
67,650,D. Sorty,Atlanta,Biology,BS,3.9,Sum1,1984,N
68,750,K.Gold,Dallas,Applied Sc,PhD,3.2,Sum1,1984,N
69,850,F. Jones,New York,Info Sc,BS,4.0,F,1985,I
70,950,D. Golden,Seattle,Info Sc,BS,2.1,F,1985,I
71,165,A. Silver,Seattle,Elementary,MS,3.3,Sum2,1985,O
72,418,T. Brown,Denver,Applied Sc,PhD,4.0,F,1992,O
73,419,T. Red,Seattle,Info Sc,BS,2.1,F,1992,O
74,215,K. King,Conway,Elementary,EdD,3.2,Sum2,1984,N
75,315,M. Gola,Conway,English,MS,3.2,S,1984,N
76,255,K. Dool,Atlanta,Engl,MS,3.9,Sum1,1986,N
77,299,M. Golab,Seatel,Chemistry,BS,3.0,S,1992,N
78,199,K. Duell,Atlanta,Biology,AS,4.0,F,1988,I
79,473,M. Browny,Seattle,CS,PhD,4.0,S,1992,I
80,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,Sum1,1992,O
81,205,K. Minges,Conway,Elementary,EdD,3.2,Sum2,1984,N
82,305,H. Molar,Conway,Biology,MS,3.2,Sum1,1984,N
83,207,K. Goolar,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
84,107,M. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,N
85,305,M. Searsy,Conway,Biol,MS,3.2,Sum1,1984,N
86,207,P. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
87,107,M. Big,Little Rock,Chemistry,BS,3.9,S,1992,O
88,109,P. Board,Atlanta,Chem,AS,4.0,F,1988,I
89,305,M. Korp,Conway,Biology,MS,3.2,Sum1,1984,N
90,109,G. Bear,Little Rock,Biology,AS,4.0,F,1988,O
91,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,N
92,391,X. Searsy,Conway,Biology,MS,3.2,Sum1,1984,N
93,201,Y. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
94,117,W. Big,Little Rock,Chemistry,BS,3.9,S,1992,O
95,612,V. Board,Atlanta,Chemistry,AS,4.0,F,1988,I
96,305,M. Kartsoo,Conway,Biology,MS,3.2,Sum1,1984,N
97,609,N. Gearsal,Little Rock,Biology,BS,4.0,F,1988,O
98,615,K. Jiring,Conway,Element.,BA,3.2,Sum2,1984,N
99,715,M. Chendo,Conway,Secondary,MS,3.2,S,1984,N
100,855,Z. Megart,Atlanta,Secondary,MS,3.9,Sum1,1986,N
101,699,A. Woo,Seattle,Elementary,BA,3.0,S,1992,N
102,933,CC. Artian,Atlanta,English,BA,2.9,Sum2,1991,N
103,941,D. Merdoo,Atlanta,English,MA,2.8,Sum2,1991,N

## Merge Data

Perform a merge on an outer join since rows have different values.

In [11]:
merged_df = pd.merge(cleaned_df3, semcleaned_ds1_2, how='outer')
merged_df

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,AS,4.0,Sum1,89,I
1,961,QT. Brady,Pine Bluff,Computer\nSc,AS,3.8,Sum2,87,I
2,962,UL. Jones,Little Rock,Computer\nSc,AS,3.1,Sum2,84,O
3,970,Bf. Brady,Little Rock,Applied Sc,AS,3.2,Sum1,92,O
4,975,CM. Cook,Little Rock,Biology,BS,2.2,F,87,O
5,412,DP. Morty,Atlanta,Biology,BA,3.9,S,84,O
6,971,UK. Yu,Conway,Secondary,MS,3.2,F,90,O
7,989,Li. Mooshe,Atlanta,Secondary,MS,3.9,F,90,N
8,998,Di. Morgan,Conway,Biology,MS,3.9,S,87,N
9,964,YH. Brady,Conway,Applied Sc,BA,3.2,Sum1,87,N
10,977,WT. Brady,Conway,Applied Sc,BA,3.2,Sum2,87,N
11,987,AC. Bank,Conway,Applied Sc,BA,3.2,Sum2,87,N
12,988,TP. Kim,Conway,Elementary,BS,3.2,Sum1,90,N
13,902,CY. Crema,Little Rock,Biology,BS,2.2,S,87,N
14,969,D. Abuly,Savannah,Economics,BS,3.9,S,90,NaN
15,968,G. Halky,Atlanta,B Admin,BS,2.9,S,90,NaN
16,967,W.Goast,Savannah,Accounting,BS,4.1,F,90,NaN
17,833,T. Chenty,Conway,Elementary,AS,3.2,Sum1,91,NaN
18,124,U. Algy,Denver,Applied Sc,AS,4.0,S,92,I
19,976,YI. Torgan,Conway,Biology,AS,3.9,S,87,I
20,100,D. Reddyg,Seattle,Info Sc,MS,2.1,F,90,I
21,969,Y. Bankrpt,Conway,Applied Sc,MS,3.2,Sum1,87,O
22,901,UI. Wagon,Little Rock,Computer S,MS,3.1,Sum1,84,O
23,902,C. Browner,Denver,Applied Sc,MS,4.0,S,89,O
24,777,F. Anglic,Atlanta,Biology,BS,3.9,S,90,N
25,779,BB. Goofan,Atlanta,Chemistry,BS,2.1,F,91,N
26,933,GG. Art,Savannah,English,BA,3.1,Sum2,1991,N
27,941,BB. Mercy,Savannah,English,MA,4.0,Sum2,1991,N
28,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,I
29,667,K. Chen,Conway,Elementary,EdD,3.2,Sum2,1992,O
30,529,M. Yu,Conway,Secondary,MS,3.2,S,1990,I
31,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,Invalid Date,1987,O
32,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,Sum1,1984,N
33,688,Y. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,N
34,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,F,1991,O
35,100,A. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,I
36,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1987,N
37,579,U. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,N
38,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,S,1992,I
39,300,C. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,I
40,400,D. Morty,Atlanta,Biology,BS,3.9,Sum1,1984,N
41,422,U. Yu,Conway,Secondary,MS,3.2,S,1990,O
42,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,Sum1,1990,O
43,401,D. Morgan,Conway,Biology,BS,3.9,Sum1,1987,I
44,702,Y. Brady,Conway,Applied Sc,PhD,3.2,S,1987,I
45,201,W. Brady,Conway,Applied Sc,PhD,3.2,S,1987,I
46,202,A. Bank,Conway,Applied Sc,PhD,3.2,Sum1,1987,N
47,415,T. King,Conway,Elementary,EdD,3.2,Sum2,1990,N
48,901,C. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,O
49,222,D. Abul,Savannah,Economics,BA,3.9,Sum2,1990,N
50,333,G. Halk,Atlanta,B Admin,MBA,2.9,Sum2,1990,N
51,431,W.Goos,Savannah,Accounting,BA,4.1,Sum2,1990,O
52,421,T. Chen,Conway,Elementary,EdD,3.2,Sum2,1991,I
53,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,F,1992,I
54,689,Y. Morgan,Conway,Biology,BS,3.9,Sum1,1987,N
55,195,D. Red,Seattle,Info Sc,BS,2.1,F,1990,O
56,703,Y. Bank,Conway,Applied Sc,PhD,3.2,Sum2,1987,O
57,665,Z. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,I
58,739,A. Moon,Little Rock,Computer Sc,BS,3.1,Sum1,1984,N
59,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,Sum1,1987,N
60,939,U. Wang,Little Rock,Computer Sc,AS,3.1,Sum2,1984,O
61,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,O
62,500,K.Bronz,Dallas,Chemistry,MS,3.2,Sum1,1988,O
63,132,A. White,Orlando,Computer Sc,AS,3.9,Sum2,1992,N
64,100,A. Jones,Little Rock,Computer Sc,MS,3.2,S,1987,N
65,232,K. Blue,Little Rock,English,AS,3.1,Sum2,1991,I
66,352,C. Black,Pine Bluff,Applied,PhD,3.8,Sum2,1990,O
67,600,C. Jones,Dallas,Info Sc,BS,4.0,F,1988,O
68,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1990,O
69,682,Y. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,O
70,400,D. Morty,Seattle,Info Sc,BS,2.1,F,1988,I
71,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Sum2,1988,I
72,590,X. Cook,Little Rock,Biology,AS,2.2,Sum1,1992,N
73,690,D. Brown,Atlanta,Biology,BS,3.9,Sum1,1988,N
74,175,K. Glob,Dallas,Applied Sc,PhD,3.2,Sum1,1989,N
75,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,S,1991,N
76,185,X. Jones,New York,Info Sc,BS,4.0,F,1990,N
77,700,A. Boss,Seattle,Elementary,MS,3.3,Sum2,1984,I
78,800,K. Queen,Conway,Elementary,EdD,3.2,Sum2,1989,O
79,416,T. Gola,Conway,Secondary,MS,3.2,S,1990,N
80,420,T. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,N
81,900,B. Gola,Conway,Secondary,MS,3.2,S,1987,I
82,955,K. Booth,Atlanta,Secondary,MS,3.9,S,1987,O
83,956,C. Jessy,Orlando,Applied Sc,MS,4.0,F,1989,O
84,150,A. Cool,Orlando,Computer Sc,MS,3.9,Sum2,1986,I
85,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Sum2,1986,N
86,350,C. Cool,Pine Bluff,Applied,MS,4.0,Sum2,1986,N
87,229,M. Katchal,Savannah,Economics,BA,3.0,Sum2,1991,N
88,339,H.Poory,Atlanta,B Admin,BA,3.9,Sum2,1987,N
89,439,H. Mishu,Savannah,Accounting,BA,2.8,Sum2,1987,O
90,329,G. Kooper,Savannah,Accounting,BA,3.0,Sum2,1991,N
91,339,M. Bayraq,Savannah,MBA,MBA,3.9,Sum2,1987,N
92,337,N. Mikhy,Savannah,B Admin,BA,2.8,Sum2,1987,O
93,650,D. Sorty,Atlanta,Biology,BS,3.9,Sum1,1984,N
94,750,K.Gold,Dallas,Applied Sc,PhD,3.2,Sum1,1984,N
95,850,F. Jones,New York,Info Sc,BS,4.0,F,1985,I
96,950,D. Golden,Seattle,Info Sc,BS,2.1,F,1985,I
97,165,A. Silver,Seattle,Elementary,MS,3.3,Sum2,1985,O
98,418,T. Brown,Denver,Applied Sc,PhD,4.0,F,1992,O
99,419,T. Red,Seattle,Info Sc,BS,2.1,F,1992,O
100,215,K. King,Conway,Elementary,EdD,3.2,Sum2,1984,N
101,315,M. Gola,Conway,English,MS,3.2,S,1984,N
102,255,K. Dool,Atlanta,Engl,MS,3.9,Sum1,1986,N
103,299,M. Golab,Seatel,Chemistry,BS,3.0,S,1992,N
104,199,K. Duell,Atlanta,Biology,AS,4.0,F,1988,I
105,473,M. Browny,Seattle,CS,PhD,4.0,S,1992,I
106,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,Sum1,1992,O
107,205,K. Minges,Conway,Elementary,EdD,3.2,Sum2,1984,N
108,305,H. Molar,Conway,Biology,MS,3.2,Sum1,1984,N
109,207,K. Goolar,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
110,107,M. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,N
111,305,M. Searsy,Conway,Biol,MS,3.2,Sum1,1984,N
112,207,P. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
113,107,M. Big,Little Rock,Chemistry,BS,3.9,S,1992,O
114,109,P. Board,Atlanta,Chem,AS,4.0,F,1988,I
115,305,M. Korp,Conway,Biology,MS,3.2,Sum1,1984,N
116,109,G. Bear,Little Rock,Biology,AS,4.0,F,1988,O
117,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,N
118,391,X. Searsy,Conway,Biology,MS,3.2,Sum1,1984,N
119,201,Y. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
120,117,W. Big,Little Rock,Chemistry,BS,3.9,S,1992,O
121,612,V. Board,Atlanta,Chemistry,AS,4.0,F,1988,I
122,305,M. Kartsoo,Conway,Biology,MS,3.2,Sum1,1984,N
123,609,N. Gearsal,Little Rock,Biology,BS,4.0,F,1988,O
124,615,K. Jiring,Conway,Element.,BA,3.2,Sum2,1984,N
125,715,M. Chendo,Conway,Secondary,MS,3.2,S,1984,N
126,855,Z. Megart,Atlanta,Secondary,MS,3.9,Sum1,1986,N
127,699,A. Woo,Seattle,Elementary,BA,3.0,S,1992,N
128,933,CC. Artian,Atlanta,English,BA,2.9,Sum2,1991,N
129,941,D. Merdoo,Atlanta,English,MA,2.8,Sum2,1991,N

Save a csv file of the merged data for more processing and cleaning

In [12]:
dirty_merge_df = merged_df.copy()
dirty_merge_df.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\dirty_merge_df.csv', index=False)

### Read in new merged CSV File

In [13]:
dirty_merge_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\dirty_merge_df.csv")
dirty_merge_df

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,AS,4.0,Sum1,89,I
1,961,QT. Brady,Pine Bluff,Computer\nSc,AS,3.8,Sum2,87,I
2,962,UL. Jones,Little Rock,Computer\nSc,AS,3.1,Sum2,84,O
3,970,Bf. Brady,Little Rock,Applied Sc,AS,3.2,Sum1,92,O
4,975,CM. Cook,Little Rock,Biology,BS,2.2,F,87,O
5,412,DP. Morty,Atlanta,Biology,BA,3.9,S,84,O
6,971,UK. Yu,Conway,Secondary,MS,3.2,F,90,O
7,989,Li. Mooshe,Atlanta,Secondary,MS,3.9,F,90,N
8,998,Di. Morgan,Conway,Biology,MS,3.9,S,87,N
9,964,YH. Brady,Conway,Applied Sc,BA,3.2,Sum1,87,N
10,977,WT. Brady,Conway,Applied Sc,BA,3.2,Sum2,87,N
11,987,AC. Bank,Conway,Applied Sc,BA,3.2,Sum2,87,N
12,988,TP. Kim,Conway,Elementary,BS,3.2,Sum1,90,N
13,902,CY. Crema,Little Rock,Biology,BS,2.2,S,87,N
14,969,D. Abuly,Savannah,Economics,BS,3.9,S,90,NaN
15,968,G. Halky,Atlanta,B Admin,BS,2.9,S,90,NaN
16,967,W.Goast,Savannah,Accounting,BS,4.1,F,90,NaN
17,833,T. Chenty,Conway,Elementary,AS,3.2,Sum1,91,NaN
18,124,U. Algy,Denver,Applied Sc,AS,4.0,S,92,I
19,976,YI. Torgan,Conway,Biology,AS,3.9,S,87,I
20,100,D. Reddyg,Seattle,Info Sc,MS,2.1,F,90,I
21,969,Y. Bankrpt,Conway,Applied Sc,MS,3.2,Sum1,87,O
22,901,UI. Wagon,Little Rock,Computer S,MS,3.1,Sum1,84,O
23,902,C. Browner,Denver,Applied Sc,MS,4.0,S,89,O
24,777,F. Anglic,Atlanta,Biology,BS,3.9,S,90,N
25,779,BB. Goofan,Atlanta,Chemistry,BS,2.1,F,91,N
26,933,GG. Art,Savannah,English,BA,3.1,Sum2,1991,N
27,941,BB. Mercy,Savannah,English,MA,4.0,Sum2,1991,N
28,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,I
29,667,K. Chen,Conway,Elementary,EdD,3.2,Sum2,1992,O
30,529,M. Yu,Conway,Secondary,MS,3.2,S,1990,I
31,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,Invalid Date,1987,O
32,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,Sum1,1984,N
33,688,Y. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,N
34,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,F,1991,O
35,100,A. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,I
36,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1987,N
37,579,U. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,N
38,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,S,1992,I
39,300,C. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,I
40,400,D. Morty,Atlanta,Biology,BS,3.9,Sum1,1984,N
41,422,U. Yu,Conway,Secondary,MS,3.2,S,1990,O
42,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,Sum1,1990,O
43,401,D. Morgan,Conway,Biology,BS,3.9,Sum1,1987,I
44,702,Y. Brady,Conway,Applied Sc,PhD,3.2,S,1987,I
45,201,W. Brady,Conway,Applied Sc,PhD,3.2,S,1987,I
46,202,A. Bank,Conway,Applied Sc,PhD,3.2,Sum1,1987,N
47,415,T. King,Conway,Elementary,EdD,3.2,Sum2,1990,N
48,901,C. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,O
49,222,D. Abul,Savannah,Economics,BA,3.9,Sum2,1990,N
50,333,G. Halk,Atlanta,B Admin,MBA,2.9,Sum2,1990,N
51,431,W.Goos,Savannah,Accounting,BA,4.1,Sum2,1990,O
52,421,T. Chen,Conway,Elementary,EdD,3.2,Sum2,1991,I
53,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,F,1992,I
54,689,Y. Morgan,Conway,Biology,BS,3.9,Sum1,1987,N
55,195,D. Red,Seattle,Info Sc,BS,2.1,F,1990,O
56,703,Y. Bank,Conway,Applied Sc,PhD,3.2,Sum2,1987,O
57,665,Z. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,I
58,739,A. Moon,Little Rock,Computer Sc,BS,3.1,Sum1,1984,N
59,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,Sum1,1987,N
60,939,U. Wang,Little Rock,Computer Sc,AS,3.1,Sum2,1984,O
61,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,O
62,500,K.Bronz,Dallas,Chemistry,MS,3.2,Sum1,1988,O
63,132,A. White,Orlando,Computer Sc,AS,3.9,Sum2,1992,N
64,100,A. Jones,Little Rock,Computer Sc,MS,3.2,S,1987,N
65,232,K. Blue,Little Rock,English,AS,3.1,Sum2,1991,I
66,352,C. Black,Pine Bluff,Applied,PhD,3.8,Sum2,1990,O
67,600,C. Jones,Dallas,Info Sc,BS,4.0,F,1988,O
68,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1990,O
69,682,Y. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,O
70,400,D. Morty,Seattle,Info Sc,BS,2.1,F,1988,I
71,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Sum2,1988,I
72,590,X. Cook,Little Rock,Biology,AS,2.2,Sum1,1992,N
73,690,D. Brown,Atlanta,Biology,BS,3.9,Sum1,1988,N
74,175,K. Glob,Dallas,Applied Sc,PhD,3.2,Sum1,1989,N
75,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,S,1991,N
76,185,X. Jones,New York,Info Sc,BS,4.0,F,1990,N
77,700,A. Boss,Seattle,Elementary,MS,3.3,Sum2,1984,I
78,800,K. Queen,Conway,Elementary,EdD,3.2,Sum2,1989,O
79,416,T. Gola,Conway,Secondary,MS,3.2,S,1990,N
80,420,T. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,N
81,900,B. Gola,Conway,Secondary,MS,3.2,S,1987,I
82,955,K. Booth,Atlanta,Secondary,MS,3.9,S,1987,O
83,956,C. Jessy,Orlando,Applied Sc,MS,4.0,F,1989,O
84,150,A. Cool,Orlando,Computer Sc,MS,3.9,Sum2,1986,I
85,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Sum2,1986,N
86,350,C. Cool,Pine Bluff,Applied,MS,4.0,Sum2,1986,N
87,229,M. Katchal,Savannah,Economics,BA,3.0,Sum2,1991,N
88,339,H.Poory,Atlanta,B Admin,BA,3.9,Sum2,1987,N
89,439,H. Mishu,Savannah,Accounting,BA,2.8,Sum2,1987,O
90,329,G. Kooper,Savannah,Accounting,BA,3.0,Sum2,1991,N
91,339,M. Bayraq,Savannah,MBA,MBA,3.9,Sum2,1987,N
92,337,N. Mikhy,Savannah,B Admin,BA,2.8,Sum2,1987,O
93,650,D. Sorty,Atlanta,Biology,BS,3.9,Sum1,1984,N
94,750,K.Gold,Dallas,Applied Sc,PhD,3.2,Sum1,1984,N
95,850,F. Jones,New York,Info Sc,BS,4.0,F,1985,I
96,950,D. Golden,Seattle,Info Sc,BS,2.1,F,1985,I
97,165,A. Silver,Seattle,Elementary,MS,3.3,Sum2,1985,O
98,418,T. Brown,Denver,Applied Sc,PhD,4.0,F,1992,O
99,419,T. Red,Seattle,Info Sc,BS,2.1,F,1992,O
100,215,K. King,Conway,Elementary,EdD,3.2,Sum2,1984,N
101,315,M. Gola,Conway,English,MS,3.2,S,1984,N
102,255,K. Dool,Atlanta,Engl,MS,3.9,Sum1,1986,N
103,299,M. Golab,Seatel,Chemistry,BS,3.0,S,1992,N
104,199,K. Duell,Atlanta,Biology,AS,4.0,F,1988,I
105,473,M. Browny,Seattle,CS,PhD,4.0,S,1992,I
106,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,Sum1,1992,O
107,205,K. Minges,Conway,Elementary,EdD,3.2,Sum2,1984,N
108,305,H. Molar,Conway,Biology,MS,3.2,Sum1,1984,N
109,207,K. Goolar,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
110,107,M. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,N
111,305,M. Searsy,Conway,Biol,MS,3.2,Sum1,1984,N
112,207,P. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
113,107,M. Big,Little Rock,Chemistry,BS,3.9,S,1992,O
114,109,P. Board,Atlanta,Chem,AS,4.0,F,1988,I
115,305,M. Korp,Conway,Biology,MS,3.2,Sum1,1984,N
116,109,G. Bear,Little Rock,Biology,AS,4.0,F,1988,O
117,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,N
118,391,X. Searsy,Conway,Biology,MS,3.2,Sum1,1984,N
119,201,Y. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,N
120,117,W. Big,Little Rock,Chemistry,BS,3.9,S,1992,O
121,612,V. Board,Atlanta,Chemistry,AS,4.0,F,1988,I
122,305,M. Kartsoo,Conway,Biology,MS,3.2,Sum1,1984,N
123,609,N. Gearsal,Little Rock,Biology,BS,4.0,F,1988,O
124,615,K. Jiring,Conway,Element.,BA,3.2,Sum2,1984,N
125,715,M. Chendo,Conway,Secondary,MS,3.2,S,1984,N
126,855,Z. Megart,Atlanta,Secondary,MS,3.9,Sum1,1986,N
127,699,A. Woo,Seattle,Elementary,BA,3.0,S,1992,N
128,933,CC. Artian,Atlanta,English,BA,2.9,Sum2,1991,N
129,941,D. Merdoo,Atlanta,English,MA,2.8,Sum2,1991,N

### Read in newer merged CSV File

In [14]:
halfcleaned_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\halfcleaned_df.csv")
halfcleaned_df

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,AS,4.0,Sum1,1989,International Student
1,961,QT. Brady,Pine Bluff,Computer\nSc,AS,3.8,Sum2,1987,International Student
2,962,UL. Jones,Little Rock,Computer\nSc,AS,3.1,Sum2,1984,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,AS,3.2,Sum1,1992,Out of state
4,975,CM. Cook,Little Rock,Biology,BS,2.2,F,1987,Out of state
5,412,DP. Morty,Atlanta,Biology,BA,3.9,S,1984,Out of state
6,971,UK. Yu,Conway,Secondary,MS,3.2,F,1990,Out of state
7,989,Li. Mooshe,Atlanta,Secondary,MS,3.9,F,1990,Non-of-the above
8,998,Di. Morgan,Conway,Biology,MS,3.9,S,1987,Non-of-the above
9,964,YH. Brady,Conway,Applied Sc,BA,3.2,Sum1,1987,Non-of-the above
10,977,WT. Brady,Conway,Applied Sc,BA,3.2,Sum2,1987,Non-of-the above
11,987,AC. Bank,Conway,Applied Sc,BA,3.2,Sum2,1987,Non-of-the above
12,988,TP. Kim,Conway,Elementary,BS,3.2,Sum1,1990,Non-of-the above
13,902,CY. Crema,Little Rock,Biology,BS,2.2,S,1987,Non-of-the above
14,969,D. Abuly,Savannah,Economics,BS,3.9,S,1990,NaN
15,968,G. Halky,Atlanta,B Admin,BS,2.9,S,1990,NaN
16,967,W.Goast,Savannah,Accounting,BS,4.1,F,1990,NaN
17,833,T. Chenty,Conway,Elementary,AS,3.2,Sum1,1991,NaN
18,124,U. Algy,Denver,Applied Sc,AS,4.0,S,1992,International Student
19,976,YI. Torgan,Conway,Biology,AS,3.9,S,1987,International Student
20,100,D. Reddyg,Seattle,Info Sc,MS,2.1,F,1990,International Student
21,969,Y. Bankrpt,Conway,Applied Sc,MS,3.2,Sum1,1987,Out of state
22,901,UI. Wagon,Little Rock,Computer S,MS,3.1,Sum1,1984,Out of state
23,902,C. Browner,Denver,Applied Sc,MS,4.0,S,1989,Out of state
24,777,F. Anglic,Atlanta,Biology,BS,3.9,S,1990,Non-of-the above
25,779,BB. Goofan,Atlanta,Chemistry,BS,2.1,F,1991,Non-of-the above
26,933,GG. Art,Savannah,English,BA,3.1,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,MA,4.0,Sum2,1991,Non-of-the above
28,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,International Student
29,667,K. Chen,Conway,Elementary,EdD,3.2,Sum2,1992,Out of state
30,529,M. Yu,Conway,Secondary,MS,3.2,S,1990,International Student
31,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,Invalid Date,1987,Out of state
32,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,Sum1,1984,Non-of-the above
33,688,Y. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,Non-of-the above
34,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,F,1991,Out of state
35,100,A. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,International Student
36,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1987,Non-of-the above
37,579,U. Jones,Little Rock,Computer Sc,BS,3.1,S,1984,Non-of-the above
38,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,S,1992,International Student
39,300,C. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,International Student
40,400,D. Morty,Atlanta,Biology,BS,3.9,Sum1,1984,Non-of-the above
41,422,U. Yu,Conway,Secondary,MS,3.2,S,1990,Out of state
42,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,Sum1,1990,Out of state
43,401,D. Morgan,Conway,Biology,BS,3.9,Sum1,1987,International Student
44,702,Y. Brady,Conway,Applied Sc,PhD,3.2,S,1987,International Student
45,201,W. Brady,Conway,Applied Sc,PhD,3.2,S,1987,International Student
46,202,A. Bank,Conway,Applied Sc,PhD,3.2,Sum1,1987,Non-of-the above
47,415,T. King,Conway,Elementary,EdD,3.2,Sum2,1990,Non-of-the above
48,901,C. Crema,Little Rock,Biology,AS,2.2,Sum1,1987,Out of state
49,222,D. Abul,Savannah,Economics,BA,3.9,Sum2,1990,Non-of-the above
50,333,G. Halk,Atlanta,B Admin,MBA,2.9,Sum2,1990,Non-of-the above
51,431,W.Goos,Savannah,Accounting,BA,4.1,Sum2,1990,Out of state
52,421,T. Chen,Conway,Elementary,EdD,3.2,Sum2,1991,International Student
53,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,F,1992,International Student
54,689,Y. Morgan,Conway,Biology,BS,3.9,Sum1,1987,Non-of-the above
55,195,D. Red,Seattle,Info Sc,BS,2.1,F,1990,Out of state
56,703,Y. Bank,Conway,Applied Sc,PhD,3.2,Sum2,1987,Out of state
57,665,Z. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,International Student
58,739,A. Moon,Little Rock,Computer Sc,BS,3.1,Sum1,1984,Non-of-the above
59,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,Sum1,1987,Non-of-the above
60,939,U. Wang,Little Rock,Computer Sc,AS,3.1,Sum2,1984,Out of state
61,356,C. Brown,Denver,Applied Sc,PhD,4.0,F,1989,Out of state
62,500,K.Bronz,Dallas,Chemistry,MS,3.2,Sum1,1988,Out of state
63,132,A. White,Orlando,Computer Sc,AS,3.9,Sum2,1992,Non-of-the above
64,100,A. Jones,Little Rock,Computer Sc,MS,3.2,S,1987,Non-of-the above
65,232,K. Blue,Little Rock,English,AS,3.1,Sum2,1991,International Student
66,352,C. Black,Pine Bluff,Applied,PhD,3.8,Sum2,1990,Out of state
67,600,C. Jones,Dallas,Info Sc,BS,4.0,F,1988,Out of state
68,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,S,1990,Out of state
69,682,Y. Cook,Little Rock,Biology,BS,2.2,Sum1,1987,Out of state
70,400,D. Morty,Seattle,Info Sc,BS,2.1,F,1988,International Student
71,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Sum2,1988,International Student
72,590,X. Cook,Little Rock,Biology,AS,2.2,Sum1,1992,Non-of-the above
73,690,D. Brown,Atlanta,Biology,BS,3.9,Sum1,1988,Non-of-the above
74,175,K. Glob,Dallas,Applied Sc,PhD,3.2,Sum1,1989,Non-of-the above
75,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,S,1991,Non-of-the above
76,185,X. Jones,New York,Info Sc,BS,4.0,F,1990,Non-of-the above
77,700,A. Boss,Seattle,Elementary,MS,3.3,Sum2,1984,International Student
78,800,K. Queen,Conway,Elementary,EdD,3.2,Sum2,1989,Out of state
79,416,T. Gola,Conway,Secondary,MS,3.2,S,1990,Non-of-the above
80,420,T. Silver,Seattle,Elementary,EdD,3.3,Sum2,1991,Non-of-the above
81,900,B. Gola,Conway,Secondary,MS,3.2,S,1987,International Student
82,955,K. Booth,Atlanta,Secondary,MS,3.9,S,1987,Out of state
83,956,C. Jessy,Orlando,Applied Sc,MS,4.0,F,1989,Out of state
84,150,A. Cool,Orlando,Computer Sc,MS,3.9,Sum2,1986,International Student
85,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Sum2,1986,Non-of-the above
86,350,C. Cool,Pine Bluff,Applied,MS,4.0,Sum2,1986,Non-of-the above
87,229,M. Katchal,Savannah,Economics,BA,3.0,Sum2,1991,Non-of-the above
88,339,H.Poory,Atlanta,B Admin,BA,3.9,Sum2,1987,Non-of-the above
89,439,H. Mishu,Savannah,Accounting,BA,2.8,Sum2,1987,Out of state
90,329,G. Kooper,Savannah,Accounting,BA,3.0,Sum2,1991,Non-of-the above
91,339,M. Bayraq,Savannah,MBA,MBA,3.9,Sum2,1987,Non-of-the above
92,337,N. Mikhy,Savannah,B Admin,BA,2.8,Sum2,1987,Out of state
93,650,D. Sorty,Atlanta,Biology,BS,3.9,Sum1,1984,Non-of-the above
94,750,K.Gold,Dallas,Applied Sc,PhD,3.2,Sum1,1984,Non-of-the above
95,850,F. Jones,New York,Info Sc,BS,4.0,F,1985,International Student
96,950,D. Golden,Seattle,Info Sc,BS,2.1,F,1985,International Student
97,165,A. Silver,Seattle,Elementary,MS,3.3,Sum2,1985,Out of state
98,418,T. Brown,Denver,Applied Sc,PhD,4.0,F,1992,Out of state
99,419,T. Red,Seattle,Info Sc,BS,2.1,F,1992,Out of state
100,215,K. King,Conway,Elementary,EdD,3.2,Sum2,1984,Non-of-the above
101,315,M. Gola,Conway,English,MS,3.2,S,1984,Non-of-the above
102,255,K. Dool,Atlanta,Engl,MS,3.9,Sum1,1986,Non-of-the above
103,299,M. Golab,Seatel,Chemistry,BS,3.0,S,1992,Non-of-the above
104,199,K. Duell,Atlanta,Biology,AS,4.0,F,1988,International Student
105,473,M. Browny,Seattle,CS,PhD,4.0,S,1992,International Student
106,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,Sum1,1992,Out of state
107,205,K. Minges,Conway,Elementary,EdD,3.2,Sum2,1984,Non-of-the above
108,305,H. Molar,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
109,207,K. Goolar,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
110,107,M. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,Non-of-the above
111,305,M. Searsy,Conway,Biol,MS,3.2,Sum1,1984,Non-of-the above
112,207,P. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
113,107,M. Big,Little Rock,Chemistry,BS,3.9,S,1992,Out of state
114,109,P. Board,Atlanta,Chem,AS,4.0,F,1988,International Student
115,305,M. Korp,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
116,109,G. Bear,Little Rock,Biology,AS,4.0,F,1988,Out of state
117,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,S,1992,Non-of-the above
118,391,X. Searsy,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
119,201,Y. Little,Atlanta,Chemistry,MS,3.9,Sum1,1986,Non-of-the above
120,117,W. Big,Little Rock,Chemistry,BS,3.9,S,1992,Out of state
121,612,V. Board,Atlanta,Chemistry,AS,4.0,F,1988,International Student
122,305,M. Kartsoo,Conway,Biology,MS,3.2,Sum1,1984,Non-of-the above
123,609,N. Gearsal,Little Rock,Biology,BS,4.0,F,1988,Out of state
124,615,K. Jiring,Conway,Element.,BA,3.2,Sum2,1984,Non-of-the above
125,715,M. Chendo,Conway,Secondary,MS,3.2,S,1984,Non-of-the above
126,855,Z. Megart,Atlanta,Secondary,MS,3.9,Sum1,1986,Non-of-the above
127,699,A. Woo,Seattle,Elementary,BA,3.0,S,1992,Non-of-the above
128,933,CC. Artian,Atlanta,English,BA,2.9,Sum2,1991,Non-of-the above
129,941,D. Merdoo,Atlanta,English,MA,2.8,Sum2,1991,Non-of-the above

# Clean Merged Data

## Degree Column Update

Convert degree column abreviations to full string degree titles.

In [15]:
degrees = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\datasources1_2_degrees.csv")

In [16]:
degree_mapping = dict(zip(degrees['Classification'], degrees['Degrees']))
degree_mapping

{'AS': 'Associate degree',
 'BS': 'Bachelor of Science',
 'BA': 'Bachelor of Art',
 'MS': 'Master of Science',
 'MA': 'Master of Art',
 'MBA': 'Master of Business Administration',
 'EdD': 'Doctor of Education',
 'PhD': 'Doctor of Philosophy'}

In [17]:
# to be used after merging to fix status to full strings. 
halfcleaned_df['Degree'] = halfcleaned_df['Degree'].map(degree_mapping)
halfcleaned_df

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,Associate degree,4.0,Sum1,1989,International Student
1,961,QT. Brady,Pine Bluff,Computer\nSc,Associate degree,3.8,Sum2,1987,International Student
2,962,UL. Jones,Little Rock,Computer\nSc,Associate degree,3.1,Sum2,1984,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,Associate degree,3.2,Sum1,1992,Out of state
4,975,CM. Cook,Little Rock,Biology,Bachelor of Science,2.2,F,1987,Out of state
5,412,DP. Morty,Atlanta,Biology,Bachelor of Art,3.9,S,1984,Out of state
6,971,UK. Yu,Conway,Secondary,Master of Science,3.2,F,1990,Out of state
7,989,Li. Mooshe,Atlanta,Secondary,Master of Science,3.9,F,1990,Non-of-the above
8,998,Di. Morgan,Conway,Biology,Master of Science,3.9,S,1987,Non-of-the above
9,964,YH. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum1,1987,Non-of-the above
10,977,WT. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
11,987,AC. Bank,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
12,988,TP. Kim,Conway,Elementary,Bachelor of Science,3.2,Sum1,1990,Non-of-the above
13,902,CY. Crema,Little Rock,Biology,Bachelor of Science,2.2,S,1987,Non-of-the above
14,969,D. Abuly,Savannah,Economics,Bachelor of Science,3.9,S,1990,NaN
15,968,G. Halky,Atlanta,B Admin,Bachelor of Science,2.9,S,1990,NaN
16,967,W.Goast,Savannah,Accounting,Bachelor of Science,4.1,F,1990,NaN
17,833,T. Chenty,Conway,Elementary,Associate degree,3.2,Sum1,1991,NaN
18,124,U. Algy,Denver,Applied Sc,Associate degree,4.0,S,1992,International Student
19,976,YI. Torgan,Conway,Biology,Associate degree,3.9,S,1987,International Student
20,100,D. Reddyg,Seattle,Info Sc,Master of Science,2.1,F,1990,International Student
21,969,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,Sum1,1987,Out of state
22,901,UI. Wagon,Little Rock,Computer S,Master of Science,3.1,Sum1,1984,Out of state
23,902,C. Browner,Denver,Applied Sc,Master of Science,4.0,S,1989,Out of state
24,777,F. Anglic,Atlanta,Biology,Bachelor of Science,3.9,S,1990,Non-of-the above
25,779,BB. Goofan,Atlanta,Chemistry,Bachelor of Science,2.1,F,1991,Non-of-the above
26,933,GG. Art,Savannah,English,Bachelor of Art,3.1,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,Master of Art,4.0,Sum2,1991,Non-of-the above
28,356,C. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1989,International Student
29,667,K. Chen,Conway,Elementary,Doctor of Education,3.2,Sum2,1992,Out of state
30,529,M. Yu,Conway,Secondary,Master of Science,3.2,S,1990,International Student
31,552,K. Ahmad,Atlanta,Secondary,Doctor of Education,3.9,Invalid Date,1987,Out of state
32,687,Y. Morty,Atlanta,Computer Sc,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
33,688,Y. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Non-of-the above
34,653,C. Alshukri,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1991,Out of state
35,100,A. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,S,1984,International Student
36,986,Q. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,S,1987,Non-of-the above
37,579,U. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,S,1984,Non-of-the above
38,200,B. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,S,1992,International Student
39,300,C. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,International Student
40,400,D. Morty,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
41,422,U. Yu,Conway,Secondary,Master of Science,3.2,S,1990,Out of state
42,423,U. Mooshe,Atlanta,Secondary,Doctor of Education,3.9,Sum1,1990,Out of state
43,401,D. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,International Student
44,702,Y. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,S,1987,International Student
45,201,W. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,S,1987,International Student
46,202,A. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum1,1987,Non-of-the above
47,415,T. King,Conway,Elementary,Doctor of Education,3.2,Sum2,1990,Non-of-the above
48,901,C. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Out of state
49,222,D. Abul,Savannah,Economics,Bachelor of Art,3.9,Sum2,1990,Non-of-the above
50,333,G. Halk,Atlanta,B Admin,Master of Business Administration,2.9,Sum2,1990,Non-of-the above
51,431,W.Goos,Savannah,Accounting,Bachelor of Art,4.1,Sum2,1990,Out of state
52,421,T. Chen,Conway,Elementary,Doctor of Education,3.2,Sum2,1991,International Student
53,524,U. Alramzy,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,International Student
54,689,Y. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,Non-of-the above
55,195,D. Red,Seattle,Info Sc,Bachelor of Science,2.1,F,1990,Out of state
56,703,Y. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum2,1987,Out of state
57,665,Z. Silver,Seattle,Elementary,Doctor of Education,3.3,Sum2,1991,International Student
58,739,A. Moon,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum1,1984,Non-of-the above
59,839,Q. Robe,Pine Bluff,Computer Sc,Master of Science,3.8,Sum1,1987,Non-of-the above
60,939,U. Wang,Little Rock,Computer Sc,Associate degree,3.1,Sum2,1984,Out of state
61,356,C. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1989,Out of state
62,500,K.Bronz,Dallas,Chemistry,Master of Science,3.2,Sum1,1988,Out of state
63,132,A. White,Orlando,Computer Sc,Associate degree,3.9,Sum2,1992,Non-of-the above
64,100,A. Jones,Little Rock,Computer Sc,Master of Science,3.2,S,1987,Non-of-the above
65,232,K. Blue,Little Rock,English,Associate degree,3.1,Sum2,1991,International Student
66,352,C. Black,Pine Bluff,Applied,Doctor of Philosophy,3.8,Sum2,1990,Out of state
67,600,C. Jones,Dallas,Info Sc,Bachelor of Science,4.0,F,1988,Out of state
68,680,Y. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,S,1990,Out of state
69,682,Y. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,Out of state
70,400,D. Morty,Seattle,Info Sc,Bachelor of Science,2.1,F,1988,International Student
71,452,N. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,Sum2,1988,International Student
72,590,X. Cook,Little Rock,Biology,Associate degree,2.2,Sum1,1992,Non-of-the above
73,690,D. Brown,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1988,Non-of-the above
74,175,K. Glob,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1989,Non-of-the above
75,681,Y. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,S,1991,Non-of-the above
76,185,X. Jones,New York,Info Sc,Bachelor of Science,4.0,F,1990,Non-of-the above
77,700,A. Boss,Seattle,Elementary,Master of Science,3.3,Sum2,1984,International Student
78,800,K. Queen,Conway,Elementary,Doctor of Education,3.2,Sum2,1989,Out of state
79,416,T. Gola,Conway,Secondary,Master of Science,3.2,S,1990,Non-of-the above
80,420,T. Silver,Seattle,Elementary,Doctor of Education,3.3,Sum2,1991,Non-of-the above
81,900,B. Gola,Conway,Secondary,Master of Science,3.2,S,1987,International Student
82,955,K. Booth,Atlanta,Secondary,Master of Science,3.9,S,1987,Out of state
83,956,C. Jessy,Orlando,Applied Sc,Master of Science,4.0,F,1989,Out of state
84,150,A. Cool,Orlando,Computer Sc,Master of Science,3.9,Sum2,1986,International Student
85,250,K. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum2,1986,Non-of-the above
86,350,C. Cool,Pine Bluff,Applied,Master of Science,4.0,Sum2,1986,Non-of-the above
87,229,M. Katchal,Savannah,Economics,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
88,339,H.Poory,Atlanta,B Admin,Bachelor of Art,3.9,Sum2,1987,Non-of-the above
89,439,H. Mishu,Savannah,Accounting,Bachelor of Art,2.8,Sum2,1987,Out of state
90,329,G. Kooper,Savannah,Accounting,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
91,339,M. Bayraq,Savannah,MBA,Master of Business Administration,3.9,Sum2,1987,Non-of-the above
92,337,N. Mikhy,Savannah,B Admin,Bachelor of Art,2.8,Sum2,1987,Out of state
93,650,D. Sorty,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
94,750,K.Gold,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1984,Non-of-the above
95,850,F. Jones,New York,Info Sc,Bachelor of Science,4.0,F,1985,International Student
96,950,D. Golden,Seattle,Info Sc,Bachelor of Science,2.1,F,1985,International Student
97,165,A. Silver,Seattle,Elementary,Master of Science,3.3,Sum2,1985,Out of state
98,418,T. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,Out of state
99,419,T. Red,Seattle,Info Sc,Bachelor of Science,2.1,F,1992,Out of state
100,215,K. King,Conway,Elementary,Doctor of Education,3.2,Sum2,1984,Non-of-the above
101,315,M. Gola,Conway,English,Master of Science,3.2,S,1984,Non-of-the above
102,255,K. Dool,Atlanta,Engl,Master of Science,3.9,Sum1,1986,Non-of-the above
103,299,M. Golab,Seatel,Chemistry,Bachelor of Science,3.0,S,1992,Non-of-the above
104,199,K. Duell,Atlanta,Biology,Associate degree,4.0,F,1988,International Student
105,473,M. Browny,Seattle,CS,Doctor of Philosophy,4.0,S,1992,International Student
106,407,T. Doolak,Seattle,BusinessAD,Master of Business Administration,3.1,Sum1,1992,Out of state
107,205,K. Minges,Conway,Elementary,Doctor of Education,3.2,Sum2,1984,Non-of-the above
108,305,H. Molar,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
109,207,K. Goolar,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
110,107,M. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
111,305,M. Searsy,Conway,Biol,Master of Science,3.2,Sum1,1984,Non-of-the above
112,207,P. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
113,107,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
114,109,P. Board,Atlanta,Chem,Associate degree,4.0,F,1988,International Student
115,305,M. Korp,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
116,109,G. Bear,Little Rock,Biology,Associate degree,4.0,F,1988,Out of state
117,591,Z. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
118,391,X. Searsy,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
119,201,Y. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
120,117,W. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
121,612,V. Board,Atlanta,Chemistry,Associate degree,4.0,F,1988,International Student
122,305,M. Kartsoo,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
123,609,N. Gearsal,Little Rock,Biology,Bachelor of Science,4.0,F,1988,Out of state
124,615,K. Jiring,Conway,Element.,Bachelor of Art,3.2,Sum2,1984,Non-of-the above
125,715,M. Chendo,Conway,Secondary,Master of Science,3.2,S,1984,Non-of-the above
126,855,Z. Megart,Atlanta,Secondary,Master of Science,3.9,Sum1,1986,Non-of-the above
127,699,A. Woo,Seattle,Elementary,Bachelor of Art,3.0,S,1992,Non-of-the above
128,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Sum2,1991,Non-of-the above
129,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Sum2,1991,Non-of-the above

## 'Name' Column

#### Find duplicates in the 'Name' column.

In [18]:
# duplicates = df1_2[df1_2.duplicated(subset=['ID', 'Name'], keep=False)]
name_duplicates = halfcleaned_df[halfcleaned_df.duplicated('Name', keep=False)]
name_duplicates

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
28,356,C. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1989,International Student
35,100,A. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,S,1984,International Student
40,400,D. Morty,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
44,702,Y. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,S,1987,International Student
61,356,C. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1989,Out of state
64,100,A. Jones,Little Rock,Computer Sc,Master of Science,3.2,S,1987,Non-of-the above
68,680,Y. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,S,1990,Out of state
70,400,D. Morty,Seattle,Info Sc,Bachelor of Science,2.1,F,1988,International Student
75,681,Y. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,S,1991,Non-of-the above

Count how many duplicates were found.

In [19]:
name_duplicates.shape

(9, 9)

These duplicates are indetermanable without more information.
Indeterminable factors: 
    Different and Inconsistent Status'
We will save them to a new csv file named deleted_name_duplicates to inquire about the records.

In [20]:
name_duplicates.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\deleted_name_duplicates.csv', index=False)

Now we drop the 'Name' duplicates from the original d1_2 dataframe.

In [21]:
halfcleaned_df = halfcleaned_df.drop_duplicates(subset='Name', keep=False)
halfcleaned_df

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,Associate degree,4.0,Sum1,1989,International Student
1,961,QT. Brady,Pine Bluff,Computer\nSc,Associate degree,3.8,Sum2,1987,International Student
2,962,UL. Jones,Little Rock,Computer\nSc,Associate degree,3.1,Sum2,1984,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,Associate degree,3.2,Sum1,1992,Out of state
4,975,CM. Cook,Little Rock,Biology,Bachelor of Science,2.2,F,1987,Out of state
5,412,DP. Morty,Atlanta,Biology,Bachelor of Art,3.9,S,1984,Out of state
6,971,UK. Yu,Conway,Secondary,Master of Science,3.2,F,1990,Out of state
7,989,Li. Mooshe,Atlanta,Secondary,Master of Science,3.9,F,1990,Non-of-the above
8,998,Di. Morgan,Conway,Biology,Master of Science,3.9,S,1987,Non-of-the above
9,964,YH. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum1,1987,Non-of-the above
10,977,WT. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
11,987,AC. Bank,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
12,988,TP. Kim,Conway,Elementary,Bachelor of Science,3.2,Sum1,1990,Non-of-the above
13,902,CY. Crema,Little Rock,Biology,Bachelor of Science,2.2,S,1987,Non-of-the above
14,969,D. Abuly,Savannah,Economics,Bachelor of Science,3.9,S,1990,NaN
15,968,G. Halky,Atlanta,B Admin,Bachelor of Science,2.9,S,1990,NaN
16,967,W.Goast,Savannah,Accounting,Bachelor of Science,4.1,F,1990,NaN
17,833,T. Chenty,Conway,Elementary,Associate degree,3.2,Sum1,1991,NaN
18,124,U. Algy,Denver,Applied Sc,Associate degree,4.0,S,1992,International Student
19,976,YI. Torgan,Conway,Biology,Associate degree,3.9,S,1987,International Student
20,100,D. Reddyg,Seattle,Info Sc,Master of Science,2.1,F,1990,International Student
21,969,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,Sum1,1987,Out of state
22,901,UI. Wagon,Little Rock,Computer S,Master of Science,3.1,Sum1,1984,Out of state
23,902,C. Browner,Denver,Applied Sc,Master of Science,4.0,S,1989,Out of state
24,777,F. Anglic,Atlanta,Biology,Bachelor of Science,3.9,S,1990,Non-of-the above
25,779,BB. Goofan,Atlanta,Chemistry,Bachelor of Science,2.1,F,1991,Non-of-the above
26,933,GG. Art,Savannah,English,Bachelor of Art,3.1,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,Master of Art,4.0,Sum2,1991,Non-of-the above
29,667,K. Chen,Conway,Elementary,Doctor of Education,3.2,Sum2,1992,Out of state
30,529,M. Yu,Conway,Secondary,Master of Science,3.2,S,1990,International Student
31,552,K. Ahmad,Atlanta,Secondary,Doctor of Education,3.9,Invalid Date,1987,Out of state
32,687,Y. Morty,Atlanta,Computer Sc,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
33,688,Y. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Non-of-the above
34,653,C. Alshukri,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1991,Out of state
36,986,Q. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,S,1987,Non-of-the above
37,579,U. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,S,1984,Non-of-the above
38,200,B. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,S,1992,International Student
39,300,C. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,International Student
41,422,U. Yu,Conway,Secondary,Master of Science,3.2,S,1990,Out of state
42,423,U. Mooshe,Atlanta,Secondary,Doctor of Education,3.9,Sum1,1990,Out of state
43,401,D. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,International Student
45,201,W. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,S,1987,International Student
46,202,A. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum1,1987,Non-of-the above
47,415,T. King,Conway,Elementary,Doctor of Education,3.2,Sum2,1990,Non-of-the above
48,901,C. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Out of state
49,222,D. Abul,Savannah,Economics,Bachelor of Art,3.9,Sum2,1990,Non-of-the above
50,333,G. Halk,Atlanta,B Admin,Master of Business Administration,2.9,Sum2,1990,Non-of-the above
51,431,W.Goos,Savannah,Accounting,Bachelor of Art,4.1,Sum2,1990,Out of state
52,421,T. Chen,Conway,Elementary,Doctor of Education,3.2,Sum2,1991,International Student
53,524,U. Alramzy,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,International Student
54,689,Y. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,Non-of-the above
55,195,D. Red,Seattle,Info Sc,Bachelor of Science,2.1,F,1990,Out of state
56,703,Y. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum2,1987,Out of state
57,665,Z. Silver,Seattle,Elementary,Doctor of Education,3.3,Sum2,1991,International Student
58,739,A. Moon,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum1,1984,Non-of-the above
59,839,Q. Robe,Pine Bluff,Computer Sc,Master of Science,3.8,Sum1,1987,Non-of-the above
60,939,U. Wang,Little Rock,Computer Sc,Associate degree,3.1,Sum2,1984,Out of state
62,500,K.Bronz,Dallas,Chemistry,Master of Science,3.2,Sum1,1988,Out of state
63,132,A. White,Orlando,Computer Sc,Associate degree,3.9,Sum2,1992,Non-of-the above
65,232,K. Blue,Little Rock,English,Associate degree,3.1,Sum2,1991,International Student
66,352,C. Black,Pine Bluff,Applied,Doctor of Philosophy,3.8,Sum2,1990,Out of state
67,600,C. Jones,Dallas,Info Sc,Bachelor of Science,4.0,F,1988,Out of state
69,682,Y. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,Out of state
71,452,N. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,Sum2,1988,International Student
72,590,X. Cook,Little Rock,Biology,Associate degree,2.2,Sum1,1992,Non-of-the above
73,690,D. Brown,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1988,Non-of-the above
74,175,K. Glob,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1989,Non-of-the above
76,185,X. Jones,New York,Info Sc,Bachelor of Science,4.0,F,1990,Non-of-the above
77,700,A. Boss,Seattle,Elementary,Master of Science,3.3,Sum2,1984,International Student
78,800,K. Queen,Conway,Elementary,Doctor of Education,3.2,Sum2,1989,Out of state
79,416,T. Gola,Conway,Secondary,Master of Science,3.2,S,1990,Non-of-the above
80,420,T. Silver,Seattle,Elementary,Doctor of Education,3.3,Sum2,1991,Non-of-the above
81,900,B. Gola,Conway,Secondary,Master of Science,3.2,S,1987,International Student
82,955,K. Booth,Atlanta,Secondary,Master of Science,3.9,S,1987,Out of state
83,956,C. Jessy,Orlando,Applied Sc,Master of Science,4.0,F,1989,Out of state
84,150,A. Cool,Orlando,Computer Sc,Master of Science,3.9,Sum2,1986,International Student
85,250,K. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum2,1986,Non-of-the above
86,350,C. Cool,Pine Bluff,Applied,Master of Science,4.0,Sum2,1986,Non-of-the above
87,229,M. Katchal,Savannah,Economics,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
88,339,H.Poory,Atlanta,B Admin,Bachelor of Art,3.9,Sum2,1987,Non-of-the above
89,439,H. Mishu,Savannah,Accounting,Bachelor of Art,2.8,Sum2,1987,Out of state
90,329,G. Kooper,Savannah,Accounting,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
91,339,M. Bayraq,Savannah,MBA,Master of Business Administration,3.9,Sum2,1987,Non-of-the above
92,337,N. Mikhy,Savannah,B Admin,Bachelor of Art,2.8,Sum2,1987,Out of state
93,650,D. Sorty,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
94,750,K.Gold,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1984,Non-of-the above
95,850,F. Jones,New York,Info Sc,Bachelor of Science,4.0,F,1985,International Student
96,950,D. Golden,Seattle,Info Sc,Bachelor of Science,2.1,F,1985,International Student
97,165,A. Silver,Seattle,Elementary,Master of Science,3.3,Sum2,1985,Out of state
98,418,T. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,Out of state
99,419,T. Red,Seattle,Info Sc,Bachelor of Science,2.1,F,1992,Out of state
100,215,K. King,Conway,Elementary,Doctor of Education,3.2,Sum2,1984,Non-of-the above
101,315,M. Gola,Conway,English,Master of Science,3.2,S,1984,Non-of-the above
102,255,K. Dool,Atlanta,Engl,Master of Science,3.9,Sum1,1986,Non-of-the above
103,299,M. Golab,Seatel,Chemistry,Bachelor of Science,3.0,S,1992,Non-of-the above
104,199,K. Duell,Atlanta,Biology,Associate degree,4.0,F,1988,International Student
105,473,M. Browny,Seattle,CS,Doctor of Philosophy,4.0,S,1992,International Student
106,407,T. Doolak,Seattle,BusinessAD,Master of Business Administration,3.1,Sum1,1992,Out of state
107,205,K. Minges,Conway,Elementary,Doctor of Education,3.2,Sum2,1984,Non-of-the above
108,305,H. Molar,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
109,207,K. Goolar,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
110,107,M. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
111,305,M. Searsy,Conway,Biol,Master of Science,3.2,Sum1,1984,Non-of-the above
112,207,P. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
113,107,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
114,109,P. Board,Atlanta,Chem,Associate degree,4.0,F,1988,International Student
115,305,M. Korp,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
116,109,G. Bear,Little Rock,Biology,Associate degree,4.0,F,1988,Out of state
117,591,Z. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
118,391,X. Searsy,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
119,201,Y. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
120,117,W. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
121,612,V. Board,Atlanta,Chemistry,Associate degree,4.0,F,1988,International Student
122,305,M. Kartsoo,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
123,609,N. Gearsal,Little Rock,Biology,Bachelor of Science,4.0,F,1988,Out of state
124,615,K. Jiring,Conway,Element.,Bachelor of Art,3.2,Sum2,1984,Non-of-the above
125,715,M. Chendo,Conway,Secondary,Master of Science,3.2,S,1984,Non-of-the above
126,855,Z. Megart,Atlanta,Secondary,Master of Science,3.9,Sum1,1986,Non-of-the above
127,699,A. Woo,Seattle,Elementary,Bachelor of Art,3.0,S,1992,Non-of-the above
128,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Sum2,1991,Non-of-the above
129,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Sum2,1991,Non-of-the above

In [22]:
cleaned_5_9_df = halfcleaned_df.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\cleaned_5_9_df.csv', index=False)
cleaned_5_9_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\cleaned_5_9_df.csv")
cleaned_5_9_df

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,Associate degree,4.0,Sum1,1989,International Student
1,961,QT. Brady,Pine Bluff,Computer\nSc,Associate degree,3.8,Sum2,1987,International Student
2,962,UL. Jones,Little Rock,Computer\nSc,Associate degree,3.1,Sum2,1984,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,Associate degree,3.2,Sum1,1992,Out of state
4,975,CM. Cook,Little Rock,Biology,Bachelor of Science,2.2,F,1987,Out of state
5,412,DP. Morty,Atlanta,Biology,Bachelor of Art,3.9,S,1984,Out of state
6,971,UK. Yu,Conway,Secondary,Master of Science,3.2,F,1990,Out of state
7,989,Li. Mooshe,Atlanta,Secondary,Master of Science,3.9,F,1990,Non-of-the above
8,998,Di. Morgan,Conway,Biology,Master of Science,3.9,S,1987,Non-of-the above
9,964,YH. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum1,1987,Non-of-the above
10,977,WT. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
11,987,AC. Bank,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
12,988,TP. Kim,Conway,Elementary,Bachelor of Science,3.2,Sum1,1990,Non-of-the above
13,902,CY. Crema,Little Rock,Biology,Bachelor of Science,2.2,S,1987,Non-of-the above
14,969,D. Abuly,Savannah,Economics,Bachelor of Science,3.9,S,1990,NaN
15,968,G. Halky,Atlanta,B Admin,Bachelor of Science,2.9,S,1990,NaN
16,967,W.Goast,Savannah,Accounting,Bachelor of Science,4.1,F,1990,NaN
17,833,T. Chenty,Conway,Elementary,Associate degree,3.2,Sum1,1991,NaN
18,124,U. Algy,Denver,Applied Sc,Associate degree,4.0,S,1992,International Student
19,976,YI. Torgan,Conway,Biology,Associate degree,3.9,S,1987,International Student
20,100,D. Reddyg,Seattle,Info Sc,Master of Science,2.1,F,1990,International Student
21,969,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,Sum1,1987,Out of state
22,901,UI. Wagon,Little Rock,Computer S,Master of Science,3.1,Sum1,1984,Out of state
23,902,C. Browner,Denver,Applied Sc,Master of Science,4.0,S,1989,Out of state
24,777,F. Anglic,Atlanta,Biology,Bachelor of Science,3.9,S,1990,Non-of-the above
25,779,BB. Goofan,Atlanta,Chemistry,Bachelor of Science,2.1,F,1991,Non-of-the above
26,933,GG. Art,Savannah,English,Bachelor of Art,3.1,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,Master of Art,4.0,Sum2,1991,Non-of-the above
28,667,K. Chen,Conway,Elementary,Doctor of Education,3.2,Sum2,1992,Out of state
29,529,M. Yu,Conway,Secondary,Master of Science,3.2,S,1990,International Student
30,552,K. Ahmad,Atlanta,Secondary,Doctor of Education,3.9,Invalid Date,1987,Out of state
31,687,Y. Morty,Atlanta,Computer Sc,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
32,688,Y. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Non-of-the above
33,653,C. Alshukri,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1991,Out of state
34,986,Q. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,S,1987,Non-of-the above
35,579,U. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,S,1984,Non-of-the above
36,200,B. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,S,1992,International Student
37,300,C. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,International Student
38,422,U. Yu,Conway,Secondary,Master of Science,3.2,S,1990,Out of state
39,423,U. Mooshe,Atlanta,Secondary,Doctor of Education,3.9,Sum1,1990,Out of state
40,401,D. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,International Student
41,201,W. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,S,1987,International Student
42,202,A. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum1,1987,Non-of-the above
43,415,T. King,Conway,Elementary,Doctor of Education,3.2,Sum2,1990,Non-of-the above
44,901,C. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Out of state
45,222,D. Abul,Savannah,Economics,Bachelor of Art,3.9,Sum2,1990,Non-of-the above
46,333,G. Halk,Atlanta,B Admin,Master of Business Administration,2.9,Sum2,1990,Non-of-the above
47,431,W.Goos,Savannah,Accounting,Bachelor of Art,4.1,Sum2,1990,Out of state
48,421,T. Chen,Conway,Elementary,Doctor of Education,3.2,Sum2,1991,International Student
49,524,U. Alramzy,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,International Student
50,689,Y. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,Non-of-the above
51,195,D. Red,Seattle,Info Sc,Bachelor of Science,2.1,F,1990,Out of state
52,703,Y. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum2,1987,Out of state
53,665,Z. Silver,Seattle,Elementary,Doctor of Education,3.3,Sum2,1991,International Student
54,739,A. Moon,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum1,1984,Non-of-the above
55,839,Q. Robe,Pine Bluff,Computer Sc,Master of Science,3.8,Sum1,1987,Non-of-the above
56,939,U. Wang,Little Rock,Computer Sc,Associate degree,3.1,Sum2,1984,Out of state
57,500,K.Bronz,Dallas,Chemistry,Master of Science,3.2,Sum1,1988,Out of state
58,132,A. White,Orlando,Computer Sc,Associate degree,3.9,Sum2,1992,Non-of-the above
59,232,K. Blue,Little Rock,English,Associate degree,3.1,Sum2,1991,International Student
60,352,C. Black,Pine Bluff,Applied,Doctor of Philosophy,3.8,Sum2,1990,Out of state
61,600,C. Jones,Dallas,Info Sc,Bachelor of Science,4.0,F,1988,Out of state
62,682,Y. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,Out of state
63,452,N. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,Sum2,1988,International Student
64,590,X. Cook,Little Rock,Biology,Associate degree,2.2,Sum1,1992,Non-of-the above
65,690,D. Brown,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1988,Non-of-the above
66,175,K. Glob,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1989,Non-of-the above
67,185,X. Jones,New York,Info Sc,Bachelor of Science,4.0,F,1990,Non-of-the above
68,700,A. Boss,Seattle,Elementary,Master of Science,3.3,Sum2,1984,International Student
69,800,K. Queen,Conway,Elementary,Doctor of Education,3.2,Sum2,1989,Out of state
70,416,T. Gola,Conway,Secondary,Master of Science,3.2,S,1990,Non-of-the above
71,420,T. Silver,Seattle,Elementary,Doctor of Education,3.3,Sum2,1991,Non-of-the above
72,900,B. Gola,Conway,Secondary,Master of Science,3.2,S,1987,International Student
73,955,K. Booth,Atlanta,Secondary,Master of Science,3.9,S,1987,Out of state
74,956,C. Jessy,Orlando,Applied Sc,Master of Science,4.0,F,1989,Out of state
75,150,A. Cool,Orlando,Computer Sc,Master of Science,3.9,Sum2,1986,International Student
76,250,K. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum2,1986,Non-of-the above
77,350,C. Cool,Pine Bluff,Applied,Master of Science,4.0,Sum2,1986,Non-of-the above
78,229,M. Katchal,Savannah,Economics,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
79,339,H.Poory,Atlanta,B Admin,Bachelor of Art,3.9,Sum2,1987,Non-of-the above
80,439,H. Mishu,Savannah,Accounting,Bachelor of Art,2.8,Sum2,1987,Out of state
81,329,G. Kooper,Savannah,Accounting,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
82,339,M. Bayraq,Savannah,MBA,Master of Business Administration,3.9,Sum2,1987,Non-of-the above
83,337,N. Mikhy,Savannah,B Admin,Bachelor of Art,2.8,Sum2,1987,Out of state
84,650,D. Sorty,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
85,750,K.Gold,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1984,Non-of-the above
86,850,F. Jones,New York,Info Sc,Bachelor of Science,4.0,F,1985,International Student
87,950,D. Golden,Seattle,Info Sc,Bachelor of Science,2.1,F,1985,International Student
88,165,A. Silver,Seattle,Elementary,Master of Science,3.3,Sum2,1985,Out of state
89,418,T. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,Out of state
90,419,T. Red,Seattle,Info Sc,Bachelor of Science,2.1,F,1992,Out of state
91,215,K. King,Conway,Elementary,Doctor of Education,3.2,Sum2,1984,Non-of-the above
92,315,M. Gola,Conway,English,Master of Science,3.2,S,1984,Non-of-the above
93,255,K. Dool,Atlanta,Engl,Master of Science,3.9,Sum1,1986,Non-of-the above
94,299,M. Golab,Seatel,Chemistry,Bachelor of Science,3.0,S,1992,Non-of-the above
95,199,K. Duell,Atlanta,Biology,Associate degree,4.0,F,1988,International Student
96,473,M. Browny,Seattle,CS,Doctor of Philosophy,4.0,S,1992,International Student
97,407,T. Doolak,Seattle,BusinessAD,Master of Business Administration,3.1,Sum1,1992,Out of state
98,205,K. Minges,Conway,Elementary,Doctor of Education,3.2,Sum2,1984,Non-of-the above
99,305,H. Molar,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
100,207,K. Goolar,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
101,107,M. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
102,305,M. Searsy,Conway,Biol,Master of Science,3.2,Sum1,1984,Non-of-the above
103,207,P. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
104,107,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
105,109,P. Board,Atlanta,Chem,Associate degree,4.0,F,1988,International Student
106,305,M. Korp,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
107,109,G. Bear,Little Rock,Biology,Associate degree,4.0,F,1988,Out of state
108,591,Z. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
109,391,X. Searsy,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
110,201,Y. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
111,117,W. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
112,612,V. Board,Atlanta,Chemistry,Associate degree,4.0,F,1988,International Student
113,305,M. Kartsoo,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
114,609,N. Gearsal,Little Rock,Biology,Bachelor of Science,4.0,F,1988,Out of state
115,615,K. Jiring,Conway,Element.,Bachelor of Art,3.2,Sum2,1984,Non-of-the above
116,715,M. Chendo,Conway,Secondary,Master of Science,3.2,S,1984,Non-of-the above
117,855,Z. Megart,Atlanta,Secondary,Master of Science,3.9,Sum1,1986,Non-of-the above
118,699,A. Woo,Seattle,Elementary,Bachelor of Art,3.0,S,1992,Non-of-the above
119,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Sum2,1991,Non-of-the above
120,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Sum2,1991,Non-of-the above

## 'ID' Column

### Find duplicates in the 'ID' column

In [23]:
cleaned_5_9_df[cleaned_5_9_df.duplicated('ID', keep=False)]

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
13,902,CY. Crema,Little Rock,Biology,Bachelor of Science,2.2,S,1987,Non-of-the above
14,969,D. Abuly,Savannah,Economics,Bachelor of Science,3.9,S,1990,NaN
21,969,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,Sum1,1987,Out of state
22,901,UI. Wagon,Little Rock,Computer S,Master of Science,3.1,Sum1,1984,Out of state
23,902,C. Browner,Denver,Applied Sc,Master of Science,4.0,S,1989,Out of state
26,933,GG. Art,Savannah,English,Bachelor of Art,3.1,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,Master of Art,4.0,Sum2,1991,Non-of-the above
41,201,W. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,S,1987,International Student
44,901,C. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Out of state
79,339,H.Poory,Atlanta,B Admin,Bachelor of Art,3.9,Sum2,1987,Non-of-the above
82,339,M. Bayraq,Savannah,MBA,Master of Business Administration,3.9,Sum2,1987,Non-of-the above
99,305,H. Molar,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
100,207,K. Goolar,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
101,107,M. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
102,305,M. Searsy,Conway,Biol,Master of Science,3.2,Sum1,1984,Non-of-the above
103,207,P. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
104,107,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
105,109,P. Board,Atlanta,Chem,Associate degree,4.0,F,1988,International Student
106,305,M. Korp,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
107,109,G. Bear,Little Rock,Biology,Associate degree,4.0,F,1988,Out of state
110,201,Y. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
113,305,M. Kartsoo,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
119,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Sum2,1991,Non-of-the above
120,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Sum2,1991,Non-of-the above

In [24]:
# duplicates = df1_2[df1_2.duplicated(subset=['ID', 'Name'], keep=False)]
# id_duplicates = df1_2[df1_2.duplicated('ID', keep = False)]
id_duplicates = cleaned_5_9_df[cleaned_5_9_df.duplicated('ID', keep = 'first')]
id_duplicates

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
21,969,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,Sum1,1987,Out of state
23,902,C. Browner,Denver,Applied Sc,Master of Science,4.0,S,1989,Out of state
44,901,C. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Out of state
82,339,M. Bayraq,Savannah,MBA,Master of Business Administration,3.9,Sum2,1987,Non-of-the above
102,305,M. Searsy,Conway,Biol,Master of Science,3.2,Sum1,1984,Non-of-the above
103,207,P. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
104,107,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
106,305,M. Korp,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
107,109,G. Bear,Little Rock,Biology,Associate degree,4.0,F,1988,Out of state
110,201,Y. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
113,305,M. Kartsoo,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
119,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Sum2,1991,Non-of-the above
120,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Sum2,1991,Non-of-the above

In [25]:
id_duplicates.shape

(13, 9)

For duplicates found in the column ID, generate 3-digit numbers to replace each duplicate

In [26]:
for index, row in id_duplicates.iterrows():
    new_id = np.random.randint(100, 1000)  # Generate a random 3-digit number
    while new_id in cleaned_5_9_df['ID'].values:  # Ensure uniqueness against entire 'ID' column
        new_id = np.random.randint(100, 1000)
    cleaned_5_9_df.at[index, 'ID'] = new_id

In [27]:
cleaned_5_9_df

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,Associate degree,4.0,Sum1,1989,International Student
1,961,QT. Brady,Pine Bluff,Computer\nSc,Associate degree,3.8,Sum2,1987,International Student
2,962,UL. Jones,Little Rock,Computer\nSc,Associate degree,3.1,Sum2,1984,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,Associate degree,3.2,Sum1,1992,Out of state
4,975,CM. Cook,Little Rock,Biology,Bachelor of Science,2.2,F,1987,Out of state
5,412,DP. Morty,Atlanta,Biology,Bachelor of Art,3.9,S,1984,Out of state
6,971,UK. Yu,Conway,Secondary,Master of Science,3.2,F,1990,Out of state
7,989,Li. Mooshe,Atlanta,Secondary,Master of Science,3.9,F,1990,Non-of-the above
8,998,Di. Morgan,Conway,Biology,Master of Science,3.9,S,1987,Non-of-the above
9,964,YH. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum1,1987,Non-of-the above
10,977,WT. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
11,987,AC. Bank,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
12,988,TP. Kim,Conway,Elementary,Bachelor of Science,3.2,Sum1,1990,Non-of-the above
13,902,CY. Crema,Little Rock,Biology,Bachelor of Science,2.2,S,1987,Non-of-the above
14,969,D. Abuly,Savannah,Economics,Bachelor of Science,3.9,S,1990,NaN
15,968,G. Halky,Atlanta,B Admin,Bachelor of Science,2.9,S,1990,NaN
16,967,W.Goast,Savannah,Accounting,Bachelor of Science,4.1,F,1990,NaN
17,833,T. Chenty,Conway,Elementary,Associate degree,3.2,Sum1,1991,NaN
18,124,U. Algy,Denver,Applied Sc,Associate degree,4.0,S,1992,International Student
19,976,YI. Torgan,Conway,Biology,Associate degree,3.9,S,1987,International Student
20,100,D. Reddyg,Seattle,Info Sc,Master of Science,2.1,F,1990,International Student
21,405,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,Sum1,1987,Out of state
22,901,UI. Wagon,Little Rock,Computer S,Master of Science,3.1,Sum1,1984,Out of state
23,332,C. Browner,Denver,Applied Sc,Master of Science,4.0,S,1989,Out of state
24,777,F. Anglic,Atlanta,Biology,Bachelor of Science,3.9,S,1990,Non-of-the above
25,779,BB. Goofan,Atlanta,Chemistry,Bachelor of Science,2.1,F,1991,Non-of-the above
26,933,GG. Art,Savannah,English,Bachelor of Art,3.1,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,Master of Art,4.0,Sum2,1991,Non-of-the above
28,667,K. Chen,Conway,Elementary,Doctor of Education,3.2,Sum2,1992,Out of state
29,529,M. Yu,Conway,Secondary,Master of Science,3.2,S,1990,International Student
30,552,K. Ahmad,Atlanta,Secondary,Doctor of Education,3.9,Invalid Date,1987,Out of state
31,687,Y. Morty,Atlanta,Computer Sc,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
32,688,Y. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Non-of-the above
33,653,C. Alshukri,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1991,Out of state
34,986,Q. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,S,1987,Non-of-the above
35,579,U. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,S,1984,Non-of-the above
36,200,B. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,S,1992,International Student
37,300,C. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,International Student
38,422,U. Yu,Conway,Secondary,Master of Science,3.2,S,1990,Out of state
39,423,U. Mooshe,Atlanta,Secondary,Doctor of Education,3.9,Sum1,1990,Out of state
40,401,D. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,International Student
41,201,W. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,S,1987,International Student
42,202,A. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum1,1987,Non-of-the above
43,415,T. King,Conway,Elementary,Doctor of Education,3.2,Sum2,1990,Non-of-the above
44,510,C. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Out of state
45,222,D. Abul,Savannah,Economics,Bachelor of Art,3.9,Sum2,1990,Non-of-the above
46,333,G. Halk,Atlanta,B Admin,Master of Business Administration,2.9,Sum2,1990,Non-of-the above
47,431,W.Goos,Savannah,Accounting,Bachelor of Art,4.1,Sum2,1990,Out of state
48,421,T. Chen,Conway,Elementary,Doctor of Education,3.2,Sum2,1991,International Student
49,524,U. Alramzy,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,International Student
50,689,Y. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,Non-of-the above
51,195,D. Red,Seattle,Info Sc,Bachelor of Science,2.1,F,1990,Out of state
52,703,Y. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum2,1987,Out of state
53,665,Z. Silver,Seattle,Elementary,Doctor of Education,3.3,Sum2,1991,International Student
54,739,A. Moon,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum1,1984,Non-of-the above
55,839,Q. Robe,Pine Bluff,Computer Sc,Master of Science,3.8,Sum1,1987,Non-of-the above
56,939,U. Wang,Little Rock,Computer Sc,Associate degree,3.1,Sum2,1984,Out of state
57,500,K.Bronz,Dallas,Chemistry,Master of Science,3.2,Sum1,1988,Out of state
58,132,A. White,Orlando,Computer Sc,Associate degree,3.9,Sum2,1992,Non-of-the above
59,232,K. Blue,Little Rock,English,Associate degree,3.1,Sum2,1991,International Student
60,352,C. Black,Pine Bluff,Applied,Doctor of Philosophy,3.8,Sum2,1990,Out of state
61,600,C. Jones,Dallas,Info Sc,Bachelor of Science,4.0,F,1988,Out of state
62,682,Y. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,Out of state
63,452,N. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,Sum2,1988,International Student
64,590,X. Cook,Little Rock,Biology,Associate degree,2.2,Sum1,1992,Non-of-the above
65,690,D. Brown,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1988,Non-of-the above
66,175,K. Glob,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1989,Non-of-the above
67,185,X. Jones,New York,Info Sc,Bachelor of Science,4.0,F,1990,Non-of-the above
68,700,A. Boss,Seattle,Elementary,Master of Science,3.3,Sum2,1984,International Student
69,800,K. Queen,Conway,Elementary,Doctor of Education,3.2,Sum2,1989,Out of state
70,416,T. Gola,Conway,Secondary,Master of Science,3.2,S,1990,Non-of-the above
71,420,T. Silver,Seattle,Elementary,Doctor of Education,3.3,Sum2,1991,Non-of-the above
72,900,B. Gola,Conway,Secondary,Master of Science,3.2,S,1987,International Student
73,955,K. Booth,Atlanta,Secondary,Master of Science,3.9,S,1987,Out of state
74,956,C. Jessy,Orlando,Applied Sc,Master of Science,4.0,F,1989,Out of state
75,150,A. Cool,Orlando,Computer Sc,Master of Science,3.9,Sum2,1986,International Student
76,250,K. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum2,1986,Non-of-the above
77,350,C. Cool,Pine Bluff,Applied,Master of Science,4.0,Sum2,1986,Non-of-the above
78,229,M. Katchal,Savannah,Economics,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
79,339,H.Poory,Atlanta,B Admin,Bachelor of Art,3.9,Sum2,1987,Non-of-the above
80,439,H. Mishu,Savannah,Accounting,Bachelor of Art,2.8,Sum2,1987,Out of state
81,329,G. Kooper,Savannah,Accounting,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
82,673,M. Bayraq,Savannah,MBA,Master of Business Administration,3.9,Sum2,1987,Non-of-the above
83,337,N. Mikhy,Savannah,B Admin,Bachelor of Art,2.8,Sum2,1987,Out of state
84,650,D. Sorty,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
85,750,K.Gold,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1984,Non-of-the above
86,850,F. Jones,New York,Info Sc,Bachelor of Science,4.0,F,1985,International Student
87,950,D. Golden,Seattle,Info Sc,Bachelor of Science,2.1,F,1985,International Student
88,165,A. Silver,Seattle,Elementary,Master of Science,3.3,Sum2,1985,Out of state
89,418,T. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,Out of state
90,419,T. Red,Seattle,Info Sc,Bachelor of Science,2.1,F,1992,Out of state
91,215,K. King,Conway,Elementary,Doctor of Education,3.2,Sum2,1984,Non-of-the above
92,315,M. Gola,Conway,English,Master of Science,3.2,S,1984,Non-of-the above
93,255,K. Dool,Atlanta,Engl,Master of Science,3.9,Sum1,1986,Non-of-the above
94,299,M. Golab,Seatel,Chemistry,Bachelor of Science,3.0,S,1992,Non-of-the above
95,199,K. Duell,Atlanta,Biology,Associate degree,4.0,F,1988,International Student
96,473,M. Browny,Seattle,CS,Doctor of Philosophy,4.0,S,1992,International Student
97,407,T. Doolak,Seattle,BusinessAD,Master of Business Administration,3.1,Sum1,1992,Out of state
98,205,K. Minges,Conway,Elementary,Doctor of Education,3.2,Sum2,1984,Non-of-the above
99,305,H. Molar,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
100,207,K. Goolar,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
101,107,M. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
102,757,M. Searsy,Conway,Biol,Master of Science,3.2,Sum1,1984,Non-of-the above
103,474,P. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
104,741,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
105,109,P. Board,Atlanta,Chem,Associate degree,4.0,F,1988,International Student
106,581,M. Korp,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
107,801,G. Bear,Little Rock,Biology,Associate degree,4.0,F,1988,Out of state
108,591,Z. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
109,391,X. Searsy,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
110,709,Y. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
111,117,W. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
112,612,V. Board,Atlanta,Chemistry,Associate degree,4.0,F,1988,International Student
113,748,M. Kartsoo,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
114,609,N. Gearsal,Little Rock,Biology,Bachelor of Science,4.0,F,1988,Out of state
115,615,K. Jiring,Conway,Element.,Bachelor of Art,3.2,Sum2,1984,Non-of-the above
116,715,M. Chendo,Conway,Secondary,Master of Science,3.2,S,1984,Non-of-the above
117,855,Z. Megart,Atlanta,Secondary,Master of Science,3.9,Sum1,1986,Non-of-the above
118,699,A. Woo,Seattle,Elementary,Bachelor of Art,3.0,S,1992,Non-of-the above
119,743,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Sum2,1991,Non-of-the above
120,129,D. Merdoo,Atlanta,English,Master of Art,2.8,Sum2,1991,Non-of-the above

In [28]:
id_duplicates = cleaned_5_9_df[cleaned_5_9_df.duplicated('ID', keep = False)]
id_duplicates

Empty DataFrame
Columns: [ID, Name, Address, Major, Degree, GPA, Semester, Y, Status]
Index: []

In [29]:
cleaned_6_9_df = halfcleaned_df.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\cleaned_6_9_df.csv', index=False)

In [30]:
cleaned_6_9_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\cleaned_6_9_df.csv")
cleaned_6_9_df

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,Associate degree,4.0,Sum1,1989,International Student
1,961,QT. Brady,Pine Bluff,Computer\nSc,Associate degree,3.8,Sum2,1987,International Student
2,962,UL. Jones,Little Rock,Computer\nSc,Associate degree,3.1,Sum2,1984,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,Associate degree,3.2,Sum1,1992,Out of state
4,975,CM. Cook,Little Rock,Biology,Bachelor of Science,2.2,F,1987,Out of state
5,412,DP. Morty,Atlanta,Biology,Bachelor of Art,3.9,S,1984,Out of state
6,971,UK. Yu,Conway,Secondary,Master of Science,3.2,F,1990,Out of state
7,989,Li. Mooshe,Atlanta,Secondary,Master of Science,3.9,F,1990,Non-of-the above
8,998,Di. Morgan,Conway,Biology,Master of Science,3.9,S,1987,Non-of-the above
9,964,YH. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum1,1987,Non-of-the above
10,977,WT. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
11,987,AC. Bank,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
12,988,TP. Kim,Conway,Elementary,Bachelor of Science,3.2,Sum1,1990,Non-of-the above
13,902,CY. Crema,Little Rock,Biology,Bachelor of Science,2.2,S,1987,Non-of-the above
14,969,D. Abuly,Savannah,Economics,Bachelor of Science,3.9,S,1990,NaN
15,968,G. Halky,Atlanta,B Admin,Bachelor of Science,2.9,S,1990,NaN
16,967,W.Goast,Savannah,Accounting,Bachelor of Science,4.1,F,1990,NaN
17,833,T. Chenty,Conway,Elementary,Associate degree,3.2,Sum1,1991,NaN
18,124,U. Algy,Denver,Applied Sc,Associate degree,4.0,S,1992,International Student
19,976,YI. Torgan,Conway,Biology,Associate degree,3.9,S,1987,International Student
20,100,D. Reddyg,Seattle,Info Sc,Master of Science,2.1,F,1990,International Student
21,969,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,Sum1,1987,Out of state
22,901,UI. Wagon,Little Rock,Computer S,Master of Science,3.1,Sum1,1984,Out of state
23,902,C. Browner,Denver,Applied Sc,Master of Science,4.0,S,1989,Out of state
24,777,F. Anglic,Atlanta,Biology,Bachelor of Science,3.9,S,1990,Non-of-the above
25,779,BB. Goofan,Atlanta,Chemistry,Bachelor of Science,2.1,F,1991,Non-of-the above
26,933,GG. Art,Savannah,English,Bachelor of Art,3.1,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,Master of Art,4.0,Sum2,1991,Non-of-the above
28,667,K. Chen,Conway,Elementary,Doctor of Education,3.2,Sum2,1992,Out of state
29,529,M. Yu,Conway,Secondary,Master of Science,3.2,S,1990,International Student
30,552,K. Ahmad,Atlanta,Secondary,Doctor of Education,3.9,Invalid Date,1987,Out of state
31,687,Y. Morty,Atlanta,Computer Sc,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
32,688,Y. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Non-of-the above
33,653,C. Alshukri,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1991,Out of state
34,986,Q. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,S,1987,Non-of-the above
35,579,U. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,S,1984,Non-of-the above
36,200,B. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,S,1992,International Student
37,300,C. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,International Student
38,422,U. Yu,Conway,Secondary,Master of Science,3.2,S,1990,Out of state
39,423,U. Mooshe,Atlanta,Secondary,Doctor of Education,3.9,Sum1,1990,Out of state
40,401,D. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,International Student
41,201,W. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,S,1987,International Student
42,202,A. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum1,1987,Non-of-the above
43,415,T. King,Conway,Elementary,Doctor of Education,3.2,Sum2,1990,Non-of-the above
44,901,C. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Out of state
45,222,D. Abul,Savannah,Economics,Bachelor of Art,3.9,Sum2,1990,Non-of-the above
46,333,G. Halk,Atlanta,B Admin,Master of Business Administration,2.9,Sum2,1990,Non-of-the above
47,431,W.Goos,Savannah,Accounting,Bachelor of Art,4.1,Sum2,1990,Out of state
48,421,T. Chen,Conway,Elementary,Doctor of Education,3.2,Sum2,1991,International Student
49,524,U. Alramzy,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,International Student
50,689,Y. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,Non-of-the above
51,195,D. Red,Seattle,Info Sc,Bachelor of Science,2.1,F,1990,Out of state
52,703,Y. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum2,1987,Out of state
53,665,Z. Silver,Seattle,Elementary,Doctor of Education,3.3,Sum2,1991,International Student
54,739,A. Moon,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum1,1984,Non-of-the above
55,839,Q. Robe,Pine Bluff,Computer Sc,Master of Science,3.8,Sum1,1987,Non-of-the above
56,939,U. Wang,Little Rock,Computer Sc,Associate degree,3.1,Sum2,1984,Out of state
57,500,K.Bronz,Dallas,Chemistry,Master of Science,3.2,Sum1,1988,Out of state
58,132,A. White,Orlando,Computer Sc,Associate degree,3.9,Sum2,1992,Non-of-the above
59,232,K. Blue,Little Rock,English,Associate degree,3.1,Sum2,1991,International Student
60,352,C. Black,Pine Bluff,Applied,Doctor of Philosophy,3.8,Sum2,1990,Out of state
61,600,C. Jones,Dallas,Info Sc,Bachelor of Science,4.0,F,1988,Out of state
62,682,Y. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,Out of state
63,452,N. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,Sum2,1988,International Student
64,590,X. Cook,Little Rock,Biology,Associate degree,2.2,Sum1,1992,Non-of-the above
65,690,D. Brown,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1988,Non-of-the above
66,175,K. Glob,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1989,Non-of-the above
67,185,X. Jones,New York,Info Sc,Bachelor of Science,4.0,F,1990,Non-of-the above
68,700,A. Boss,Seattle,Elementary,Master of Science,3.3,Sum2,1984,International Student
69,800,K. Queen,Conway,Elementary,Doctor of Education,3.2,Sum2,1989,Out of state
70,416,T. Gola,Conway,Secondary,Master of Science,3.2,S,1990,Non-of-the above
71,420,T. Silver,Seattle,Elementary,Doctor of Education,3.3,Sum2,1991,Non-of-the above
72,900,B. Gola,Conway,Secondary,Master of Science,3.2,S,1987,International Student
73,955,K. Booth,Atlanta,Secondary,Master of Science,3.9,S,1987,Out of state
74,956,C. Jessy,Orlando,Applied Sc,Master of Science,4.0,F,1989,Out of state
75,150,A. Cool,Orlando,Computer Sc,Master of Science,3.9,Sum2,1986,International Student
76,250,K. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum2,1986,Non-of-the above
77,350,C. Cool,Pine Bluff,Applied,Master of Science,4.0,Sum2,1986,Non-of-the above
78,229,M. Katchal,Savannah,Economics,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
79,339,H.Poory,Atlanta,B Admin,Bachelor of Art,3.9,Sum2,1987,Non-of-the above
80,439,H. Mishu,Savannah,Accounting,Bachelor of Art,2.8,Sum2,1987,Out of state
81,329,G. Kooper,Savannah,Accounting,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
82,339,M. Bayraq,Savannah,MBA,Master of Business Administration,3.9,Sum2,1987,Non-of-the above
83,337,N. Mikhy,Savannah,B Admin,Bachelor of Art,2.8,Sum2,1987,Out of state
84,650,D. Sorty,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
85,750,K.Gold,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1984,Non-of-the above
86,850,F. Jones,New York,Info Sc,Bachelor of Science,4.0,F,1985,International Student
87,950,D. Golden,Seattle,Info Sc,Bachelor of Science,2.1,F,1985,International Student
88,165,A. Silver,Seattle,Elementary,Master of Science,3.3,Sum2,1985,Out of state
89,418,T. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,Out of state
90,419,T. Red,Seattle,Info Sc,Bachelor of Science,2.1,F,1992,Out of state
91,215,K. King,Conway,Elementary,Doctor of Education,3.2,Sum2,1984,Non-of-the above
92,315,M. Gola,Conway,English,Master of Science,3.2,S,1984,Non-of-the above
93,255,K. Dool,Atlanta,Engl,Master of Science,3.9,Sum1,1986,Non-of-the above
94,299,M. Golab,Seatel,Chemistry,Bachelor of Science,3.0,S,1992,Non-of-the above
95,199,K. Duell,Atlanta,Biology,Associate degree,4.0,F,1988,International Student
96,473,M. Browny,Seattle,CS,Doctor of Philosophy,4.0,S,1992,International Student
97,407,T. Doolak,Seattle,BusinessAD,Master of Business Administration,3.1,Sum1,1992,Out of state
98,205,K. Minges,Conway,Elementary,Doctor of Education,3.2,Sum2,1984,Non-of-the above
99,305,H. Molar,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
100,207,K. Goolar,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
101,107,M. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
102,305,M. Searsy,Conway,Biol,Master of Science,3.2,Sum1,1984,Non-of-the above
103,207,P. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
104,107,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
105,109,P. Board,Atlanta,Chem,Associate degree,4.0,F,1988,International Student
106,305,M. Korp,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
107,109,G. Bear,Little Rock,Biology,Associate degree,4.0,F,1988,Out of state
108,591,Z. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
109,391,X. Searsy,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
110,201,Y. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
111,117,W. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
112,612,V. Board,Atlanta,Chemistry,Associate degree,4.0,F,1988,International Student
113,305,M. Kartsoo,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
114,609,N. Gearsal,Little Rock,Biology,Bachelor of Science,4.0,F,1988,Out of state
115,615,K. Jiring,Conway,Element.,Bachelor of Art,3.2,Sum2,1984,Non-of-the above
116,715,M. Chendo,Conway,Secondary,Master of Science,3.2,S,1984,Non-of-the above
117,855,Z. Megart,Atlanta,Secondary,Master of Science,3.9,Sum1,1986,Non-of-the above
118,699,A. Woo,Seattle,Elementary,Bachelor of Art,3.0,S,1992,Non-of-the above
119,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Sum2,1991,Non-of-the above
120,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Sum2,1991,Non-of-the above

## 'Major' Column

In [31]:
cleaned_6_9_df['Major']

0        Applied Sc
1      Computer\nSc
2      Computer\nSc
3        Applied Sc
4           Biology
5           Biology
6         Secondary
7         Secondary
8           Biology
9        Applied Sc
10       Applied Sc
11       Applied Sc
12       Elementary
13          Biology
14        Economics
15          B Admin
16       Accounting
17       Elementary
18       Applied Sc
19          Biology
20          Info Sc
21       Applied Sc
22       Computer S
23       Applied Sc
24          Biology
25        Chemistry
26          English
27          English
28       Elementary
29        Secondary
30        Secondary
31      Computer Sc
32          Biology
33       Applied Sc
34      Computer Sc
35      Computer Sc
36       Applied Sc
37          Biology
38        Secondary
39        Secondary
40          Biology
41       Applied Sc
42       Applied Sc
43       Elementary
44          Biology
45        Economics
46          B Admin
47       Accounting
48       Elementary
49       Applied Sc
50          Biology
51          Info Sc
52       Applied Sc
53       Elementary
54      Computer Sc
55      Computer Sc
56      Computer Sc
57        Chemistry
58      Computer Sc
59          English
60          Applied
61          Info Sc
62          Biology
63       Applied Sc
64          Biology
65          Biology
66       Applied Sc
67          Info Sc
68       Elementary
69       Elementary
70        Secondary
71       Elementary
72        Secondary
73        Secondary
74       Applied Sc
75      Computer Sc
76      Computer Sc
77          Applied
78        Economics
79          B Admin
80       Accounting
81       Accounting
82              MBA
83          B Admin
84          Biology
85       Applied Sc
86          Info Sc
87          Info Sc
88       Elementary
89       Applied Sc
90          Info Sc
91       Elementary
92          English
93             Engl
94        Chemistry
95          Biology
96               CS
97       BusinessAD
98       Elementary
99          Biology
100       Chemistry
101       Chemistry
102            Biol
103       Chemistry
104       Chemistry
105            Chem
106         Biology
107         Biology
108       Chemistry
109         Biology
110       Chemistry
111       Chemistry
112       Chemistry
113         Biology
114         Biology
115        Element.
116       Secondary
117       Secondary
118      Elementary
119         English
120         English
Name: Major, dtype: object

In [32]:
cleaned_6_9_df['Major'] = cleaned_6_9_df['Major'].str.replace('.\n', ' ').str.rstrip('. ')
cleaned_6_9_df['Major']

0        Applied Sc
1      Computer\nSc
2      Computer\nSc
3        Applied Sc
4           Biology
5           Biology
6         Secondary
7         Secondary
8           Biology
9        Applied Sc
10       Applied Sc
11       Applied Sc
12       Elementary
13          Biology
14        Economics
15          B Admin
16       Accounting
17       Elementary
18       Applied Sc
19          Biology
20          Info Sc
21       Applied Sc
22       Computer S
23       Applied Sc
24          Biology
25        Chemistry
26          English
27          English
28       Elementary
29        Secondary
30        Secondary
31      Computer Sc
32          Biology
33       Applied Sc
34      Computer Sc
35      Computer Sc
36       Applied Sc
37          Biology
38        Secondary
39        Secondary
40          Biology
41       Applied Sc
42       Applied Sc
43       Elementary
44          Biology
45        Economics
46          B Admin
47       Accounting
48       Elementary
49       Applied Sc
50          Biology
51          Info Sc
52       Applied Sc
53       Elementary
54      Computer Sc
55      Computer Sc
56      Computer Sc
57        Chemistry
58      Computer Sc
59          English
60          Applied
61          Info Sc
62          Biology
63       Applied Sc
64          Biology
65          Biology
66       Applied Sc
67          Info Sc
68       Elementary
69       Elementary
70        Secondary
71       Elementary
72        Secondary
73        Secondary
74       Applied Sc
75      Computer Sc
76      Computer Sc
77          Applied
78        Economics
79          B Admin
80       Accounting
81       Accounting
82              MBA
83          B Admin
84          Biology
85       Applied Sc
86          Info Sc
87          Info Sc
88       Elementary
89       Applied Sc
90          Info Sc
91       Elementary
92          English
93             Engl
94        Chemistry
95          Biology
96               CS
97       BusinessAD
98       Elementary
99          Biology
100       Chemistry
101       Chemistry
102            Biol
103       Chemistry
104       Chemistry
105            Chem
106         Biology
107         Biology
108       Chemistry
109         Biology
110       Chemistry
111       Chemistry
112       Chemistry
113         Biology
114         Biology
115         Element
116       Secondary
117       Secondary
118      Elementary
119         English
120         English
Name: Major, dtype: object

#### Create a list of valid majors

In [33]:
valid_majors = colleges123['MAJORS'].tolist()
valid_majors

['Computer Sc',
 'Information Sc',
 'Applied Sc',
 'Accounting',
 'Business Admin',
 'Economics',
 'Elementary Ed',
 'Secondary Ed',
 'Biology',
 'Chemistry',
 'English']

In [34]:
# Define a function to find the closest matching valid major
def get_closest_valid_major(major, valid_majors):
    match, score = process.extractOne(major, valid_majors)
    if score >= 95:  # Adjust the threshold as needed
        return match
    else:
        return major
    # return process.extractOne(major, valid_majors)[0]

# Apply the function to each row in df1_2['Major']
cleaned_6_9_df['CleanedMajor'] = cleaned_6_9_df['Major'].apply(lambda x: get_closest_valid_major(x, valid_majors))

In [35]:
cleaned_6_9_df[['Major', 'CleanedMajor']]

            Major   CleanedMajor
0      Applied Sc     Applied Sc
1    Computer\nSc    Computer Sc
2    Computer\nSc    Computer Sc
3      Applied Sc     Applied Sc
4         Biology        Biology
5         Biology        Biology
6       Secondary   Secondary Ed
7       Secondary   Secondary Ed
8         Biology        Biology
9      Applied Sc     Applied Sc
10     Applied Sc     Applied Sc
11     Applied Sc     Applied Sc
12     Elementary  Elementary Ed
13        Biology        Biology
14      Economics      Economics
15        B Admin        B Admin
16     Accounting     Accounting
17     Elementary  Elementary Ed
18     Applied Sc     Applied Sc
19        Biology        Biology
20        Info Sc        Info Sc
21     Applied Sc     Applied Sc
22     Computer S    Computer Sc
23     Applied Sc     Applied Sc
24        Biology        Biology
25      Chemistry      Chemistry
26        English        English
27        English        English
28     Elementary  Elementary Ed
29      Secondary   Secondary Ed
30      Secondary   Secondary Ed
31    Computer Sc    Computer Sc
32        Biology        Biology
33     Applied Sc     Applied Sc
34    Computer Sc    Computer Sc
35    Computer Sc    Computer Sc
36     Applied Sc     Applied Sc
37        Biology        Biology
38      Secondary   Secondary Ed
39      Secondary   Secondary Ed
40        Biology        Biology
41     Applied Sc     Applied Sc
42     Applied Sc     Applied Sc
43     Elementary  Elementary Ed
44        Biology        Biology
45      Economics      Economics
46        B Admin        B Admin
47     Accounting     Accounting
48     Elementary  Elementary Ed
49     Applied Sc     Applied Sc
50        Biology        Biology
51        Info Sc        Info Sc
52     Applied Sc     Applied Sc
53     Elementary  Elementary Ed
54    Computer Sc    Computer Sc
55    Computer Sc    Computer Sc
56    Computer Sc    Computer Sc
57      Chemistry      Chemistry
58    Computer Sc    Computer Sc
59        English        English
60        Applied     Applied Sc
61        Info Sc        Info Sc
62        Biology        Biology
63     Applied Sc     Applied Sc
64        Biology        Biology
65        Biology        Biology
66     Applied Sc     Applied Sc
67        Info Sc        Info Sc
68     Elementary  Elementary Ed
69     Elementary  Elementary Ed
70      Secondary   Secondary Ed
71     Elementary  Elementary Ed
72      Secondary   Secondary Ed
73      Secondary   Secondary Ed
74     Applied Sc     Applied Sc
75    Computer Sc    Computer Sc
76    Computer Sc    Computer Sc
77        Applied     Applied Sc
78      Economics      Economics
79        B Admin        B Admin
80     Accounting     Accounting
81     Accounting     Accounting
82            MBA            MBA
83        B Admin        B Admin
84        Biology        Biology
85     Applied Sc     Applied Sc
86        Info Sc        Info Sc
87        Info Sc        Info Sc
88     Elementary  Elementary Ed
89     Applied Sc     Applied Sc
90        Info Sc        Info Sc
91     Elementary  Elementary Ed
92        English        English
93           Engl           Engl
94      Chemistry      Chemistry
95        Biology        Biology
96             CS             CS
97     BusinessAD     BusinessAD
98     Elementary  Elementary Ed
99        Biology        Biology
100     Chemistry      Chemistry
101     Chemistry      Chemistry
102          Biol           Biol
103     Chemistry      Chemistry
104     Chemistry      Chemistry
105          Chem           Chem
106       Biology        Biology
107       Biology        Biology
108     Chemistry      Chemistry
109       Biology        Biology
110     Chemistry      Chemistry
111     Chemistry      Chemistry
112     Chemistry      Chemistry
113       Biology        Biology
114       Biology        Biology
115       Element        Element
116     Secondary   Secondary Ed
117     Secondary   Secondary Ed
118    Elementary  Elementary Ed
119       English        English
120       English        English

In [36]:
cleaned_6_9_df['InvalidMajor'] = None  # Initialize with None

In [37]:
for index, row in cleaned_6_9_df.iterrows():
    major = row['CleanedMajor']
    # Adjust the threshold as needed
    if process.extractOne(major, valid_majors)[1] < 95:
        # Mark as invalid by storing in the 'InvalidMajor' column
        cleaned_6_9_df.at[index, 'InvalidMajor'] = major

In [38]:
cleaned_6_9_df[['Major', 'CleanedMajor','InvalidMajor']]

            Major   CleanedMajor InvalidMajor
0      Applied Sc     Applied Sc         None
1    Computer\nSc    Computer Sc         None
2    Computer\nSc    Computer Sc         None
3      Applied Sc     Applied Sc         None
4         Biology        Biology         None
5         Biology        Biology         None
6       Secondary   Secondary Ed         None
7       Secondary   Secondary Ed         None
8         Biology        Biology         None
9      Applied Sc     Applied Sc         None
10     Applied Sc     Applied Sc         None
11     Applied Sc     Applied Sc         None
12     Elementary  Elementary Ed         None
13        Biology        Biology         None
14      Economics      Economics         None
15        B Admin        B Admin      B Admin
16     Accounting     Accounting         None
17     Elementary  Elementary Ed         None
18     Applied Sc     Applied Sc         None
19        Biology        Biology         None
20        Info Sc        Info Sc      Info Sc
21     Applied Sc     Applied Sc         None
22     Computer S    Computer Sc         None
23     Applied Sc     Applied Sc         None
24        Biology        Biology         None
25      Chemistry      Chemistry         None
26        English        English         None
27        English        English         None
28     Elementary  Elementary Ed         None
29      Secondary   Secondary Ed         None
30      Secondary   Secondary Ed         None
31    Computer Sc    Computer Sc         None
32        Biology        Biology         None
33     Applied Sc     Applied Sc         None
34    Computer Sc    Computer Sc         None
35    Computer Sc    Computer Sc         None
36     Applied Sc     Applied Sc         None
37        Biology        Biology         None
38      Secondary   Secondary Ed         None
39      Secondary   Secondary Ed         None
40        Biology        Biology         None
41     Applied Sc     Applied Sc         None
42     Applied Sc     Applied Sc         None
43     Elementary  Elementary Ed         None
44        Biology        Biology         None
45      Economics      Economics         None
46        B Admin        B Admin      B Admin
47     Accounting     Accounting         None
48     Elementary  Elementary Ed         None
49     Applied Sc     Applied Sc         None
50        Biology        Biology         None
51        Info Sc        Info Sc      Info Sc
52     Applied Sc     Applied Sc         None
53     Elementary  Elementary Ed         None
54    Computer Sc    Computer Sc         None
55    Computer Sc    Computer Sc         None
56    Computer Sc    Computer Sc         None
57      Chemistry      Chemistry         None
58    Computer Sc    Computer Sc         None
59        English        English         None
60        Applied     Applied Sc         None
61        Info Sc        Info Sc      Info Sc
62        Biology        Biology         None
63     Applied Sc     Applied Sc         None
64        Biology        Biology         None
65        Biology        Biology         None
66     Applied Sc     Applied Sc         None
67        Info Sc        Info Sc      Info Sc
68     Elementary  Elementary Ed         None
69     Elementary  Elementary Ed         None
70      Secondary   Secondary Ed         None
71     Elementary  Elementary Ed         None
72      Secondary   Secondary Ed         None
73      Secondary   Secondary Ed         None
74     Applied Sc     Applied Sc         None
75    Computer Sc    Computer Sc         None
76    Computer Sc    Computer Sc         None
77        Applied     Applied Sc         None
78      Economics      Economics         None
79        B Admin        B Admin      B Admin
80     Accounting     Accounting         None
81     Accounting     Accounting         None
82            MBA            MBA          MBA
83        B Admin        B Admin      B Admin
84        Biology        Biology         None
85     Applied Sc     Applied Sc         None
86        Info Sc        Info Sc      Info Sc
87        Info Sc        Info Sc      Info Sc
88     Elementary  Elementary Ed         None
89     Applied Sc     Applied Sc         None
90        Info Sc        Info Sc      Info Sc
91     Elementary  Elementary Ed         None
92        English        English         None
93           Engl           Engl         Engl
94      Chemistry      Chemistry         None
95        Biology        Biology         None
96             CS             CS           CS
97     BusinessAD     BusinessAD   BusinessAD
98     Elementary  Elementary Ed         None
99        Biology        Biology         None
100     Chemistry      Chemistry         None
101     Chemistry      Chemistry         None
102          Biol           Biol         Biol
103     Chemistry      Chemistry         None
104     Chemistry      Chemistry         None
105          Chem           Chem         Chem
106       Biology        Biology         None
107       Biology        Biology         None
108     Chemistry      Chemistry         None
109       Biology        Biology         None
110     Chemistry      Chemistry         None
111     Chemistry      Chemistry         None
112     Chemistry      Chemistry         None
113       Biology        Biology         None
114       Biology        Biology         None
115       Element        Element      Element
116     Secondary   Secondary Ed         None
117     Secondary   Secondary Ed         None
118    Elementary  Elementary Ed         None
119       English        English         None
120       English        English         None

In [49]:
invalid_major_mapping = {
    'B Admin': 'Business Admin',
    'Info Sc': 'Information Sc',
    'CS': 'Computer Sc',
    'BusinessAD': 'Business Admin',
    'Biol': 'Biology',
    'Chem': 'Chemistry',
    'Element': 'Elementary Ed',
    'Elementary.': 'Elementary Ed',
    'Secondary.': 'Secondary Ed',
    'MBA': 'Business Administration',
    'Engl': 'English',
}

Create a mapping from the invalid majors

mapping_dict = {}
for invalid_major in cleaned_6_9_df['InvalidMajor'].unique():
    # You can print the invalid major and manually input its correct counterpart
    print(f"Invalid Major: {invalid_major}")
    correct_major = input("Enter the correct major: ")
    
    # Add the mapping to the dictionary
    mapping_dict[invalid_major] = correct_major

Backpropogate to the 'CleanedMajor' Column to replace all found invalid majors, with the correct major defined in the invalid_major_mapping dictionary.

In [50]:
for index, row in cleaned_6_9_df.iterrows():
    major = row['CleanedMajor']
    if major in invalid_major_mapping:
        cleaned_6_9_df.at[index, 'CleanedMajor'] = invalid_major_mapping[major]

Check and see if the 'CleanedMajor' has updated to the correct major, based on unproperly matched values from the 'Invalid' column.

In [51]:
cleaned_6_9_df[['Major', 'CleanedMajor', 'InvalidMajor']]

            Major    CleanedMajor InvalidMajor
0      Applied Sc      Applied Sc         None
1    Computer\nSc     Computer Sc         None
2    Computer\nSc     Computer Sc         None
3      Applied Sc      Applied Sc         None
4         Biology         Biology         None
5         Biology         Biology         None
6       Secondary    Secondary Ed         None
7       Secondary    Secondary Ed         None
8         Biology         Biology         None
9      Applied Sc      Applied Sc         None
10     Applied Sc      Applied Sc         None
11     Applied Sc      Applied Sc         None
12     Elementary   Elementary Ed         None
13        Biology         Biology         None
14      Economics       Economics         None
15        B Admin  Business Admin      B Admin
16     Accounting      Accounting         None
17     Elementary   Elementary Ed         None
18     Applied Sc      Applied Sc         None
19        Biology         Biology         None
20        Info Sc  Information Sc      Info Sc
21     Applied Sc      Applied Sc         None
22     Computer S     Computer Sc         None
23     Applied Sc      Applied Sc         None
24        Biology         Biology         None
25      Chemistry       Chemistry         None
26        English         English         None
27        English         English         None
28     Elementary   Elementary Ed         None
29      Secondary    Secondary Ed         None
30      Secondary    Secondary Ed         None
31    Computer Sc     Computer Sc         None
32        Biology         Biology         None
33     Applied Sc      Applied Sc         None
34    Computer Sc     Computer Sc         None
35    Computer Sc     Computer Sc         None
36     Applied Sc      Applied Sc         None
37        Biology         Biology         None
38      Secondary    Secondary Ed         None
39      Secondary    Secondary Ed         None
40        Biology         Biology         None
41     Applied Sc      Applied Sc         None
42     Applied Sc      Applied Sc         None
43     Elementary   Elementary Ed         None
44        Biology         Biology         None
45      Economics       Economics         None
46        B Admin  Business Admin      B Admin
47     Accounting      Accounting         None
48     Elementary   Elementary Ed         None
49     Applied Sc      Applied Sc         None
50        Biology         Biology         None
51        Info Sc  Information Sc      Info Sc
52     Applied Sc      Applied Sc         None
53     Elementary   Elementary Ed         None
54    Computer Sc     Computer Sc         None
55    Computer Sc     Computer Sc         None
56    Computer Sc     Computer Sc         None
57      Chemistry       Chemistry         None
58    Computer Sc     Computer Sc         None
59        English         English         None
60        Applied      Applied Sc         None
61        Info Sc  Information Sc      Info Sc
62        Biology         Biology         None
63     Applied Sc      Applied Sc         None
64        Biology         Biology         None
65        Biology         Biology         None
66     Applied Sc      Applied Sc         None
67        Info Sc  Information Sc      Info Sc
68     Elementary   Elementary Ed         None
69     Elementary   Elementary Ed         None
70      Secondary    Secondary Ed         None
71     Elementary   Elementary Ed         None
72      Secondary    Secondary Ed         None
73      Secondary    Secondary Ed         None
74     Applied Sc      Applied Sc         None
75    Computer Sc     Computer Sc         None
76    Computer Sc     Computer Sc         None
77        Applied      Applied Sc         None
78      Economics       Economics         None
79        B Admin  Business Admin      B Admin
80     Accounting      Accounting         None
81     Accounting      Accounting         None
82            MBA  Business Admin          MBA
83        B Admin  Business Admin      B Admin
84        Biology         Biology         None
85     Applied Sc      Applied Sc         None
86        Info Sc  Information Sc      Info Sc
87        Info Sc  Information Sc      Info Sc
88     Elementary   Elementary Ed         None
89     Applied Sc      Applied Sc         None
90        Info Sc  Information Sc      Info Sc
91     Elementary   Elementary Ed         None
92        English         English         None
93           Engl         English         Engl
94      Chemistry       Chemistry         None
95        Biology         Biology         None
96             CS     Computer Sc           CS
97     BusinessAD  Business Admin   BusinessAD
98     Elementary   Elementary Ed         None
99        Biology         Biology         None
100     Chemistry       Chemistry         None
101     Chemistry       Chemistry         None
102          Biol         Biology         Biol
103     Chemistry       Chemistry         None
104     Chemistry       Chemistry         None
105          Chem       Chemistry         Chem
106       Biology         Biology         None
107       Biology         Biology         None
108     Chemistry       Chemistry         None
109       Biology         Biology         None
110     Chemistry       Chemistry         None
111     Chemistry       Chemistry         None
112     Chemistry       Chemistry         None
113       Biology         Biology         None
114       Biology         Biology         None
115       Element   Elementary Ed      Element
116     Secondary    Secondary Ed         None
117     Secondary    Secondary Ed         None
118    Elementary   Elementary Ed         None
119       English         English         None
120       English         English         None

In [52]:
cleaned_6_9_df

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status,CleanedMajor,InvalidMajor
0,999,CK. Brown,Denver,Applied Sc,Associate degree,4.0,Sum1,1989,International Student,Applied Sc,None
1,961,QT. Brady,Pine Bluff,Computer\nSc,Associate degree,3.8,Sum2,1987,International Student,Computer Sc,None
2,962,UL. Jones,Little Rock,Computer\nSc,Associate degree,3.1,Sum2,1984,Out of state,Computer Sc,None
3,970,Bf. Brady,Little Rock,Applied Sc,Associate degree,3.2,Sum1,1992,Out of state,Applied Sc,None
4,975,CM. Cook,Little Rock,Biology,Bachelor of Science,2.2,F,1987,Out of state,Biology,None
5,412,DP. Morty,Atlanta,Biology,Bachelor of Art,3.9,S,1984,Out of state,Biology,None
6,971,UK. Yu,Conway,Secondary,Master of Science,3.2,F,1990,Out of state,Secondary Ed,None
7,989,Li. Mooshe,Atlanta,Secondary,Master of Science,3.9,F,1990,Non-of-the above,Secondary Ed,None
8,998,Di. Morgan,Conway,Biology,Master of Science,3.9,S,1987,Non-of-the above,Biology,None
9,964,YH. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum1,1987,Non-of-the above,Applied Sc,None
10,977,WT. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above,Applied Sc,None
11,987,AC. Bank,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above,Applied Sc,None
12,988,TP. Kim,Conway,Elementary,Bachelor of Science,3.2,Sum1,1990,Non-of-the above,Elementary Ed,None
13,902,CY. Crema,Little Rock,Biology,Bachelor of Science,2.2,S,1987,Non-of-the above,Biology,None
14,969,D. Abuly,Savannah,Economics,Bachelor of Science,3.9,S,1990,NaN,Economics,None
15,968,G. Halky,Atlanta,B Admin,Bachelor of Science,2.9,S,1990,NaN,Business Admin,B Admin
16,967,W.Goast,Savannah,Accounting,Bachelor of Science,4.1,F,1990,NaN,Accounting,None
17,833,T. Chenty,Conway,Elementary,Associate degree,3.2,Sum1,1991,NaN,Elementary Ed,None
18,124,U. Algy,Denver,Applied Sc,Associate degree,4.0,S,1992,International Student,Applied Sc,None
19,976,YI. Torgan,Conway,Biology,Associate degree,3.9,S,1987,International Student,Biology,None
20,100,D. Reddyg,Seattle,Info Sc,Master of Science,2.1,F,1990,International Student,Information Sc,Info Sc
21,969,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,Sum1,1987,Out of state,Applied Sc,None
22,901,UI. Wagon,Little Rock,Computer S,Master of Science,3.1,Sum1,1984,Out of state,Computer Sc,None
23,902,C. Browner,Denver,Applied Sc,Master of Science,4.0,S,1989,Out of state,Applied Sc,None
24,777,F. Anglic,Atlanta,Biology,Bachelor of Science,3.9,S,1990,Non-of-the above,Biology,None
25,779,BB. Goofan,Atlanta,Chemistry,Bachelor of Science,2.1,F,1991,Non-of-the above,Chemistry,None
26,933,GG. Art,Savannah,English,Bachelor of Art,3.1,Sum2,1991,Non-of-the above,English,None
27,941,BB. Mercy,Savannah,English,Master of Art,4.0,Sum2,1991,Non-of-the above,English,None
28,667,K. Chen,Conway,Elementary,Doctor of Education,3.2,Sum2,1992,Out of state,Elementary Ed,None
29,529,M. Yu,Conway,Secondary,Master of Science,3.2,S,1990,International Student,Secondary Ed,None
30,552,K. Ahmad,Atlanta,Secondary,Doctor of Education,3.9,Invalid Date,1987,Out of state,Secondary Ed,None
31,687,Y. Morty,Atlanta,Computer Sc,Bachelor of Science,3.9,Sum1,1984,Non-of-the above,Computer Sc,None
32,688,Y. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Non-of-the above,Biology,None
33,653,C. Alshukri,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1991,Out of state,Applied Sc,None
34,986,Q. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,S,1987,Non-of-the above,Computer Sc,None
35,579,U. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,S,1984,Non-of-the above,Computer Sc,None
36,200,B. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,S,1992,International Student,Applied Sc,None
37,300,C. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,International Student,Biology,None
38,422,U. Yu,Conway,Secondary,Master of Science,3.2,S,1990,Out of state,Secondary Ed,None
39,423,U. Mooshe,Atlanta,Secondary,Doctor of Education,3.9,Sum1,1990,Out of state,Secondary Ed,None
40,401,D. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,International Student,Biology,None
41,201,W. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,S,1987,International Student,Applied Sc,None
42,202,A. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum1,1987,Non-of-the above,Applied Sc,None
43,415,T. King,Conway,Elementary,Doctor of Education,3.2,Sum2,1990,Non-of-the above,Elementary Ed,None
44,901,C. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Out of state,Biology,None
45,222,D. Abul,Savannah,Economics,Bachelor of Art,3.9,Sum2,1990,Non-of-the above,Economics,None
46,333,G. Halk,Atlanta,B Admin,Master of Business Administration,2.9,Sum2,1990,Non-of-the above,Business Admin,B Admin
47,431,W.Goos,Savannah,Accounting,Bachelor of Art,4.1,Sum2,1990,Out of state,Accounting,None
48,421,T. Chen,Conway,Elementary,Doctor of Education,3.2,Sum2,1991,International Student,Elementary Ed,None
49,524,U. Alramzy,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,International Student,Applied Sc,None
50,689,Y. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,Non-of-the above,Biology,None
51,195,D. Red,Seattle,Info Sc,Bachelor of Science,2.1,F,1990,Out of state,Information Sc,Info Sc
52,703,Y. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum2,1987,Out of state,Applied Sc,None
53,665,Z. Silver,Seattle,Elementary,Doctor of Education,3.3,Sum2,1991,International Student,Elementary Ed,None
54,739,A. Moon,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum1,1984,Non-of-the above,Computer Sc,None
55,839,Q. Robe,Pine Bluff,Computer Sc,Master of Science,3.8,Sum1,1987,Non-of-the above,Computer Sc,None
56,939,U. Wang,Little Rock,Computer Sc,Associate degree,3.1,Sum2,1984,Out of state,Computer Sc,None
57,500,K.Bronz,Dallas,Chemistry,Master of Science,3.2,Sum1,1988,Out of state,Chemistry,None
58,132,A. White,Orlando,Computer Sc,Associate degree,3.9,Sum2,1992,Non-of-the above,Computer Sc,None
59,232,K. Blue,Little Rock,English,Associate degree,3.1,Sum2,1991,International Student,English,None
60,352,C. Black,Pine Bluff,Applied,Doctor of Philosophy,3.8,Sum2,1990,Out of state,Applied Sc,None
61,600,C. Jones,Dallas,Info Sc,Bachelor of Science,4.0,F,1988,Out of state,Information Sc,Info Sc
62,682,Y. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,Out of state,Biology,None
63,452,N. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,Sum2,1988,International Student,Applied Sc,None
64,590,X. Cook,Little Rock,Biology,Associate degree,2.2,Sum1,1992,Non-of-the above,Biology,None
65,690,D. Brown,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1988,Non-of-the above,Biology,None
66,175,K. Glob,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1989,Non-of-the above,Applied Sc,None
67,185,X. Jones,New York,Info Sc,Bachelor of Science,4.0,F,1990,Non-of-the above,Information Sc,Info Sc
68,700,A. Boss,Seattle,Elementary,Master of Science,3.3,Sum2,1984,International Student,Elementary Ed,None
69,800,K. Queen,Conway,Elementary,Doctor of Education,3.2,Sum2,1989,Out of state,Elementary Ed,None
70,416,T. Gola,Conway,Secondary,Master of Science,3.2,S,1990,Non-of-the above,Secondary Ed,None
71,420,T. Silver,Seattle,Elementary,Doctor of Education,3.3,Sum2,1991,Non-of-the above,Elementary Ed,None
72,900,B. Gola,Conway,Secondary,Master of Science,3.2,S,1987,International Student,Secondary Ed,None
73,955,K. Booth,Atlanta,Secondary,Master of Science,3.9,S,1987,Out of state,Secondary Ed,None
74,956,C. Jessy,Orlando,Applied Sc,Master of Science,4.0,F,1989,Out of state,Applied Sc,None
75,150,A. Cool,Orlando,Computer Sc,Master of Science,3.9,Sum2,1986,International Student,Computer Sc,None
76,250,K. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum2,1986,Non-of-the above,Computer Sc,None
77,350,C. Cool,Pine Bluff,Applied,Master of Science,4.0,Sum2,1986,Non-of-the above,Applied Sc,None
78,229,M. Katchal,Savannah,Economics,Bachelor of Art,3.0,Sum2,1991,Non-of-the above,Economics,None
79,339,H.Poory,Atlanta,B Admin,Bachelor of Art,3.9,Sum2,1987,Non-of-the above,Business Admin,B Admin
80,439,H. Mishu,Savannah,Accounting,Bachelor of Art,2.8,Sum2,1987,Out of state,Accounting,None
81,329,G. Kooper,Savannah,Accounting,Bachelor of Art,3.0,Sum2,1991,Non-of-the above,Accounting,None
82,339,M. Bayraq,Savannah,MBA,Master of Business Administration,3.9,Sum2,1987,Non-of-the above,Business Admin,MBA
83,337,N. Mikhy,Savannah,B Admin,Bachelor of Art,2.8,Sum2,1987,Out of state,Business Admin,B Admin
84,650,D. Sorty,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1984,Non-of-the above,Biology,None
85,750,K.Gold,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1984,Non-of-the above,Applied Sc,None
86,850,F. Jones,New York,Info Sc,Bachelor of Science,4.0,F,1985,International Student,Information Sc,Info Sc
87,950,D. Golden,Seattle,Info Sc,Bachelor of Science,2.1,F,1985,International Student,Information Sc,Info Sc
88,165,A. Silver,Seattle,Elementary,Master of Science,3.3,Sum2,1985,Out of state,Elementary Ed,None
89,418,T. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,Out of state,Applied Sc,None
90,419,T. Red,Seattle,Info Sc,Bachelor of Science,2.1,F,1992,Out of state,Information Sc,Info Sc
91,215,K. King,Conway,Elementary,Doctor of Education,3.2,Sum2,1984,Non-of-the above,Elementary Ed,None
92,315,M. Gola,Conway,English,Master of Science,3.2,S,1984,Non-of-the above,English,None
93,255,K. Dool,Atlanta,Engl,Master of Science,3.9,Sum1,1986,Non-of-the above,English,Engl
94,299,M. Golab,Seatel,Chemistry,Bachelor of Science,3.0,S,1992,Non-of-the above,Chemistry,None
95,199,K. Duell,Atlanta,Biology,Associate degree,4.0,F,1988,International Student,Biology,None
96,473,M. Browny,Seattle,CS,Doctor of Philosophy,4.0,S,1992,International Student,Computer Sc,CS
97,407,T. Doolak,Seattle,BusinessAD,Master of Business Administration,3.1,Sum1,1992,Out of state,Business Admin,BusinessAD
98,205,K. Minges,Conway,Elementary,Doctor of Education,3.2,Sum2,1984,Non-of-the above,Elementary Ed,None
99,305,H. Molar,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above,Biology,None
100,207,K. Goolar,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above,Chemistry,None
101,107,M. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above,Chemistry,None
102,305,M. Searsy,Conway,Biol,Master of Science,3.2,Sum1,1984,Non-of-the above,Biology,Biol
103,207,P. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above,Chemistry,None
104,107,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state,Chemistry,None
105,109,P. Board,Atlanta,Chem,Associate degree,4.0,F,1988,International Student,Chemistry,Chem
106,305,M. Korp,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above,Biology,None
107,109,G. Bear,Little Rock,Biology,Associate degree,4.0,F,1988,Out of state,Biology,None
108,591,Z. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above,Chemistry,None
109,391,X. Searsy,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above,Biology,None
110,201,Y. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above,Chemistry,None
111,117,W. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state,Chemistry,None
112,612,V. Board,Atlanta,Chemistry,Associate degree,4.0,F,1988,International Student,Chemistry,None
113,305,M. Kartsoo,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above,Biology,None
114,609,N. Gearsal,Little Rock,Biology,Bachelor of Science,4.0,F,1988,Out of state,Biology,None
115,615,K. Jiring,Conway,Element,Bachelor of Art,3.2,Sum2,1984,Non-of-the above,Elementary Ed,Element
116,715,M. Chendo,Conway,Secondary,Master of Science,3.2,S,1984,Non-of-the above,Secondary Ed,None
117,855,Z. Megart,Atlanta,Secondary,Master of Science,3.9,Sum1,1986,Non-of-the above,Secondary Ed,None
118,699,A. Woo,Seattle,Elementary,Bachelor of Art,3.0,S,1992,Non-of-the above,Elementary Ed,None
119,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Sum2,1991,Non-of-the above,English,None
120,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Sum2,1991,Non-of-the above,English,None

In [53]:
for index, row in cleaned_6_9_df.iterrows():
    major = row['CleanedMajor']
    # Adjust the threshold as needed
    if process.extractOne(major, valid_majors)[1] < 95:
        # Mark as invalid by storing in the 'InvalidMajor' column
        cleaned_6_9_df.at[index, 'InvalidMajor'] = major

In [54]:
cleaned_6_9_df[['Major', 'CleanedMajor', 'InvalidMajor']]

            Major    CleanedMajor InvalidMajor
0      Applied Sc      Applied Sc         None
1    Computer\nSc     Computer Sc         None
2    Computer\nSc     Computer Sc         None
3      Applied Sc      Applied Sc         None
4         Biology         Biology         None
5         Biology         Biology         None
6       Secondary    Secondary Ed         None
7       Secondary    Secondary Ed         None
8         Biology         Biology         None
9      Applied Sc      Applied Sc         None
10     Applied Sc      Applied Sc         None
11     Applied Sc      Applied Sc         None
12     Elementary   Elementary Ed         None
13        Biology         Biology         None
14      Economics       Economics         None
15        B Admin  Business Admin      B Admin
16     Accounting      Accounting         None
17     Elementary   Elementary Ed         None
18     Applied Sc      Applied Sc         None
19        Biology         Biology         None
20        Info Sc  Information Sc      Info Sc
21     Applied Sc      Applied Sc         None
22     Computer S     Computer Sc         None
23     Applied Sc      Applied Sc         None
24        Biology         Biology         None
25      Chemistry       Chemistry         None
26        English         English         None
27        English         English         None
28     Elementary   Elementary Ed         None
29      Secondary    Secondary Ed         None
30      Secondary    Secondary Ed         None
31    Computer Sc     Computer Sc         None
32        Biology         Biology         None
33     Applied Sc      Applied Sc         None
34    Computer Sc     Computer Sc         None
35    Computer Sc     Computer Sc         None
36     Applied Sc      Applied Sc         None
37        Biology         Biology         None
38      Secondary    Secondary Ed         None
39      Secondary    Secondary Ed         None
40        Biology         Biology         None
41     Applied Sc      Applied Sc         None
42     Applied Sc      Applied Sc         None
43     Elementary   Elementary Ed         None
44        Biology         Biology         None
45      Economics       Economics         None
46        B Admin  Business Admin      B Admin
47     Accounting      Accounting         None
48     Elementary   Elementary Ed         None
49     Applied Sc      Applied Sc         None
50        Biology         Biology         None
51        Info Sc  Information Sc      Info Sc
52     Applied Sc      Applied Sc         None
53     Elementary   Elementary Ed         None
54    Computer Sc     Computer Sc         None
55    Computer Sc     Computer Sc         None
56    Computer Sc     Computer Sc         None
57      Chemistry       Chemistry         None
58    Computer Sc     Computer Sc         None
59        English         English         None
60        Applied      Applied Sc         None
61        Info Sc  Information Sc      Info Sc
62        Biology         Biology         None
63     Applied Sc      Applied Sc         None
64        Biology         Biology         None
65        Biology         Biology         None
66     Applied Sc      Applied Sc         None
67        Info Sc  Information Sc      Info Sc
68     Elementary   Elementary Ed         None
69     Elementary   Elementary Ed         None
70      Secondary    Secondary Ed         None
71     Elementary   Elementary Ed         None
72      Secondary    Secondary Ed         None
73      Secondary    Secondary Ed         None
74     Applied Sc      Applied Sc         None
75    Computer Sc     Computer Sc         None
76    Computer Sc     Computer Sc         None
77        Applied      Applied Sc         None
78      Economics       Economics         None
79        B Admin  Business Admin      B Admin
80     Accounting      Accounting         None
81     Accounting      Accounting         None
82            MBA  Business Admin          MBA
83        B Admin  Business Admin      B Admin
84        Biology         Biology         None
85     Applied Sc      Applied Sc         None
86        Info Sc  Information Sc      Info Sc
87        Info Sc  Information Sc      Info Sc
88     Elementary   Elementary Ed         None
89     Applied Sc      Applied Sc         None
90        Info Sc  Information Sc      Info Sc
91     Elementary   Elementary Ed         None
92        English         English         None
93           Engl         English         Engl
94      Chemistry       Chemistry         None
95        Biology         Biology         None
96             CS     Computer Sc           CS
97     BusinessAD  Business Admin   BusinessAD
98     Elementary   Elementary Ed         None
99        Biology         Biology         None
100     Chemistry       Chemistry         None
101     Chemistry       Chemistry         None
102          Biol         Biology         Biol
103     Chemistry       Chemistry         None
104     Chemistry       Chemistry         None
105          Chem       Chemistry         Chem
106       Biology         Biology         None
107       Biology         Biology         None
108     Chemistry       Chemistry         None
109       Biology         Biology         None
110     Chemistry       Chemistry         None
111     Chemistry       Chemistry         None
112     Chemistry       Chemistry         None
113       Biology         Biology         None
114       Biology         Biology         None
115       Element   Elementary Ed      Element
116     Secondary    Secondary Ed         None
117     Secondary    Secondary Ed         None
118    Elementary   Elementary Ed         None
119       English         English         None
120       English         English         None

Create New DataFrame Update after the 'Major' Column cleaning.

In [55]:
cleaned_7_9_df = cleaned_6_9_df[['ID', 'Name', 'Address', 'CleanedMajor', 'Degree','GPA', 'Semester', 'Y', 'Status']]
cleaned_7_9_df.rename(columns={'CleanedMajor': 'Major'}, inplace=True)
cleaned_7_9_df

C:\Users\User\AppData\Local\Temp\ipykernel_11660\192088077.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_7_9_df.rename(columns={'CleanedMajor': 'Major'}, inplace=True)

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,Associate degree,4.0,Sum1,1989,International Student
1,961,QT. Brady,Pine Bluff,Computer Sc,Associate degree,3.8,Sum2,1987,International Student
2,962,UL. Jones,Little Rock,Computer Sc,Associate degree,3.1,Sum2,1984,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,Associate degree,3.2,Sum1,1992,Out of state
4,975,CM. Cook,Little Rock,Biology,Bachelor of Science,2.2,F,1987,Out of state
5,412,DP. Morty,Atlanta,Biology,Bachelor of Art,3.9,S,1984,Out of state
6,971,UK. Yu,Conway,Secondary Ed,Master of Science,3.2,F,1990,Out of state
7,989,Li. Mooshe,Atlanta,Secondary Ed,Master of Science,3.9,F,1990,Non-of-the above
8,998,Di. Morgan,Conway,Biology,Master of Science,3.9,S,1987,Non-of-the above
9,964,YH. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum1,1987,Non-of-the above
10,977,WT. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
11,987,AC. Bank,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
12,988,TP. Kim,Conway,Elementary Ed,Bachelor of Science,3.2,Sum1,1990,Non-of-the above
13,902,CY. Crema,Little Rock,Biology,Bachelor of Science,2.2,S,1987,Non-of-the above
14,969,D. Abuly,Savannah,Economics,Bachelor of Science,3.9,S,1990,NaN
15,968,G. Halky,Atlanta,Business Admin,Bachelor of Science,2.9,S,1990,NaN
16,967,W.Goast,Savannah,Accounting,Bachelor of Science,4.1,F,1990,NaN
17,833,T. Chenty,Conway,Elementary Ed,Associate degree,3.2,Sum1,1991,NaN
18,124,U. Algy,Denver,Applied Sc,Associate degree,4.0,S,1992,International Student
19,976,YI. Torgan,Conway,Biology,Associate degree,3.9,S,1987,International Student
20,100,D. Reddyg,Seattle,Information Sc,Master of Science,2.1,F,1990,International Student
21,969,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,Sum1,1987,Out of state
22,901,UI. Wagon,Little Rock,Computer Sc,Master of Science,3.1,Sum1,1984,Out of state
23,902,C. Browner,Denver,Applied Sc,Master of Science,4.0,S,1989,Out of state
24,777,F. Anglic,Atlanta,Biology,Bachelor of Science,3.9,S,1990,Non-of-the above
25,779,BB. Goofan,Atlanta,Chemistry,Bachelor of Science,2.1,F,1991,Non-of-the above
26,933,GG. Art,Savannah,English,Bachelor of Art,3.1,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,Master of Art,4.0,Sum2,1991,Non-of-the above
28,667,K. Chen,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1992,Out of state
29,529,M. Yu,Conway,Secondary Ed,Master of Science,3.2,S,1990,International Student
30,552,K. Ahmad,Atlanta,Secondary Ed,Doctor of Education,3.9,Invalid Date,1987,Out of state
31,687,Y. Morty,Atlanta,Computer Sc,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
32,688,Y. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Non-of-the above
33,653,C. Alshukri,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1991,Out of state
34,986,Q. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,S,1987,Non-of-the above
35,579,U. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,S,1984,Non-of-the above
36,200,B. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,S,1992,International Student
37,300,C. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,International Student
38,422,U. Yu,Conway,Secondary Ed,Master of Science,3.2,S,1990,Out of state
39,423,U. Mooshe,Atlanta,Secondary Ed,Doctor of Education,3.9,Sum1,1990,Out of state
40,401,D. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,International Student
41,201,W. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,S,1987,International Student
42,202,A. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum1,1987,Non-of-the above
43,415,T. King,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1990,Non-of-the above
44,901,C. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Out of state
45,222,D. Abul,Savannah,Economics,Bachelor of Art,3.9,Sum2,1990,Non-of-the above
46,333,G. Halk,Atlanta,Business Admin,Master of Business Administration,2.9,Sum2,1990,Non-of-the above
47,431,W.Goos,Savannah,Accounting,Bachelor of Art,4.1,Sum2,1990,Out of state
48,421,T. Chen,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1991,International Student
49,524,U. Alramzy,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,International Student
50,689,Y. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,Non-of-the above
51,195,D. Red,Seattle,Information Sc,Bachelor of Science,2.1,F,1990,Out of state
52,703,Y. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum2,1987,Out of state
53,665,Z. Silver,Seattle,Elementary Ed,Doctor of Education,3.3,Sum2,1991,International Student
54,739,A. Moon,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum1,1984,Non-of-the above
55,839,Q. Robe,Pine Bluff,Computer Sc,Master of Science,3.8,Sum1,1987,Non-of-the above
56,939,U. Wang,Little Rock,Computer Sc,Associate degree,3.1,Sum2,1984,Out of state
57,500,K.Bronz,Dallas,Chemistry,Master of Science,3.2,Sum1,1988,Out of state
58,132,A. White,Orlando,Computer Sc,Associate degree,3.9,Sum2,1992,Non-of-the above
59,232,K. Blue,Little Rock,English,Associate degree,3.1,Sum2,1991,International Student
60,352,C. Black,Pine Bluff,Applied Sc,Doctor of Philosophy,3.8,Sum2,1990,Out of state
61,600,C. Jones,Dallas,Information Sc,Bachelor of Science,4.0,F,1988,Out of state
62,682,Y. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,Out of state
63,452,N. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,Sum2,1988,International Student
64,590,X. Cook,Little Rock,Biology,Associate degree,2.2,Sum1,1992,Non-of-the above
65,690,D. Brown,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1988,Non-of-the above
66,175,K. Glob,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1989,Non-of-the above
67,185,X. Jones,New York,Information Sc,Bachelor of Science,4.0,F,1990,Non-of-the above
68,700,A. Boss,Seattle,Elementary Ed,Master of Science,3.3,Sum2,1984,International Student
69,800,K. Queen,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1989,Out of state
70,416,T. Gola,Conway,Secondary Ed,Master of Science,3.2,S,1990,Non-of-the above
71,420,T. Silver,Seattle,Elementary Ed,Doctor of Education,3.3,Sum2,1991,Non-of-the above
72,900,B. Gola,Conway,Secondary Ed,Master of Science,3.2,S,1987,International Student
73,955,K. Booth,Atlanta,Secondary Ed,Master of Science,3.9,S,1987,Out of state
74,956,C. Jessy,Orlando,Applied Sc,Master of Science,4.0,F,1989,Out of state
75,150,A. Cool,Orlando,Computer Sc,Master of Science,3.9,Sum2,1986,International Student
76,250,K. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum2,1986,Non-of-the above
77,350,C. Cool,Pine Bluff,Applied Sc,Master of Science,4.0,Sum2,1986,Non-of-the above
78,229,M. Katchal,Savannah,Economics,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
79,339,H.Poory,Atlanta,Business Admin,Bachelor of Art,3.9,Sum2,1987,Non-of-the above
80,439,H. Mishu,Savannah,Accounting,Bachelor of Art,2.8,Sum2,1987,Out of state
81,329,G. Kooper,Savannah,Accounting,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
82,339,M. Bayraq,Savannah,Business Admin,Master of Business Administration,3.9,Sum2,1987,Non-of-the above
83,337,N. Mikhy,Savannah,Business Admin,Bachelor of Art,2.8,Sum2,1987,Out of state
84,650,D. Sorty,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
85,750,K.Gold,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1984,Non-of-the above
86,850,F. Jones,New York,Information Sc,Bachelor of Science,4.0,F,1985,International Student
87,950,D. Golden,Seattle,Information Sc,Bachelor of Science,2.1,F,1985,International Student
88,165,A. Silver,Seattle,Elementary Ed,Master of Science,3.3,Sum2,1985,Out of state
89,418,T. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,Out of state
90,419,T. Red,Seattle,Information Sc,Bachelor of Science,2.1,F,1992,Out of state
91,215,K. King,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1984,Non-of-the above
92,315,M. Gola,Conway,English,Master of Science,3.2,S,1984,Non-of-the above
93,255,K. Dool,Atlanta,English,Master of Science,3.9,Sum1,1986,Non-of-the above
94,299,M. Golab,Seatel,Chemistry,Bachelor of Science,3.0,S,1992,Non-of-the above
95,199,K. Duell,Atlanta,Biology,Associate degree,4.0,F,1988,International Student
96,473,M. Browny,Seattle,Computer Sc,Doctor of Philosophy,4.0,S,1992,International Student
97,407,T. Doolak,Seattle,Business Admin,Master of Business Administration,3.1,Sum1,1992,Out of state
98,205,K. Minges,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1984,Non-of-the above
99,305,H. Molar,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
100,207,K. Goolar,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
101,107,M. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
102,305,M. Searsy,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
103,207,P. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
104,107,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
105,109,P. Board,Atlanta,Chemistry,Associate degree,4.0,F,1988,International Student
106,305,M. Korp,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
107,109,G. Bear,Little Rock,Biology,Associate degree,4.0,F,1988,Out of state
108,591,Z. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
109,391,X. Searsy,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
110,201,Y. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
111,117,W. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
112,612,V. Board,Atlanta,Chemistry,Associate degree,4.0,F,1988,International Student
113,305,M. Kartsoo,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
114,609,N. Gearsal,Little Rock,Biology,Bachelor of Science,4.0,F,1988,Out of state
115,615,K. Jiring,Conway,Elementary Ed,Bachelor of Art,3.2,Sum2,1984,Non-of-the above
116,715,M. Chendo,Conway,Secondary Ed,Master of Science,3.2,S,1984,Non-of-the above
117,855,Z. Megart,Atlanta,Secondary Ed,Master of Science,3.9,Sum1,1986,Non-of-the above
118,699,A. Woo,Seattle,Elementary Ed,Bachelor of Art,3.0,S,1992,Non-of-the above
119,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Sum2,1991,Non-of-the above
120,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Sum2,1991,Non-of-the above

save new dataframe to CSV file

In [56]:
cleaned_7_9_df.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\cleaned_7_9_df.csv', index=False)

## 'Address' Column

read in new version of data main data

In [57]:
cleaned_7_9_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\cleaned_7_9_df.csv")

#### Check the address column for spelling.

In [58]:
cleaned_7_9_df['Address']

0           Denver
1       Pine Bluff
2      Little Rock
3      Little Rock
4      Little Rock
5          Atlanta
6           Conway
7          Atlanta
8           Conway
9           Conway
10          Conway
11          Conway
12          Conway
13     Little Rock
14        Savannah
15         Atlanta
16        Savannah
17          Conway
18          Denver
19          Conway
20         Seattle
21          Conway
22     Little Rock
23          Denver
24         Atlanta
25         Atlanta
26        Savannah
27        Savannah
28          Conway
29          Conway
30         Atlanta
31         Atlanta
32     Little Rock
33          Denver
34      Pine Bluff
35     Little Rock
36     Little Rock
37     Little Rock
38          Conway
39         Atlanta
40          Conway
41          Conway
42          Conway
43          Conway
44     Little Rock
45        Savannah
46         Atlanta
47        Savannah
48          Conway
49          Denver
50          Conway
51         Seattle
52          Conway
53         Seattle
54     Little Rock
55      Pine Bluff
56     Little Rock
57          Dallas
58         Orlando
59     Little Rock
60      Pine Bluff
61          Dallas
62     Little Rock
63     Little Rock
64     Little Rock
65         Atlanta
66          Dallas
67        New York
68         Seattle
69          Conway
70          Conway
71         Seattle
72          Conway
73         Atlanta
74         Orlando
75         Orlando
76     Little Rock
77      Pine Bluff
78        Savannah
79         Atlanta
80        Savannah
81        Savannah
82        Savannah
83        Savannah
84         Atlanta
85          Dallas
86        New York
87         Seattle
88         Seattle
89          Denver
90         Seattle
91          Conway
92          Conway
93         Atlanta
94          Seatel
95         Atlanta
96         Seattle
97         Seattle
98          Conway
99          Conway
100        Atlanta
101       Savannah
102         Conway
103        Atlanta
104    Little Rock
105        Atlanta
106         Conway
107    Little Rock
108       Savannah
109         Conway
110        Atlanta
111    Little Rock
112        Atlanta
113         Conway
114    Little Rock
115         Conway
116         Conway
117        Atlanta
118        Seattle
119        Atlanta
120        Atlanta
Name: Address, dtype: object

In [59]:
unique_cities = cleaned_7_9_df['Address'].str.extract(r'([A-Za-z\s]+)', expand=False).unique()
unique_cities

array(['Denver', 'Pine Bluff', 'Little Rock', 'Atlanta', 'Conway',
       'Savannah', 'Seattle', 'Dallas', 'Orlando', 'New York', 'Seatel'],
      dtype=object)

In [60]:
valid_cities = ['Denver', 'Pine Bluff', 'Little Rock', 'Atlanta', 'Conway',
       'Savannah', 'Seattle', 'Dallas', 'Orlando', 'New York']

In [61]:
# Define a function to find the closest matching valid major
def get_closest_valid_cities(city, valid_cities):
    match, score = process.extractOne(city, valid_cities)
    if score >= 60:  # Adjust the threshold as needed
        return match
    else:
        return city
    # return process.extractOne(major, valid_majors)[0]

# Apply the function to each row in df1_2['Major']
cleaned_7_9_df['CleanedAddress'] = cleaned_7_9_df['Address'].apply(lambda x: get_closest_valid_cities(x, valid_cities))

In [62]:
cleaned_7_9_df[['Address', 'CleanedAddress']]

         Address CleanedAddress
0         Denver         Denver
1     Pine Bluff     Pine Bluff
2    Little Rock    Little Rock
3    Little Rock    Little Rock
4    Little Rock    Little Rock
5        Atlanta        Atlanta
6         Conway         Conway
7        Atlanta        Atlanta
8         Conway         Conway
9         Conway         Conway
10        Conway         Conway
11        Conway         Conway
12        Conway         Conway
13   Little Rock    Little Rock
14      Savannah       Savannah
15       Atlanta        Atlanta
16      Savannah       Savannah
17        Conway         Conway
18        Denver         Denver
19        Conway         Conway
20       Seattle        Seattle
21        Conway         Conway
22   Little Rock    Little Rock
23        Denver         Denver
24       Atlanta        Atlanta
25       Atlanta        Atlanta
26      Savannah       Savannah
27      Savannah       Savannah
28        Conway         Conway
29        Conway         Conway
30       Atlanta        Atlanta
31       Atlanta        Atlanta
32   Little Rock    Little Rock
33        Denver         Denver
34    Pine Bluff     Pine Bluff
35   Little Rock    Little Rock
36   Little Rock    Little Rock
37   Little Rock    Little Rock
38        Conway         Conway
39       Atlanta        Atlanta
40        Conway         Conway
41        Conway         Conway
42        Conway         Conway
43        Conway         Conway
44   Little Rock    Little Rock
45      Savannah       Savannah
46       Atlanta        Atlanta
47      Savannah       Savannah
48        Conway         Conway
49        Denver         Denver
50        Conway         Conway
51       Seattle        Seattle
52        Conway         Conway
53       Seattle        Seattle
54   Little Rock    Little Rock
55    Pine Bluff     Pine Bluff
56   Little Rock    Little Rock
57        Dallas         Dallas
58       Orlando        Orlando
59   Little Rock    Little Rock
60    Pine Bluff     Pine Bluff
61        Dallas         Dallas
62   Little Rock    Little Rock
63   Little Rock    Little Rock
64   Little Rock    Little Rock
65       Atlanta        Atlanta
66        Dallas         Dallas
67      New York       New York
68       Seattle        Seattle
69        Conway         Conway
70        Conway         Conway
71       Seattle        Seattle
72        Conway         Conway
73       Atlanta        Atlanta
74       Orlando        Orlando
75       Orlando        Orlando
76   Little Rock    Little Rock
77    Pine Bluff     Pine Bluff
78      Savannah       Savannah
79       Atlanta        Atlanta
80      Savannah       Savannah
81      Savannah       Savannah
82      Savannah       Savannah
83      Savannah       Savannah
84       Atlanta        Atlanta
85        Dallas         Dallas
86      New York       New York
87       Seattle        Seattle
88       Seattle        Seattle
89        Denver         Denver
90       Seattle        Seattle
91        Conway         Conway
92        Conway         Conway
93       Atlanta        Atlanta
94        Seatel        Seattle
95       Atlanta        Atlanta
96       Seattle        Seattle
97       Seattle        Seattle
98        Conway         Conway
99        Conway         Conway
100      Atlanta        Atlanta
101     Savannah       Savannah
102       Conway         Conway
103      Atlanta        Atlanta
104  Little Rock    Little Rock
105      Atlanta        Atlanta
106       Conway         Conway
107  Little Rock    Little Rock
108     Savannah       Savannah
109       Conway         Conway
110      Atlanta        Atlanta
111  Little Rock    Little Rock
112      Atlanta        Atlanta
113       Conway         Conway
114  Little Rock    Little Rock
115       Conway         Conway
116       Conway         Conway
117      Atlanta        Atlanta
118      Seattle        Seattle
119      Atlanta        Atlanta
120      Atlanta        Atlanta

In [63]:
cleaned_7_9_df['InvalidCity'] = None  # Initialize with None

for index, row in cleaned_7_9_df.iterrows():
    city = row['CleanedAddress']
    # Adjust the threshold as needed
    if process.extractOne(city, valid_cities)[1] < 95:
        # Mark as invalid by storing in the 'InvalidCity' column
        cleaned_7_9_df.at[index, 'InvalidCity'] = city
        
cleaned_7_9_df[['Address', 'CleanedAddress','InvalidCity']]

         Address CleanedAddress InvalidCity
0         Denver         Denver        None
1     Pine Bluff     Pine Bluff        None
2    Little Rock    Little Rock        None
3    Little Rock    Little Rock        None
4    Little Rock    Little Rock        None
5        Atlanta        Atlanta        None
6         Conway         Conway        None
7        Atlanta        Atlanta        None
8         Conway         Conway        None
9         Conway         Conway        None
10        Conway         Conway        None
11        Conway         Conway        None
12        Conway         Conway        None
13   Little Rock    Little Rock        None
14      Savannah       Savannah        None
15       Atlanta        Atlanta        None
16      Savannah       Savannah        None
17        Conway         Conway        None
18        Denver         Denver        None
19        Conway         Conway        None
20       Seattle        Seattle        None
21        Conway         Conway        None
22   Little Rock    Little Rock        None
23        Denver         Denver        None
24       Atlanta        Atlanta        None
25       Atlanta        Atlanta        None
26      Savannah       Savannah        None
27      Savannah       Savannah        None
28        Conway         Conway        None
29        Conway         Conway        None
30       Atlanta        Atlanta        None
31       Atlanta        Atlanta        None
32   Little Rock    Little Rock        None
33        Denver         Denver        None
34    Pine Bluff     Pine Bluff        None
35   Little Rock    Little Rock        None
36   Little Rock    Little Rock        None
37   Little Rock    Little Rock        None
38        Conway         Conway        None
39       Atlanta        Atlanta        None
40        Conway         Conway        None
41        Conway         Conway        None
42        Conway         Conway        None
43        Conway         Conway        None
44   Little Rock    Little Rock        None
45      Savannah       Savannah        None
46       Atlanta        Atlanta        None
47      Savannah       Savannah        None
48        Conway         Conway        None
49        Denver         Denver        None
50        Conway         Conway        None
51       Seattle        Seattle        None
52        Conway         Conway        None
53       Seattle        Seattle        None
54   Little Rock    Little Rock        None
55    Pine Bluff     Pine Bluff        None
56   Little Rock    Little Rock        None
57        Dallas         Dallas        None
58       Orlando        Orlando        None
59   Little Rock    Little Rock        None
60    Pine Bluff     Pine Bluff        None
61        Dallas         Dallas        None
62   Little Rock    Little Rock        None
63   Little Rock    Little Rock        None
64   Little Rock    Little Rock        None
65       Atlanta        Atlanta        None
66        Dallas         Dallas        None
67      New York       New York        None
68       Seattle        Seattle        None
69        Conway         Conway        None
70        Conway         Conway        None
71       Seattle        Seattle        None
72        Conway         Conway        None
73       Atlanta        Atlanta        None
74       Orlando        Orlando        None
75       Orlando        Orlando        None
76   Little Rock    Little Rock        None
77    Pine Bluff     Pine Bluff        None
78      Savannah       Savannah        None
79       Atlanta        Atlanta        None
80      Savannah       Savannah        None
81      Savannah       Savannah        None
82      Savannah       Savannah        None
83      Savannah       Savannah        None
84       Atlanta        Atlanta        None
85        Dallas         Dallas        None
86      New York       New York        None
87       Seattle        Seattle        None
88       Seattle        Seattle        None
89        Denver         Denver        None
90       Seattle        Seattle        None
91        Conway         Conway        None
92        Conway         Conway        None
93       Atlanta        Atlanta        None
94        Seatel        Seattle        None
95       Atlanta        Atlanta        None
96       Seattle        Seattle        None
97       Seattle        Seattle        None
98        Conway         Conway        None
99        Conway         Conway        None
100      Atlanta        Atlanta        None
101     Savannah       Savannah        None
102       Conway         Conway        None
103      Atlanta        Atlanta        None
104  Little Rock    Little Rock        None
105      Atlanta        Atlanta        None
106       Conway         Conway        None
107  Little Rock    Little Rock        None
108     Savannah       Savannah        None
109       Conway         Conway        None
110      Atlanta        Atlanta        None
111  Little Rock    Little Rock        None
112      Atlanta        Atlanta        None
113       Conway         Conway        None
114  Little Rock    Little Rock        None
115       Conway         Conway        None
116       Conway         Conway        None
117      Atlanta        Atlanta        None
118      Seattle        Seattle        None
119      Atlanta        Atlanta        None
120      Atlanta        Atlanta        None

In [64]:
cleaned_8_9_df = cleaned_7_9_df[['ID', 'Name', 'CleanedAddress', 'Major', 'Degree','GPA', 'Semester', 'Y', 'Status']]
cleaned_8_9_df.rename(columns={'CleanedAddress': 'Address'}, inplace=True)
cleaned_8_9_df

C:\Users\User\AppData\Local\Temp\ipykernel_11660\1642536239.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_8_9_df.rename(columns={'CleanedAddress': 'Address'}, inplace=True)

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,Associate degree,4.0,Sum1,1989,International Student
1,961,QT. Brady,Pine Bluff,Computer Sc,Associate degree,3.8,Sum2,1987,International Student
2,962,UL. Jones,Little Rock,Computer Sc,Associate degree,3.1,Sum2,1984,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,Associate degree,3.2,Sum1,1992,Out of state
4,975,CM. Cook,Little Rock,Biology,Bachelor of Science,2.2,F,1987,Out of state
5,412,DP. Morty,Atlanta,Biology,Bachelor of Art,3.9,S,1984,Out of state
6,971,UK. Yu,Conway,Secondary Ed,Master of Science,3.2,F,1990,Out of state
7,989,Li. Mooshe,Atlanta,Secondary Ed,Master of Science,3.9,F,1990,Non-of-the above
8,998,Di. Morgan,Conway,Biology,Master of Science,3.9,S,1987,Non-of-the above
9,964,YH. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum1,1987,Non-of-the above
10,977,WT. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
11,987,AC. Bank,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
12,988,TP. Kim,Conway,Elementary Ed,Bachelor of Science,3.2,Sum1,1990,Non-of-the above
13,902,CY. Crema,Little Rock,Biology,Bachelor of Science,2.2,S,1987,Non-of-the above
14,969,D. Abuly,Savannah,Economics,Bachelor of Science,3.9,S,1990,NaN
15,968,G. Halky,Atlanta,Business Admin,Bachelor of Science,2.9,S,1990,NaN
16,967,W.Goast,Savannah,Accounting,Bachelor of Science,4.1,F,1990,NaN
17,833,T. Chenty,Conway,Elementary Ed,Associate degree,3.2,Sum1,1991,NaN
18,124,U. Algy,Denver,Applied Sc,Associate degree,4.0,S,1992,International Student
19,976,YI. Torgan,Conway,Biology,Associate degree,3.9,S,1987,International Student
20,100,D. Reddyg,Seattle,Information Sc,Master of Science,2.1,F,1990,International Student
21,969,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,Sum1,1987,Out of state
22,901,UI. Wagon,Little Rock,Computer Sc,Master of Science,3.1,Sum1,1984,Out of state
23,902,C. Browner,Denver,Applied Sc,Master of Science,4.0,S,1989,Out of state
24,777,F. Anglic,Atlanta,Biology,Bachelor of Science,3.9,S,1990,Non-of-the above
25,779,BB. Goofan,Atlanta,Chemistry,Bachelor of Science,2.1,F,1991,Non-of-the above
26,933,GG. Art,Savannah,English,Bachelor of Art,3.1,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,Master of Art,4.0,Sum2,1991,Non-of-the above
28,667,K. Chen,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1992,Out of state
29,529,M. Yu,Conway,Secondary Ed,Master of Science,3.2,S,1990,International Student
30,552,K. Ahmad,Atlanta,Secondary Ed,Doctor of Education,3.9,Invalid Date,1987,Out of state
31,687,Y. Morty,Atlanta,Computer Sc,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
32,688,Y. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Non-of-the above
33,653,C. Alshukri,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1991,Out of state
34,986,Q. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,S,1987,Non-of-the above
35,579,U. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,S,1984,Non-of-the above
36,200,B. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,S,1992,International Student
37,300,C. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,International Student
38,422,U. Yu,Conway,Secondary Ed,Master of Science,3.2,S,1990,Out of state
39,423,U. Mooshe,Atlanta,Secondary Ed,Doctor of Education,3.9,Sum1,1990,Out of state
40,401,D. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,International Student
41,201,W. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,S,1987,International Student
42,202,A. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum1,1987,Non-of-the above
43,415,T. King,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1990,Non-of-the above
44,901,C. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Out of state
45,222,D. Abul,Savannah,Economics,Bachelor of Art,3.9,Sum2,1990,Non-of-the above
46,333,G. Halk,Atlanta,Business Admin,Master of Business Administration,2.9,Sum2,1990,Non-of-the above
47,431,W.Goos,Savannah,Accounting,Bachelor of Art,4.1,Sum2,1990,Out of state
48,421,T. Chen,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1991,International Student
49,524,U. Alramzy,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,International Student
50,689,Y. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,Non-of-the above
51,195,D. Red,Seattle,Information Sc,Bachelor of Science,2.1,F,1990,Out of state
52,703,Y. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum2,1987,Out of state
53,665,Z. Silver,Seattle,Elementary Ed,Doctor of Education,3.3,Sum2,1991,International Student
54,739,A. Moon,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum1,1984,Non-of-the above
55,839,Q. Robe,Pine Bluff,Computer Sc,Master of Science,3.8,Sum1,1987,Non-of-the above
56,939,U. Wang,Little Rock,Computer Sc,Associate degree,3.1,Sum2,1984,Out of state
57,500,K.Bronz,Dallas,Chemistry,Master of Science,3.2,Sum1,1988,Out of state
58,132,A. White,Orlando,Computer Sc,Associate degree,3.9,Sum2,1992,Non-of-the above
59,232,K. Blue,Little Rock,English,Associate degree,3.1,Sum2,1991,International Student
60,352,C. Black,Pine Bluff,Applied Sc,Doctor of Philosophy,3.8,Sum2,1990,Out of state
61,600,C. Jones,Dallas,Information Sc,Bachelor of Science,4.0,F,1988,Out of state
62,682,Y. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,Out of state
63,452,N. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,Sum2,1988,International Student
64,590,X. Cook,Little Rock,Biology,Associate degree,2.2,Sum1,1992,Non-of-the above
65,690,D. Brown,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1988,Non-of-the above
66,175,K. Glob,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1989,Non-of-the above
67,185,X. Jones,New York,Information Sc,Bachelor of Science,4.0,F,1990,Non-of-the above
68,700,A. Boss,Seattle,Elementary Ed,Master of Science,3.3,Sum2,1984,International Student
69,800,K. Queen,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1989,Out of state
70,416,T. Gola,Conway,Secondary Ed,Master of Science,3.2,S,1990,Non-of-the above
71,420,T. Silver,Seattle,Elementary Ed,Doctor of Education,3.3,Sum2,1991,Non-of-the above
72,900,B. Gola,Conway,Secondary Ed,Master of Science,3.2,S,1987,International Student
73,955,K. Booth,Atlanta,Secondary Ed,Master of Science,3.9,S,1987,Out of state
74,956,C. Jessy,Orlando,Applied Sc,Master of Science,4.0,F,1989,Out of state
75,150,A. Cool,Orlando,Computer Sc,Master of Science,3.9,Sum2,1986,International Student
76,250,K. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum2,1986,Non-of-the above
77,350,C. Cool,Pine Bluff,Applied Sc,Master of Science,4.0,Sum2,1986,Non-of-the above
78,229,M. Katchal,Savannah,Economics,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
79,339,H.Poory,Atlanta,Business Admin,Bachelor of Art,3.9,Sum2,1987,Non-of-the above
80,439,H. Mishu,Savannah,Accounting,Bachelor of Art,2.8,Sum2,1987,Out of state
81,329,G. Kooper,Savannah,Accounting,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
82,339,M. Bayraq,Savannah,Business Admin,Master of Business Administration,3.9,Sum2,1987,Non-of-the above
83,337,N. Mikhy,Savannah,Business Admin,Bachelor of Art,2.8,Sum2,1987,Out of state
84,650,D. Sorty,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
85,750,K.Gold,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1984,Non-of-the above
86,850,F. Jones,New York,Information Sc,Bachelor of Science,4.0,F,1985,International Student
87,950,D. Golden,Seattle,Information Sc,Bachelor of Science,2.1,F,1985,International Student
88,165,A. Silver,Seattle,Elementary Ed,Master of Science,3.3,Sum2,1985,Out of state
89,418,T. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,Out of state
90,419,T. Red,Seattle,Information Sc,Bachelor of Science,2.1,F,1992,Out of state
91,215,K. King,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1984,Non-of-the above
92,315,M. Gola,Conway,English,Master of Science,3.2,S,1984,Non-of-the above
93,255,K. Dool,Atlanta,English,Master of Science,3.9,Sum1,1986,Non-of-the above
94,299,M. Golab,Seattle,Chemistry,Bachelor of Science,3.0,S,1992,Non-of-the above
95,199,K. Duell,Atlanta,Biology,Associate degree,4.0,F,1988,International Student
96,473,M. Browny,Seattle,Computer Sc,Doctor of Philosophy,4.0,S,1992,International Student
97,407,T. Doolak,Seattle,Business Admin,Master of Business Administration,3.1,Sum1,1992,Out of state
98,205,K. Minges,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1984,Non-of-the above
99,305,H. Molar,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
100,207,K. Goolar,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
101,107,M. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
102,305,M. Searsy,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
103,207,P. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
104,107,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
105,109,P. Board,Atlanta,Chemistry,Associate degree,4.0,F,1988,International Student
106,305,M. Korp,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
107,109,G. Bear,Little Rock,Biology,Associate degree,4.0,F,1988,Out of state
108,591,Z. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
109,391,X. Searsy,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
110,201,Y. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
111,117,W. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
112,612,V. Board,Atlanta,Chemistry,Associate degree,4.0,F,1988,International Student
113,305,M. Kartsoo,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
114,609,N. Gearsal,Little Rock,Biology,Bachelor of Science,4.0,F,1988,Out of state
115,615,K. Jiring,Conway,Elementary Ed,Bachelor of Art,3.2,Sum2,1984,Non-of-the above
116,715,M. Chendo,Conway,Secondary Ed,Master of Science,3.2,S,1984,Non-of-the above
117,855,Z. Megart,Atlanta,Secondary Ed,Master of Science,3.9,Sum1,1986,Non-of-the above
118,699,A. Woo,Seattle,Elementary Ed,Bachelor of Art,3.0,S,1992,Non-of-the above
119,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Sum2,1991,Non-of-the above
120,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Sum2,1991,Non-of-the above

In [65]:
cleaned_8_9_df.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\cleaned_8_9_df.csv', index=False)

## 'GPA' Column

### Read in CSV file of Updated data.

In [66]:
cleaned_9_9_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\cleaned_8_9_df.csv")
cleaned_9_9_df

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,Associate degree,4.0,Sum1,1989,International Student
1,961,QT. Brady,Pine Bluff,Computer Sc,Associate degree,3.8,Sum2,1987,International Student
2,962,UL. Jones,Little Rock,Computer Sc,Associate degree,3.1,Sum2,1984,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,Associate degree,3.2,Sum1,1992,Out of state
4,975,CM. Cook,Little Rock,Biology,Bachelor of Science,2.2,F,1987,Out of state
5,412,DP. Morty,Atlanta,Biology,Bachelor of Art,3.9,S,1984,Out of state
6,971,UK. Yu,Conway,Secondary Ed,Master of Science,3.2,F,1990,Out of state
7,989,Li. Mooshe,Atlanta,Secondary Ed,Master of Science,3.9,F,1990,Non-of-the above
8,998,Di. Morgan,Conway,Biology,Master of Science,3.9,S,1987,Non-of-the above
9,964,YH. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum1,1987,Non-of-the above
10,977,WT. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
11,987,AC. Bank,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above
12,988,TP. Kim,Conway,Elementary Ed,Bachelor of Science,3.2,Sum1,1990,Non-of-the above
13,902,CY. Crema,Little Rock,Biology,Bachelor of Science,2.2,S,1987,Non-of-the above
14,969,D. Abuly,Savannah,Economics,Bachelor of Science,3.9,S,1990,NaN
15,968,G. Halky,Atlanta,Business Admin,Bachelor of Science,2.9,S,1990,NaN
16,967,W.Goast,Savannah,Accounting,Bachelor of Science,4.1,F,1990,NaN
17,833,T. Chenty,Conway,Elementary Ed,Associate degree,3.2,Sum1,1991,NaN
18,124,U. Algy,Denver,Applied Sc,Associate degree,4.0,S,1992,International Student
19,976,YI. Torgan,Conway,Biology,Associate degree,3.9,S,1987,International Student
20,100,D. Reddyg,Seattle,Information Sc,Master of Science,2.1,F,1990,International Student
21,969,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,Sum1,1987,Out of state
22,901,UI. Wagon,Little Rock,Computer Sc,Master of Science,3.1,Sum1,1984,Out of state
23,902,C. Browner,Denver,Applied Sc,Master of Science,4.0,S,1989,Out of state
24,777,F. Anglic,Atlanta,Biology,Bachelor of Science,3.9,S,1990,Non-of-the above
25,779,BB. Goofan,Atlanta,Chemistry,Bachelor of Science,2.1,F,1991,Non-of-the above
26,933,GG. Art,Savannah,English,Bachelor of Art,3.1,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,Master of Art,4.0,Sum2,1991,Non-of-the above
28,667,K. Chen,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1992,Out of state
29,529,M. Yu,Conway,Secondary Ed,Master of Science,3.2,S,1990,International Student
30,552,K. Ahmad,Atlanta,Secondary Ed,Doctor of Education,3.9,Invalid Date,1987,Out of state
31,687,Y. Morty,Atlanta,Computer Sc,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
32,688,Y. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Non-of-the above
33,653,C. Alshukri,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1991,Out of state
34,986,Q. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,S,1987,Non-of-the above
35,579,U. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,S,1984,Non-of-the above
36,200,B. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,S,1992,International Student
37,300,C. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,International Student
38,422,U. Yu,Conway,Secondary Ed,Master of Science,3.2,S,1990,Out of state
39,423,U. Mooshe,Atlanta,Secondary Ed,Doctor of Education,3.9,Sum1,1990,Out of state
40,401,D. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,International Student
41,201,W. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,S,1987,International Student
42,202,A. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum1,1987,Non-of-the above
43,415,T. King,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1990,Non-of-the above
44,901,C. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Out of state
45,222,D. Abul,Savannah,Economics,Bachelor of Art,3.9,Sum2,1990,Non-of-the above
46,333,G. Halk,Atlanta,Business Admin,Master of Business Administration,2.9,Sum2,1990,Non-of-the above
47,431,W.Goos,Savannah,Accounting,Bachelor of Art,4.1,Sum2,1990,Out of state
48,421,T. Chen,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1991,International Student
49,524,U. Alramzy,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,International Student
50,689,Y. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,Non-of-the above
51,195,D. Red,Seattle,Information Sc,Bachelor of Science,2.1,F,1990,Out of state
52,703,Y. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum2,1987,Out of state
53,665,Z. Silver,Seattle,Elementary Ed,Doctor of Education,3.3,Sum2,1991,International Student
54,739,A. Moon,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum1,1984,Non-of-the above
55,839,Q. Robe,Pine Bluff,Computer Sc,Master of Science,3.8,Sum1,1987,Non-of-the above
56,939,U. Wang,Little Rock,Computer Sc,Associate degree,3.1,Sum2,1984,Out of state
57,500,K.Bronz,Dallas,Chemistry,Master of Science,3.2,Sum1,1988,Out of state
58,132,A. White,Orlando,Computer Sc,Associate degree,3.9,Sum2,1992,Non-of-the above
59,232,K. Blue,Little Rock,English,Associate degree,3.1,Sum2,1991,International Student
60,352,C. Black,Pine Bluff,Applied Sc,Doctor of Philosophy,3.8,Sum2,1990,Out of state
61,600,C. Jones,Dallas,Information Sc,Bachelor of Science,4.0,F,1988,Out of state
62,682,Y. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,Out of state
63,452,N. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,Sum2,1988,International Student
64,590,X. Cook,Little Rock,Biology,Associate degree,2.2,Sum1,1992,Non-of-the above
65,690,D. Brown,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1988,Non-of-the above
66,175,K. Glob,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1989,Non-of-the above
67,185,X. Jones,New York,Information Sc,Bachelor of Science,4.0,F,1990,Non-of-the above
68,700,A. Boss,Seattle,Elementary Ed,Master of Science,3.3,Sum2,1984,International Student
69,800,K. Queen,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1989,Out of state
70,416,T. Gola,Conway,Secondary Ed,Master of Science,3.2,S,1990,Non-of-the above
71,420,T. Silver,Seattle,Elementary Ed,Doctor of Education,3.3,Sum2,1991,Non-of-the above
72,900,B. Gola,Conway,Secondary Ed,Master of Science,3.2,S,1987,International Student
73,955,K. Booth,Atlanta,Secondary Ed,Master of Science,3.9,S,1987,Out of state
74,956,C. Jessy,Orlando,Applied Sc,Master of Science,4.0,F,1989,Out of state
75,150,A. Cool,Orlando,Computer Sc,Master of Science,3.9,Sum2,1986,International Student
76,250,K. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum2,1986,Non-of-the above
77,350,C. Cool,Pine Bluff,Applied Sc,Master of Science,4.0,Sum2,1986,Non-of-the above
78,229,M. Katchal,Savannah,Economics,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
79,339,H.Poory,Atlanta,Business Admin,Bachelor of Art,3.9,Sum2,1987,Non-of-the above
80,439,H. Mishu,Savannah,Accounting,Bachelor of Art,2.8,Sum2,1987,Out of state
81,329,G. Kooper,Savannah,Accounting,Bachelor of Art,3.0,Sum2,1991,Non-of-the above
82,339,M. Bayraq,Savannah,Business Admin,Master of Business Administration,3.9,Sum2,1987,Non-of-the above
83,337,N. Mikhy,Savannah,Business Admin,Bachelor of Art,2.8,Sum2,1987,Out of state
84,650,D. Sorty,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1984,Non-of-the above
85,750,K.Gold,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1984,Non-of-the above
86,850,F. Jones,New York,Information Sc,Bachelor of Science,4.0,F,1985,International Student
87,950,D. Golden,Seattle,Information Sc,Bachelor of Science,2.1,F,1985,International Student
88,165,A. Silver,Seattle,Elementary Ed,Master of Science,3.3,Sum2,1985,Out of state
89,418,T. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,Out of state
90,419,T. Red,Seattle,Information Sc,Bachelor of Science,2.1,F,1992,Out of state
91,215,K. King,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1984,Non-of-the above
92,315,M. Gola,Conway,English,Master of Science,3.2,S,1984,Non-of-the above
93,255,K. Dool,Atlanta,English,Master of Science,3.9,Sum1,1986,Non-of-the above
94,299,M. Golab,Seattle,Chemistry,Bachelor of Science,3.0,S,1992,Non-of-the above
95,199,K. Duell,Atlanta,Biology,Associate degree,4.0,F,1988,International Student
96,473,M. Browny,Seattle,Computer Sc,Doctor of Philosophy,4.0,S,1992,International Student
97,407,T. Doolak,Seattle,Business Admin,Master of Business Administration,3.1,Sum1,1992,Out of state
98,205,K. Minges,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1984,Non-of-the above
99,305,H. Molar,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
100,207,K. Goolar,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
101,107,M. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
102,305,M. Searsy,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
103,207,P. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
104,107,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
105,109,P. Board,Atlanta,Chemistry,Associate degree,4.0,F,1988,International Student
106,305,M. Korp,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
107,109,G. Bear,Little Rock,Biology,Associate degree,4.0,F,1988,Out of state
108,591,Z. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above
109,391,X. Searsy,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
110,201,Y. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above
111,117,W. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state
112,612,V. Board,Atlanta,Chemistry,Associate degree,4.0,F,1988,International Student
113,305,M. Kartsoo,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above
114,609,N. Gearsal,Little Rock,Biology,Bachelor of Science,4.0,F,1988,Out of state
115,615,K. Jiring,Conway,Elementary Ed,Bachelor of Art,3.2,Sum2,1984,Non-of-the above
116,715,M. Chendo,Conway,Secondary Ed,Master of Science,3.2,S,1984,Non-of-the above
117,855,Z. Megart,Atlanta,Secondary Ed,Master of Science,3.9,Sum1,1986,Non-of-the above
118,699,A. Woo,Seattle,Elementary Ed,Bachelor of Art,3.0,S,1992,Non-of-the above
119,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Sum2,1991,Non-of-the above
120,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Sum2,1991,Non-of-the above

In [67]:
def rank_gpa(gpa):
    if gpa >= 3:
        return 'High'
    elif gpa > 2:
        return 'Medium'
    else:
        return 'Low'

# Create the 'GPARank' column based on the 'GPA' column
cleaned_9_9_df['GPARank'] = cleaned_9_9_df['GPA'].apply(rank_gpa)

In [68]:
cleaned_9_9_df[['GPA','GPARank']]

     GPA GPARank
0    4.0    High
1    3.8    High
2    3.1    High
3    3.2    High
4    2.2  Medium
5    3.9    High
6    3.2    High
7    3.9    High
8    3.9    High
9    3.2    High
10   3.2    High
11   3.2    High
12   3.2    High
13   2.2  Medium
14   3.9    High
15   2.9  Medium
16   4.1    High
17   3.2    High
18   4.0    High
19   3.9    High
20   2.1  Medium
21   3.2    High
22   3.1    High
23   4.0    High
24   3.9    High
25   2.1  Medium
26   3.1    High
27   4.0    High
28   3.2    High
29   3.2    High
30   3.9    High
31   3.9    High
32   2.2  Medium
33   4.0    High
34   3.8    High
35   3.1    High
36   3.2    High
37   2.2  Medium
38   3.2    High
39   3.9    High
40   3.9    High
41   3.2    High
42   3.2    High
43   3.2    High
44   2.2  Medium
45   3.9    High
46   2.9  Medium
47   4.1    High
48   3.2    High
49   4.0    High
50   3.9    High
51   2.1  Medium
52   3.2    High
53   3.3    High
54   3.1    High
55   3.8    High
56   3.1    High
57   3.2    High
58   3.9    High
59   3.1    High
60   3.8    High
61   4.0    High
62   2.2  Medium
63   3.2    High
64   2.2  Medium
65   3.9    High
66   3.2    High
67   4.0    High
68   3.3    High
69   3.2    High
70   3.2    High
71   3.3    High
72   3.2    High
73   3.9    High
74   4.0    High
75   3.9    High
76   3.1    High
77   4.0    High
78   3.0    High
79   3.9    High
80   2.8  Medium
81   3.0    High
82   3.9    High
83   2.8  Medium
84   3.9    High
85   3.2    High
86   4.0    High
87   2.1  Medium
88   3.3    High
89   4.0    High
90   2.1  Medium
91   3.2    High
92   3.2    High
93   3.9    High
94   3.0    High
95   4.0    High
96   4.0    High
97   3.1    High
98   3.2    High
99   3.2    High
100  3.9    High
101  3.9    High
102  3.2    High
103  3.9    High
104  3.9    High
105  4.0    High
106  3.2    High
107  4.0    High
108  3.9    High
109  3.2    High
110  3.9    High
111  3.9    High
112  4.0    High
113  3.2    High
114  4.0    High
115  3.2    High
116  3.2    High
117  3.9    High
118  3.0    High
119  2.9  Medium
120  2.8  Medium

In [69]:
cleaned_9_9_df

,ID,Name,Address,Major,Degree,GPA,Semester,Y,Status,GPARank
0,999,CK. Brown,Denver,Applied Sc,Associate degree,4.0,Sum1,1989,International Student,High
1,961,QT. Brady,Pine Bluff,Computer Sc,Associate degree,3.8,Sum2,1987,International Student,High
2,962,UL. Jones,Little Rock,Computer Sc,Associate degree,3.1,Sum2,1984,Out of state,High
3,970,Bf. Brady,Little Rock,Applied Sc,Associate degree,3.2,Sum1,1992,Out of state,High
4,975,CM. Cook,Little Rock,Biology,Bachelor of Science,2.2,F,1987,Out of state,Medium
5,412,DP. Morty,Atlanta,Biology,Bachelor of Art,3.9,S,1984,Out of state,High
6,971,UK. Yu,Conway,Secondary Ed,Master of Science,3.2,F,1990,Out of state,High
7,989,Li. Mooshe,Atlanta,Secondary Ed,Master of Science,3.9,F,1990,Non-of-the above,High
8,998,Di. Morgan,Conway,Biology,Master of Science,3.9,S,1987,Non-of-the above,High
9,964,YH. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum1,1987,Non-of-the above,High
10,977,WT. Brady,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above,High
11,987,AC. Bank,Conway,Applied Sc,Bachelor of Art,3.2,Sum2,1987,Non-of-the above,High
12,988,TP. Kim,Conway,Elementary Ed,Bachelor of Science,3.2,Sum1,1990,Non-of-the above,High
13,902,CY. Crema,Little Rock,Biology,Bachelor of Science,2.2,S,1987,Non-of-the above,Medium
14,969,D. Abuly,Savannah,Economics,Bachelor of Science,3.9,S,1990,NaN,High
15,968,G. Halky,Atlanta,Business Admin,Bachelor of Science,2.9,S,1990,NaN,Medium
16,967,W.Goast,Savannah,Accounting,Bachelor of Science,4.1,F,1990,NaN,High
17,833,T. Chenty,Conway,Elementary Ed,Associate degree,3.2,Sum1,1991,NaN,High
18,124,U. Algy,Denver,Applied Sc,Associate degree,4.0,S,1992,International Student,High
19,976,YI. Torgan,Conway,Biology,Associate degree,3.9,S,1987,International Student,High
20,100,D. Reddyg,Seattle,Information Sc,Master of Science,2.1,F,1990,International Student,Medium
21,969,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,Sum1,1987,Out of state,High
22,901,UI. Wagon,Little Rock,Computer Sc,Master of Science,3.1,Sum1,1984,Out of state,High
23,902,C. Browner,Denver,Applied Sc,Master of Science,4.0,S,1989,Out of state,High
24,777,F. Anglic,Atlanta,Biology,Bachelor of Science,3.9,S,1990,Non-of-the above,High
25,779,BB. Goofan,Atlanta,Chemistry,Bachelor of Science,2.1,F,1991,Non-of-the above,Medium
26,933,GG. Art,Savannah,English,Bachelor of Art,3.1,Sum2,1991,Non-of-the above,High
27,941,BB. Mercy,Savannah,English,Master of Art,4.0,Sum2,1991,Non-of-the above,High
28,667,K. Chen,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1992,Out of state,High
29,529,M. Yu,Conway,Secondary Ed,Master of Science,3.2,S,1990,International Student,High
30,552,K. Ahmad,Atlanta,Secondary Ed,Doctor of Education,3.9,Invalid Date,1987,Out of state,High
31,687,Y. Morty,Atlanta,Computer Sc,Bachelor of Science,3.9,Sum1,1984,Non-of-the above,High
32,688,Y. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Non-of-the above,Medium
33,653,C. Alshukri,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1991,Out of state,High
34,986,Q. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,S,1987,Non-of-the above,High
35,579,U. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,S,1984,Non-of-the above,High
36,200,B. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,S,1992,International Student,High
37,300,C. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,International Student,Medium
38,422,U. Yu,Conway,Secondary Ed,Master of Science,3.2,S,1990,Out of state,High
39,423,U. Mooshe,Atlanta,Secondary Ed,Doctor of Education,3.9,Sum1,1990,Out of state,High
40,401,D. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,International Student,High
41,201,W. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,S,1987,International Student,High
42,202,A. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum1,1987,Non-of-the above,High
43,415,T. King,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1990,Non-of-the above,High
44,901,C. Crema,Little Rock,Biology,Associate degree,2.2,Sum1,1987,Out of state,Medium
45,222,D. Abul,Savannah,Economics,Bachelor of Art,3.9,Sum2,1990,Non-of-the above,High
46,333,G. Halk,Atlanta,Business Admin,Master of Business Administration,2.9,Sum2,1990,Non-of-the above,Medium
47,431,W.Goos,Savannah,Accounting,Bachelor of Art,4.1,Sum2,1990,Out of state,High
48,421,T. Chen,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1991,International Student,High
49,524,U. Alramzy,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,International Student,High
50,689,Y. Morgan,Conway,Biology,Bachelor of Science,3.9,Sum1,1987,Non-of-the above,High
51,195,D. Red,Seattle,Information Sc,Bachelor of Science,2.1,F,1990,Out of state,Medium
52,703,Y. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,Sum2,1987,Out of state,High
53,665,Z. Silver,Seattle,Elementary Ed,Doctor of Education,3.3,Sum2,1991,International Student,High
54,739,A. Moon,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum1,1984,Non-of-the above,High
55,839,Q. Robe,Pine Bluff,Computer Sc,Master of Science,3.8,Sum1,1987,Non-of-the above,High
56,939,U. Wang,Little Rock,Computer Sc,Associate degree,3.1,Sum2,1984,Out of state,High
57,500,K.Bronz,Dallas,Chemistry,Master of Science,3.2,Sum1,1988,Out of state,High
58,132,A. White,Orlando,Computer Sc,Associate degree,3.9,Sum2,1992,Non-of-the above,High
59,232,K. Blue,Little Rock,English,Associate degree,3.1,Sum2,1991,International Student,High
60,352,C. Black,Pine Bluff,Applied Sc,Doctor of Philosophy,3.8,Sum2,1990,Out of state,High
61,600,C. Jones,Dallas,Information Sc,Bachelor of Science,4.0,F,1988,Out of state,High
62,682,Y. Cook,Little Rock,Biology,Bachelor of Science,2.2,Sum1,1987,Out of state,Medium
63,452,N. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,Sum2,1988,International Student,High
64,590,X. Cook,Little Rock,Biology,Associate degree,2.2,Sum1,1992,Non-of-the above,Medium
65,690,D. Brown,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1988,Non-of-the above,High
66,175,K. Glob,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1989,Non-of-the above,High
67,185,X. Jones,New York,Information Sc,Bachelor of Science,4.0,F,1990,Non-of-the above,High
68,700,A. Boss,Seattle,Elementary Ed,Master of Science,3.3,Sum2,1984,International Student,High
69,800,K. Queen,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1989,Out of state,High
70,416,T. Gola,Conway,Secondary Ed,Master of Science,3.2,S,1990,Non-of-the above,High
71,420,T. Silver,Seattle,Elementary Ed,Doctor of Education,3.3,Sum2,1991,Non-of-the above,High
72,900,B. Gola,Conway,Secondary Ed,Master of Science,3.2,S,1987,International Student,High
73,955,K. Booth,Atlanta,Secondary Ed,Master of Science,3.9,S,1987,Out of state,High
74,956,C. Jessy,Orlando,Applied Sc,Master of Science,4.0,F,1989,Out of state,High
75,150,A. Cool,Orlando,Computer Sc,Master of Science,3.9,Sum2,1986,International Student,High
76,250,K. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,Sum2,1986,Non-of-the above,High
77,350,C. Cool,Pine Bluff,Applied Sc,Master of Science,4.0,Sum2,1986,Non-of-the above,High
78,229,M. Katchal,Savannah,Economics,Bachelor of Art,3.0,Sum2,1991,Non-of-the above,High
79,339,H.Poory,Atlanta,Business Admin,Bachelor of Art,3.9,Sum2,1987,Non-of-the above,High
80,439,H. Mishu,Savannah,Accounting,Bachelor of Art,2.8,Sum2,1987,Out of state,Medium
81,329,G. Kooper,Savannah,Accounting,Bachelor of Art,3.0,Sum2,1991,Non-of-the above,High
82,339,M. Bayraq,Savannah,Business Admin,Master of Business Administration,3.9,Sum2,1987,Non-of-the above,High
83,337,N. Mikhy,Savannah,Business Admin,Bachelor of Art,2.8,Sum2,1987,Out of state,Medium
84,650,D. Sorty,Atlanta,Biology,Bachelor of Science,3.9,Sum1,1984,Non-of-the above,High
85,750,K.Gold,Dallas,Applied Sc,Doctor of Philosophy,3.2,Sum1,1984,Non-of-the above,High
86,850,F. Jones,New York,Information Sc,Bachelor of Science,4.0,F,1985,International Student,High
87,950,D. Golden,Seattle,Information Sc,Bachelor of Science,2.1,F,1985,International Student,Medium
88,165,A. Silver,Seattle,Elementary Ed,Master of Science,3.3,Sum2,1985,Out of state,High
89,418,T. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,F,1992,Out of state,High
90,419,T. Red,Seattle,Information Sc,Bachelor of Science,2.1,F,1992,Out of state,Medium
91,215,K. King,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1984,Non-of-the above,High
92,315,M. Gola,Conway,English,Master of Science,3.2,S,1984,Non-of-the above,High
93,255,K. Dool,Atlanta,English,Master of Science,3.9,Sum1,1986,Non-of-the above,High
94,299,M. Golab,Seattle,Chemistry,Bachelor of Science,3.0,S,1992,Non-of-the above,High
95,199,K. Duell,Atlanta,Biology,Associate degree,4.0,F,1988,International Student,High
96,473,M. Browny,Seattle,Computer Sc,Doctor of Philosophy,4.0,S,1992,International Student,High
97,407,T. Doolak,Seattle,Business Admin,Master of Business Administration,3.1,Sum1,1992,Out of state,High
98,205,K. Minges,Conway,Elementary Ed,Doctor of Education,3.2,Sum2,1984,Non-of-the above,High
99,305,H. Molar,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above,High
100,207,K. Goolar,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above,High
101,107,M. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above,High
102,305,M. Searsy,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above,High
103,207,P. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above,High
104,107,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state,High
105,109,P. Board,Atlanta,Chemistry,Associate degree,4.0,F,1988,International Student,High
106,305,M. Korp,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above,High
107,109,G. Bear,Little Rock,Biology,Associate degree,4.0,F,1988,Out of state,High
108,591,Z. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,S,1992,Non-of-the above,High
109,391,X. Searsy,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above,High
110,201,Y. Little,Atlanta,Chemistry,Master of Science,3.9,Sum1,1986,Non-of-the above,High
111,117,W. Big,Little Rock,Chemistry,Bachelor of Science,3.9,S,1992,Out of state,High
112,612,V. Board,Atlanta,Chemistry,Associate degree,4.0,F,1988,International Student,High
113,305,M. Kartsoo,Conway,Biology,Master of Science,3.2,Sum1,1984,Non-of-the above,High
114,609,N. Gearsal,Little Rock,Biology,Bachelor of Science,4.0,F,1988,Out of state,High
115,615,K. Jiring,Conway,Elementary Ed,Bachelor of Art,3.2,Sum2,1984,Non-of-the above,High
116,715,M. Chendo,Conway,Secondary Ed,Master of Science,3.2,S,1984,Non-of-the above,High
117,855,Z. Megart,Atlanta,Secondary Ed,Master of Science,3.9,Sum1,1986,Non-of-the above,High
118,699,A. Woo,Seattle,Elementary Ed,Bachelor of Art,3.0,S,1992,Non-of-the above,High
119,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Sum2,1991,Non-of-the above,Medium
120,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Sum2,1991,Non-of-the above,Medium

In [70]:
new_column_order = ['ID', 'Name', 'Address', 'Major', 'Degree', 'GPA', 'GPARank', 'Semester', 'Y', 'Status']
cleaned_9_9_df = cleaned_9_9_df[new_column_order]
cleaned_9_9_df

,ID,Name,Address,Major,Degree,GPA,GPARank,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,Associate degree,4.0,High,Sum1,1989,International Student
1,961,QT. Brady,Pine Bluff,Computer Sc,Associate degree,3.8,High,Sum2,1987,International Student
2,962,UL. Jones,Little Rock,Computer Sc,Associate degree,3.1,High,Sum2,1984,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,Associate degree,3.2,High,Sum1,1992,Out of state
4,975,CM. Cook,Little Rock,Biology,Bachelor of Science,2.2,Medium,F,1987,Out of state
5,412,DP. Morty,Atlanta,Biology,Bachelor of Art,3.9,High,S,1984,Out of state
6,971,UK. Yu,Conway,Secondary Ed,Master of Science,3.2,High,F,1990,Out of state
7,989,Li. Mooshe,Atlanta,Secondary Ed,Master of Science,3.9,High,F,1990,Non-of-the above
8,998,Di. Morgan,Conway,Biology,Master of Science,3.9,High,S,1987,Non-of-the above
9,964,YH. Brady,Conway,Applied Sc,Bachelor of Art,3.2,High,Sum1,1987,Non-of-the above
10,977,WT. Brady,Conway,Applied Sc,Bachelor of Art,3.2,High,Sum2,1987,Non-of-the above
11,987,AC. Bank,Conway,Applied Sc,Bachelor of Art,3.2,High,Sum2,1987,Non-of-the above
12,988,TP. Kim,Conway,Elementary Ed,Bachelor of Science,3.2,High,Sum1,1990,Non-of-the above
13,902,CY. Crema,Little Rock,Biology,Bachelor of Science,2.2,Medium,S,1987,Non-of-the above
14,969,D. Abuly,Savannah,Economics,Bachelor of Science,3.9,High,S,1990,NaN
15,968,G. Halky,Atlanta,Business Admin,Bachelor of Science,2.9,Medium,S,1990,NaN
16,967,W.Goast,Savannah,Accounting,Bachelor of Science,4.1,High,F,1990,NaN
17,833,T. Chenty,Conway,Elementary Ed,Associate degree,3.2,High,Sum1,1991,NaN
18,124,U. Algy,Denver,Applied Sc,Associate degree,4.0,High,S,1992,International Student
19,976,YI. Torgan,Conway,Biology,Associate degree,3.9,High,S,1987,International Student
20,100,D. Reddyg,Seattle,Information Sc,Master of Science,2.1,Medium,F,1990,International Student
21,969,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,High,Sum1,1987,Out of state
22,901,UI. Wagon,Little Rock,Computer Sc,Master of Science,3.1,High,Sum1,1984,Out of state
23,902,C. Browner,Denver,Applied Sc,Master of Science,4.0,High,S,1989,Out of state
24,777,F. Anglic,Atlanta,Biology,Bachelor of Science,3.9,High,S,1990,Non-of-the above
25,779,BB. Goofan,Atlanta,Chemistry,Bachelor of Science,2.1,Medium,F,1991,Non-of-the above
26,933,GG. Art,Savannah,English,Bachelor of Art,3.1,High,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,Master of Art,4.0,High,Sum2,1991,Non-of-the above
28,667,K. Chen,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1992,Out of state
29,529,M. Yu,Conway,Secondary Ed,Master of Science,3.2,High,S,1990,International Student
30,552,K. Ahmad,Atlanta,Secondary Ed,Doctor of Education,3.9,High,Invalid Date,1987,Out of state
31,687,Y. Morty,Atlanta,Computer Sc,Bachelor of Science,3.9,High,Sum1,1984,Non-of-the above
32,688,Y. Crema,Little Rock,Biology,Associate degree,2.2,Medium,Sum1,1987,Non-of-the above
33,653,C. Alshukri,Denver,Applied Sc,Doctor of Philosophy,4.0,High,F,1991,Out of state
34,986,Q. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,High,S,1987,Non-of-the above
35,579,U. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,High,S,1984,Non-of-the above
36,200,B. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,High,S,1992,International Student
37,300,C. Cook,Little Rock,Biology,Bachelor of Science,2.2,Medium,Sum1,1987,International Student
38,422,U. Yu,Conway,Secondary Ed,Master of Science,3.2,High,S,1990,Out of state
39,423,U. Mooshe,Atlanta,Secondary Ed,Doctor of Education,3.9,High,Sum1,1990,Out of state
40,401,D. Morgan,Conway,Biology,Bachelor of Science,3.9,High,Sum1,1987,International Student
41,201,W. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,High,S,1987,International Student
42,202,A. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,High,Sum1,1987,Non-of-the above
43,415,T. King,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1990,Non-of-the above
44,901,C. Crema,Little Rock,Biology,Associate degree,2.2,Medium,Sum1,1987,Out of state
45,222,D. Abul,Savannah,Economics,Bachelor of Art,3.9,High,Sum2,1990,Non-of-the above
46,333,G. Halk,Atlanta,Business Admin,Master of Business Administration,2.9,Medium,Sum2,1990,Non-of-the above
47,431,W.Goos,Savannah,Accounting,Bachelor of Art,4.1,High,Sum2,1990,Out of state
48,421,T. Chen,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1991,International Student
49,524,U. Alramzy,Denver,Applied Sc,Doctor of Philosophy,4.0,High,F,1992,International Student
50,689,Y. Morgan,Conway,Biology,Bachelor of Science,3.9,High,Sum1,1987,Non-of-the above
51,195,D. Red,Seattle,Information Sc,Bachelor of Science,2.1,Medium,F,1990,Out of state
52,703,Y. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,High,Sum2,1987,Out of state
53,665,Z. Silver,Seattle,Elementary Ed,Doctor of Education,3.3,High,Sum2,1991,International Student
54,739,A. Moon,Little Rock,Computer Sc,Bachelor of Science,3.1,High,Sum1,1984,Non-of-the above
55,839,Q. Robe,Pine Bluff,Computer Sc,Master of Science,3.8,High,Sum1,1987,Non-of-the above
56,939,U. Wang,Little Rock,Computer Sc,Associate degree,3.1,High,Sum2,1984,Out of state
57,500,K.Bronz,Dallas,Chemistry,Master of Science,3.2,High,Sum1,1988,Out of state
58,132,A. White,Orlando,Computer Sc,Associate degree,3.9,High,Sum2,1992,Non-of-the above
59,232,K. Blue,Little Rock,English,Associate degree,3.1,High,Sum2,1991,International Student
60,352,C. Black,Pine Bluff,Applied Sc,Doctor of Philosophy,3.8,High,Sum2,1990,Out of state
61,600,C. Jones,Dallas,Information Sc,Bachelor of Science,4.0,High,F,1988,Out of state
62,682,Y. Cook,Little Rock,Biology,Bachelor of Science,2.2,Medium,Sum1,1987,Out of state
63,452,N. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,High,Sum2,1988,International Student
64,590,X. Cook,Little Rock,Biology,Associate degree,2.2,Medium,Sum1,1992,Non-of-the above
65,690,D. Brown,Atlanta,Biology,Bachelor of Science,3.9,High,Sum1,1988,Non-of-the above
66,175,K. Glob,Dallas,Applied Sc,Doctor of Philosophy,3.2,High,Sum1,1989,Non-of-the above
67,185,X. Jones,New York,Information Sc,Bachelor of Science,4.0,High,F,1990,Non-of-the above
68,700,A. Boss,Seattle,Elementary Ed,Master of Science,3.3,High,Sum2,1984,International Student
69,800,K. Queen,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1989,Out of state
70,416,T. Gola,Conway,Secondary Ed,Master of Science,3.2,High,S,1990,Non-of-the above
71,420,T. Silver,Seattle,Elementary Ed,Doctor of Education,3.3,High,Sum2,1991,Non-of-the above
72,900,B. Gola,Conway,Secondary Ed,Master of Science,3.2,High,S,1987,International Student
73,955,K. Booth,Atlanta,Secondary Ed,Master of Science,3.9,High,S,1987,Out of state
74,956,C. Jessy,Orlando,Applied Sc,Master of Science,4.0,High,F,1989,Out of state
75,150,A. Cool,Orlando,Computer Sc,Master of Science,3.9,High,Sum2,1986,International Student
76,250,K. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,High,Sum2,1986,Non-of-the above
77,350,C. Cool,Pine Bluff,Applied Sc,Master of Science,4.0,High,Sum2,1986,Non-of-the above
78,229,M. Katchal,Savannah,Economics,Bachelor of Art,3.0,High,Sum2,1991,Non-of-the above
79,339,H.Poory,Atlanta,Business Admin,Bachelor of Art,3.9,High,Sum2,1987,Non-of-the above
80,439,H. Mishu,Savannah,Accounting,Bachelor of Art,2.8,Medium,Sum2,1987,Out of state
81,329,G. Kooper,Savannah,Accounting,Bachelor of Art,3.0,High,Sum2,1991,Non-of-the above
82,339,M. Bayraq,Savannah,Business Admin,Master of Business Administration,3.9,High,Sum2,1987,Non-of-the above
83,337,N. Mikhy,Savannah,Business Admin,Bachelor of Art,2.8,Medium,Sum2,1987,Out of state
84,650,D. Sorty,Atlanta,Biology,Bachelor of Science,3.9,High,Sum1,1984,Non-of-the above
85,750,K.Gold,Dallas,Applied Sc,Doctor of Philosophy,3.2,High,Sum1,1984,Non-of-the above
86,850,F. Jones,New York,Information Sc,Bachelor of Science,4.0,High,F,1985,International Student
87,950,D. Golden,Seattle,Information Sc,Bachelor of Science,2.1,Medium,F,1985,International Student
88,165,A. Silver,Seattle,Elementary Ed,Master of Science,3.3,High,Sum2,1985,Out of state
89,418,T. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,High,F,1992,Out of state
90,419,T. Red,Seattle,Information Sc,Bachelor of Science,2.1,Medium,F,1992,Out of state
91,215,K. King,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1984,Non-of-the above
92,315,M. Gola,Conway,English,Master of Science,3.2,High,S,1984,Non-of-the above
93,255,K. Dool,Atlanta,English,Master of Science,3.9,High,Sum1,1986,Non-of-the above
94,299,M. Golab,Seattle,Chemistry,Bachelor of Science,3.0,High,S,1992,Non-of-the above
95,199,K. Duell,Atlanta,Biology,Associate degree,4.0,High,F,1988,International Student
96,473,M. Browny,Seattle,Computer Sc,Doctor of Philosophy,4.0,High,S,1992,International Student
97,407,T. Doolak,Seattle,Business Admin,Master of Business Administration,3.1,High,Sum1,1992,Out of state
98,205,K. Minges,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1984,Non-of-the above
99,305,H. Molar,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
100,207,K. Goolar,Atlanta,Chemistry,Master of Science,3.9,High,Sum1,1986,Non-of-the above
101,107,M. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,High,S,1992,Non-of-the above
102,305,M. Searsy,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
103,207,P. Little,Atlanta,Chemistry,Master of Science,3.9,High,Sum1,1986,Non-of-the above
104,107,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,High,S,1992,Out of state
105,109,P. Board,Atlanta,Chemistry,Associate degree,4.0,High,F,1988,International Student
106,305,M. Korp,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
107,109,G. Bear,Little Rock,Biology,Associate degree,4.0,High,F,1988,Out of state
108,591,Z. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,High,S,1992,Non-of-the above
109,391,X. Searsy,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
110,201,Y. Little,Atlanta,Chemistry,Master of Science,3.9,High,Sum1,1986,Non-of-the above
111,117,W. Big,Little Rock,Chemistry,Bachelor of Science,3.9,High,S,1992,Out of state
112,612,V. Board,Atlanta,Chemistry,Associate degree,4.0,High,F,1988,International Student
113,305,M. Kartsoo,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
114,609,N. Gearsal,Little Rock,Biology,Bachelor of Science,4.0,High,F,1988,Out of state
115,615,K. Jiring,Conway,Elementary Ed,Bachelor of Art,3.2,High,Sum2,1984,Non-of-the above
116,715,M. Chendo,Conway,Secondary Ed,Master of Science,3.2,High,S,1984,Non-of-the above
117,855,Z. Megart,Atlanta,Secondary Ed,Master of Science,3.9,High,Sum1,1986,Non-of-the above
118,699,A. Woo,Seattle,Elementary Ed,Bachelor of Art,3.0,High,S,1992,Non-of-the above
119,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Medium,Sum2,1991,Non-of-the above
120,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Medium,Sum2,1991,Non-of-the above

In [71]:
cleaned_9_9_df.shape

(121, 10)

In [72]:
cleaned_9_9_df = cleaned_9_9_df.reset_index(drop=True)
cleaned_9_9_df

,ID,Name,Address,Major,Degree,GPA,GPARank,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,Associate degree,4.0,High,Sum1,1989,International Student
1,961,QT. Brady,Pine Bluff,Computer Sc,Associate degree,3.8,High,Sum2,1987,International Student
2,962,UL. Jones,Little Rock,Computer Sc,Associate degree,3.1,High,Sum2,1984,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,Associate degree,3.2,High,Sum1,1992,Out of state
4,975,CM. Cook,Little Rock,Biology,Bachelor of Science,2.2,Medium,F,1987,Out of state
5,412,DP. Morty,Atlanta,Biology,Bachelor of Art,3.9,High,S,1984,Out of state
6,971,UK. Yu,Conway,Secondary Ed,Master of Science,3.2,High,F,1990,Out of state
7,989,Li. Mooshe,Atlanta,Secondary Ed,Master of Science,3.9,High,F,1990,Non-of-the above
8,998,Di. Morgan,Conway,Biology,Master of Science,3.9,High,S,1987,Non-of-the above
9,964,YH. Brady,Conway,Applied Sc,Bachelor of Art,3.2,High,Sum1,1987,Non-of-the above
10,977,WT. Brady,Conway,Applied Sc,Bachelor of Art,3.2,High,Sum2,1987,Non-of-the above
11,987,AC. Bank,Conway,Applied Sc,Bachelor of Art,3.2,High,Sum2,1987,Non-of-the above
12,988,TP. Kim,Conway,Elementary Ed,Bachelor of Science,3.2,High,Sum1,1990,Non-of-the above
13,902,CY. Crema,Little Rock,Biology,Bachelor of Science,2.2,Medium,S,1987,Non-of-the above
14,969,D. Abuly,Savannah,Economics,Bachelor of Science,3.9,High,S,1990,NaN
15,968,G. Halky,Atlanta,Business Admin,Bachelor of Science,2.9,Medium,S,1990,NaN
16,967,W.Goast,Savannah,Accounting,Bachelor of Science,4.1,High,F,1990,NaN
17,833,T. Chenty,Conway,Elementary Ed,Associate degree,3.2,High,Sum1,1991,NaN
18,124,U. Algy,Denver,Applied Sc,Associate degree,4.0,High,S,1992,International Student
19,976,YI. Torgan,Conway,Biology,Associate degree,3.9,High,S,1987,International Student
20,100,D. Reddyg,Seattle,Information Sc,Master of Science,2.1,Medium,F,1990,International Student
21,969,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,High,Sum1,1987,Out of state
22,901,UI. Wagon,Little Rock,Computer Sc,Master of Science,3.1,High,Sum1,1984,Out of state
23,902,C. Browner,Denver,Applied Sc,Master of Science,4.0,High,S,1989,Out of state
24,777,F. Anglic,Atlanta,Biology,Bachelor of Science,3.9,High,S,1990,Non-of-the above
25,779,BB. Goofan,Atlanta,Chemistry,Bachelor of Science,2.1,Medium,F,1991,Non-of-the above
26,933,GG. Art,Savannah,English,Bachelor of Art,3.1,High,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,Master of Art,4.0,High,Sum2,1991,Non-of-the above
28,667,K. Chen,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1992,Out of state
29,529,M. Yu,Conway,Secondary Ed,Master of Science,3.2,High,S,1990,International Student
30,552,K. Ahmad,Atlanta,Secondary Ed,Doctor of Education,3.9,High,Invalid Date,1987,Out of state
31,687,Y. Morty,Atlanta,Computer Sc,Bachelor of Science,3.9,High,Sum1,1984,Non-of-the above
32,688,Y. Crema,Little Rock,Biology,Associate degree,2.2,Medium,Sum1,1987,Non-of-the above
33,653,C. Alshukri,Denver,Applied Sc,Doctor of Philosophy,4.0,High,F,1991,Out of state
34,986,Q. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,High,S,1987,Non-of-the above
35,579,U. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,High,S,1984,Non-of-the above
36,200,B. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,High,S,1992,International Student
37,300,C. Cook,Little Rock,Biology,Bachelor of Science,2.2,Medium,Sum1,1987,International Student
38,422,U. Yu,Conway,Secondary Ed,Master of Science,3.2,High,S,1990,Out of state
39,423,U. Mooshe,Atlanta,Secondary Ed,Doctor of Education,3.9,High,Sum1,1990,Out of state
40,401,D. Morgan,Conway,Biology,Bachelor of Science,3.9,High,Sum1,1987,International Student
41,201,W. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,High,S,1987,International Student
42,202,A. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,High,Sum1,1987,Non-of-the above
43,415,T. King,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1990,Non-of-the above
44,901,C. Crema,Little Rock,Biology,Associate degree,2.2,Medium,Sum1,1987,Out of state
45,222,D. Abul,Savannah,Economics,Bachelor of Art,3.9,High,Sum2,1990,Non-of-the above
46,333,G. Halk,Atlanta,Business Admin,Master of Business Administration,2.9,Medium,Sum2,1990,Non-of-the above
47,431,W.Goos,Savannah,Accounting,Bachelor of Art,4.1,High,Sum2,1990,Out of state
48,421,T. Chen,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1991,International Student
49,524,U. Alramzy,Denver,Applied Sc,Doctor of Philosophy,4.0,High,F,1992,International Student
50,689,Y. Morgan,Conway,Biology,Bachelor of Science,3.9,High,Sum1,1987,Non-of-the above
51,195,D. Red,Seattle,Information Sc,Bachelor of Science,2.1,Medium,F,1990,Out of state
52,703,Y. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,High,Sum2,1987,Out of state
53,665,Z. Silver,Seattle,Elementary Ed,Doctor of Education,3.3,High,Sum2,1991,International Student
54,739,A. Moon,Little Rock,Computer Sc,Bachelor of Science,3.1,High,Sum1,1984,Non-of-the above
55,839,Q. Robe,Pine Bluff,Computer Sc,Master of Science,3.8,High,Sum1,1987,Non-of-the above
56,939,U. Wang,Little Rock,Computer Sc,Associate degree,3.1,High,Sum2,1984,Out of state
57,500,K.Bronz,Dallas,Chemistry,Master of Science,3.2,High,Sum1,1988,Out of state
58,132,A. White,Orlando,Computer Sc,Associate degree,3.9,High,Sum2,1992,Non-of-the above
59,232,K. Blue,Little Rock,English,Associate degree,3.1,High,Sum2,1991,International Student
60,352,C. Black,Pine Bluff,Applied Sc,Doctor of Philosophy,3.8,High,Sum2,1990,Out of state
61,600,C. Jones,Dallas,Information Sc,Bachelor of Science,4.0,High,F,1988,Out of state
62,682,Y. Cook,Little Rock,Biology,Bachelor of Science,2.2,Medium,Sum1,1987,Out of state
63,452,N. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,High,Sum2,1988,International Student
64,590,X. Cook,Little Rock,Biology,Associate degree,2.2,Medium,Sum1,1992,Non-of-the above
65,690,D. Brown,Atlanta,Biology,Bachelor of Science,3.9,High,Sum1,1988,Non-of-the above
66,175,K. Glob,Dallas,Applied Sc,Doctor of Philosophy,3.2,High,Sum1,1989,Non-of-the above
67,185,X. Jones,New York,Information Sc,Bachelor of Science,4.0,High,F,1990,Non-of-the above
68,700,A. Boss,Seattle,Elementary Ed,Master of Science,3.3,High,Sum2,1984,International Student
69,800,K. Queen,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1989,Out of state
70,416,T. Gola,Conway,Secondary Ed,Master of Science,3.2,High,S,1990,Non-of-the above
71,420,T. Silver,Seattle,Elementary Ed,Doctor of Education,3.3,High,Sum2,1991,Non-of-the above
72,900,B. Gola,Conway,Secondary Ed,Master of Science,3.2,High,S,1987,International Student
73,955,K. Booth,Atlanta,Secondary Ed,Master of Science,3.9,High,S,1987,Out of state
74,956,C. Jessy,Orlando,Applied Sc,Master of Science,4.0,High,F,1989,Out of state
75,150,A. Cool,Orlando,Computer Sc,Master of Science,3.9,High,Sum2,1986,International Student
76,250,K. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,High,Sum2,1986,Non-of-the above
77,350,C. Cool,Pine Bluff,Applied Sc,Master of Science,4.0,High,Sum2,1986,Non-of-the above
78,229,M. Katchal,Savannah,Economics,Bachelor of Art,3.0,High,Sum2,1991,Non-of-the above
79,339,H.Poory,Atlanta,Business Admin,Bachelor of Art,3.9,High,Sum2,1987,Non-of-the above
80,439,H. Mishu,Savannah,Accounting,Bachelor of Art,2.8,Medium,Sum2,1987,Out of state
81,329,G. Kooper,Savannah,Accounting,Bachelor of Art,3.0,High,Sum2,1991,Non-of-the above
82,339,M. Bayraq,Savannah,Business Admin,Master of Business Administration,3.9,High,Sum2,1987,Non-of-the above
83,337,N. Mikhy,Savannah,Business Admin,Bachelor of Art,2.8,Medium,Sum2,1987,Out of state
84,650,D. Sorty,Atlanta,Biology,Bachelor of Science,3.9,High,Sum1,1984,Non-of-the above
85,750,K.Gold,Dallas,Applied Sc,Doctor of Philosophy,3.2,High,Sum1,1984,Non-of-the above
86,850,F. Jones,New York,Information Sc,Bachelor of Science,4.0,High,F,1985,International Student
87,950,D. Golden,Seattle,Information Sc,Bachelor of Science,2.1,Medium,F,1985,International Student
88,165,A. Silver,Seattle,Elementary Ed,Master of Science,3.3,High,Sum2,1985,Out of state
89,418,T. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,High,F,1992,Out of state
90,419,T. Red,Seattle,Information Sc,Bachelor of Science,2.1,Medium,F,1992,Out of state
91,215,K. King,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1984,Non-of-the above
92,315,M. Gola,Conway,English,Master of Science,3.2,High,S,1984,Non-of-the above
93,255,K. Dool,Atlanta,English,Master of Science,3.9,High,Sum1,1986,Non-of-the above
94,299,M. Golab,Seattle,Chemistry,Bachelor of Science,3.0,High,S,1992,Non-of-the above
95,199,K. Duell,Atlanta,Biology,Associate degree,4.0,High,F,1988,International Student
96,473,M. Browny,Seattle,Computer Sc,Doctor of Philosophy,4.0,High,S,1992,International Student
97,407,T. Doolak,Seattle,Business Admin,Master of Business Administration,3.1,High,Sum1,1992,Out of state
98,205,K. Minges,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1984,Non-of-the above
99,305,H. Molar,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
100,207,K. Goolar,Atlanta,Chemistry,Master of Science,3.9,High,Sum1,1986,Non-of-the above
101,107,M. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,High,S,1992,Non-of-the above
102,305,M. Searsy,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
103,207,P. Little,Atlanta,Chemistry,Master of Science,3.9,High,Sum1,1986,Non-of-the above
104,107,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,High,S,1992,Out of state
105,109,P. Board,Atlanta,Chemistry,Associate degree,4.0,High,F,1988,International Student
106,305,M. Korp,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
107,109,G. Bear,Little Rock,Biology,Associate degree,4.0,High,F,1988,Out of state
108,591,Z. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,High,S,1992,Non-of-the above
109,391,X. Searsy,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
110,201,Y. Little,Atlanta,Chemistry,Master of Science,3.9,High,Sum1,1986,Non-of-the above
111,117,W. Big,Little Rock,Chemistry,Bachelor of Science,3.9,High,S,1992,Out of state
112,612,V. Board,Atlanta,Chemistry,Associate degree,4.0,High,F,1988,International Student
113,305,M. Kartsoo,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
114,609,N. Gearsal,Little Rock,Biology,Bachelor of Science,4.0,High,F,1988,Out of state
115,615,K. Jiring,Conway,Elementary Ed,Bachelor of Art,3.2,High,Sum2,1984,Non-of-the above
116,715,M. Chendo,Conway,Secondary Ed,Master of Science,3.2,High,S,1984,Non-of-the above
117,855,Z. Megart,Atlanta,Secondary Ed,Master of Science,3.9,High,Sum1,1986,Non-of-the above
118,699,A. Woo,Seattle,Elementary Ed,Bachelor of Art,3.0,High,S,1992,Non-of-the above
119,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Medium,Sum2,1991,Non-of-the above
120,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Medium,Sum2,1991,Non-of-the above

In [73]:
cleaned_9_9_df.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\cleaned_9_9_df.csv', index=False)

# Finalize the Integration

In [74]:
Integrated_Data = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\cleaned_9_9_df.csv")

In [75]:
Integrated_Data.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\Integrated_Data.csv', index=False)

In [76]:
Integrated_Data

,ID,Name,Address,Major,Degree,GPA,GPARank,Semester,Y,Status
0,999,CK. Brown,Denver,Applied Sc,Associate degree,4.0,High,Sum1,1989,International Student
1,961,QT. Brady,Pine Bluff,Computer Sc,Associate degree,3.8,High,Sum2,1987,International Student
2,962,UL. Jones,Little Rock,Computer Sc,Associate degree,3.1,High,Sum2,1984,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,Associate degree,3.2,High,Sum1,1992,Out of state
4,975,CM. Cook,Little Rock,Biology,Bachelor of Science,2.2,Medium,F,1987,Out of state
5,412,DP. Morty,Atlanta,Biology,Bachelor of Art,3.9,High,S,1984,Out of state
6,971,UK. Yu,Conway,Secondary Ed,Master of Science,3.2,High,F,1990,Out of state
7,989,Li. Mooshe,Atlanta,Secondary Ed,Master of Science,3.9,High,F,1990,Non-of-the above
8,998,Di. Morgan,Conway,Biology,Master of Science,3.9,High,S,1987,Non-of-the above
9,964,YH. Brady,Conway,Applied Sc,Bachelor of Art,3.2,High,Sum1,1987,Non-of-the above
10,977,WT. Brady,Conway,Applied Sc,Bachelor of Art,3.2,High,Sum2,1987,Non-of-the above
11,987,AC. Bank,Conway,Applied Sc,Bachelor of Art,3.2,High,Sum2,1987,Non-of-the above
12,988,TP. Kim,Conway,Elementary Ed,Bachelor of Science,3.2,High,Sum1,1990,Non-of-the above
13,902,CY. Crema,Little Rock,Biology,Bachelor of Science,2.2,Medium,S,1987,Non-of-the above
14,969,D. Abuly,Savannah,Economics,Bachelor of Science,3.9,High,S,1990,NaN
15,968,G. Halky,Atlanta,Business Admin,Bachelor of Science,2.9,Medium,S,1990,NaN
16,967,W.Goast,Savannah,Accounting,Bachelor of Science,4.1,High,F,1990,NaN
17,833,T. Chenty,Conway,Elementary Ed,Associate degree,3.2,High,Sum1,1991,NaN
18,124,U. Algy,Denver,Applied Sc,Associate degree,4.0,High,S,1992,International Student
19,976,YI. Torgan,Conway,Biology,Associate degree,3.9,High,S,1987,International Student
20,100,D. Reddyg,Seattle,Information Sc,Master of Science,2.1,Medium,F,1990,International Student
21,969,Y. Bankrpt,Conway,Applied Sc,Master of Science,3.2,High,Sum1,1987,Out of state
22,901,UI. Wagon,Little Rock,Computer Sc,Master of Science,3.1,High,Sum1,1984,Out of state
23,902,C. Browner,Denver,Applied Sc,Master of Science,4.0,High,S,1989,Out of state
24,777,F. Anglic,Atlanta,Biology,Bachelor of Science,3.9,High,S,1990,Non-of-the above
25,779,BB. Goofan,Atlanta,Chemistry,Bachelor of Science,2.1,Medium,F,1991,Non-of-the above
26,933,GG. Art,Savannah,English,Bachelor of Art,3.1,High,Sum2,1991,Non-of-the above
27,941,BB. Mercy,Savannah,English,Master of Art,4.0,High,Sum2,1991,Non-of-the above
28,667,K. Chen,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1992,Out of state
29,529,M. Yu,Conway,Secondary Ed,Master of Science,3.2,High,S,1990,International Student
30,552,K. Ahmad,Atlanta,Secondary Ed,Doctor of Education,3.9,High,Invalid Date,1987,Out of state
31,687,Y. Morty,Atlanta,Computer Sc,Bachelor of Science,3.9,High,Sum1,1984,Non-of-the above
32,688,Y. Crema,Little Rock,Biology,Associate degree,2.2,Medium,Sum1,1987,Non-of-the above
33,653,C. Alshukri,Denver,Applied Sc,Doctor of Philosophy,4.0,High,F,1991,Out of state
34,986,Q. Brady,Pine Bluff,Computer Sc,Master of Science,3.8,High,S,1987,Non-of-the above
35,579,U. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,High,S,1984,Non-of-the above
36,200,B. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,High,S,1992,International Student
37,300,C. Cook,Little Rock,Biology,Bachelor of Science,2.2,Medium,Sum1,1987,International Student
38,422,U. Yu,Conway,Secondary Ed,Master of Science,3.2,High,S,1990,Out of state
39,423,U. Mooshe,Atlanta,Secondary Ed,Doctor of Education,3.9,High,Sum1,1990,Out of state
40,401,D. Morgan,Conway,Biology,Bachelor of Science,3.9,High,Sum1,1987,International Student
41,201,W. Brady,Conway,Applied Sc,Doctor of Philosophy,3.2,High,S,1987,International Student
42,202,A. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,High,Sum1,1987,Non-of-the above
43,415,T. King,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1990,Non-of-the above
44,901,C. Crema,Little Rock,Biology,Associate degree,2.2,Medium,Sum1,1987,Out of state
45,222,D. Abul,Savannah,Economics,Bachelor of Art,3.9,High,Sum2,1990,Non-of-the above
46,333,G. Halk,Atlanta,Business Admin,Master of Business Administration,2.9,Medium,Sum2,1990,Non-of-the above
47,431,W.Goos,Savannah,Accounting,Bachelor of Art,4.1,High,Sum2,1990,Out of state
48,421,T. Chen,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1991,International Student
49,524,U. Alramzy,Denver,Applied Sc,Doctor of Philosophy,4.0,High,F,1992,International Student
50,689,Y. Morgan,Conway,Biology,Bachelor of Science,3.9,High,Sum1,1987,Non-of-the above
51,195,D. Red,Seattle,Information Sc,Bachelor of Science,2.1,Medium,F,1990,Out of state
52,703,Y. Bank,Conway,Applied Sc,Doctor of Philosophy,3.2,High,Sum2,1987,Out of state
53,665,Z. Silver,Seattle,Elementary Ed,Doctor of Education,3.3,High,Sum2,1991,International Student
54,739,A. Moon,Little Rock,Computer Sc,Bachelor of Science,3.1,High,Sum1,1984,Non-of-the above
55,839,Q. Robe,Pine Bluff,Computer Sc,Master of Science,3.8,High,Sum1,1987,Non-of-the above
56,939,U. Wang,Little Rock,Computer Sc,Associate degree,3.1,High,Sum2,1984,Out of state
57,500,K.Bronz,Dallas,Chemistry,Master of Science,3.2,High,Sum1,1988,Out of state
58,132,A. White,Orlando,Computer Sc,Associate degree,3.9,High,Sum2,1992,Non-of-the above
59,232,K. Blue,Little Rock,English,Associate degree,3.1,High,Sum2,1991,International Student
60,352,C. Black,Pine Bluff,Applied Sc,Doctor of Philosophy,3.8,High,Sum2,1990,Out of state
61,600,C. Jones,Dallas,Information Sc,Bachelor of Science,4.0,High,F,1988,Out of state
62,682,Y. Cook,Little Rock,Biology,Bachelor of Science,2.2,Medium,Sum1,1987,Out of state
63,452,N. Brady,Little Rock,Applied Sc,Doctor of Philosophy,3.2,High,Sum2,1988,International Student
64,590,X. Cook,Little Rock,Biology,Associate degree,2.2,Medium,Sum1,1992,Non-of-the above
65,690,D. Brown,Atlanta,Biology,Bachelor of Science,3.9,High,Sum1,1988,Non-of-the above
66,175,K. Glob,Dallas,Applied Sc,Doctor of Philosophy,3.2,High,Sum1,1989,Non-of-the above
67,185,X. Jones,New York,Information Sc,Bachelor of Science,4.0,High,F,1990,Non-of-the above
68,700,A. Boss,Seattle,Elementary Ed,Master of Science,3.3,High,Sum2,1984,International Student
69,800,K. Queen,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1989,Out of state
70,416,T. Gola,Conway,Secondary Ed,Master of Science,3.2,High,S,1990,Non-of-the above
71,420,T. Silver,Seattle,Elementary Ed,Doctor of Education,3.3,High,Sum2,1991,Non-of-the above
72,900,B. Gola,Conway,Secondary Ed,Master of Science,3.2,High,S,1987,International Student
73,955,K. Booth,Atlanta,Secondary Ed,Master of Science,3.9,High,S,1987,Out of state
74,956,C. Jessy,Orlando,Applied Sc,Master of Science,4.0,High,F,1989,Out of state
75,150,A. Cool,Orlando,Computer Sc,Master of Science,3.9,High,Sum2,1986,International Student
76,250,K. Jones,Little Rock,Computer Sc,Bachelor of Science,3.1,High,Sum2,1986,Non-of-the above
77,350,C. Cool,Pine Bluff,Applied Sc,Master of Science,4.0,High,Sum2,1986,Non-of-the above
78,229,M. Katchal,Savannah,Economics,Bachelor of Art,3.0,High,Sum2,1991,Non-of-the above
79,339,H.Poory,Atlanta,Business Admin,Bachelor of Art,3.9,High,Sum2,1987,Non-of-the above
80,439,H. Mishu,Savannah,Accounting,Bachelor of Art,2.8,Medium,Sum2,1987,Out of state
81,329,G. Kooper,Savannah,Accounting,Bachelor of Art,3.0,High,Sum2,1991,Non-of-the above
82,339,M. Bayraq,Savannah,Business Admin,Master of Business Administration,3.9,High,Sum2,1987,Non-of-the above
83,337,N. Mikhy,Savannah,Business Admin,Bachelor of Art,2.8,Medium,Sum2,1987,Out of state
84,650,D. Sorty,Atlanta,Biology,Bachelor of Science,3.9,High,Sum1,1984,Non-of-the above
85,750,K.Gold,Dallas,Applied Sc,Doctor of Philosophy,3.2,High,Sum1,1984,Non-of-the above
86,850,F. Jones,New York,Information Sc,Bachelor of Science,4.0,High,F,1985,International Student
87,950,D. Golden,Seattle,Information Sc,Bachelor of Science,2.1,Medium,F,1985,International Student
88,165,A. Silver,Seattle,Elementary Ed,Master of Science,3.3,High,Sum2,1985,Out of state
89,418,T. Brown,Denver,Applied Sc,Doctor of Philosophy,4.0,High,F,1992,Out of state
90,419,T. Red,Seattle,Information Sc,Bachelor of Science,2.1,Medium,F,1992,Out of state
91,215,K. King,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1984,Non-of-the above
92,315,M. Gola,Conway,English,Master of Science,3.2,High,S,1984,Non-of-the above
93,255,K. Dool,Atlanta,English,Master of Science,3.9,High,Sum1,1986,Non-of-the above
94,299,M. Golab,Seattle,Chemistry,Bachelor of Science,3.0,High,S,1992,Non-of-the above
95,199,K. Duell,Atlanta,Biology,Associate degree,4.0,High,F,1988,International Student
96,473,M. Browny,Seattle,Computer Sc,Doctor of Philosophy,4.0,High,S,1992,International Student
97,407,T. Doolak,Seattle,Business Admin,Master of Business Administration,3.1,High,Sum1,1992,Out of state
98,205,K. Minges,Conway,Elementary Ed,Doctor of Education,3.2,High,Sum2,1984,Non-of-the above
99,305,H. Molar,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
100,207,K. Goolar,Atlanta,Chemistry,Master of Science,3.9,High,Sum1,1986,Non-of-the above
101,107,M. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,High,S,1992,Non-of-the above
102,305,M. Searsy,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
103,207,P. Little,Atlanta,Chemistry,Master of Science,3.9,High,Sum1,1986,Non-of-the above
104,107,M. Big,Little Rock,Chemistry,Bachelor of Science,3.9,High,S,1992,Out of state
105,109,P. Board,Atlanta,Chemistry,Associate degree,4.0,High,F,1988,International Student
106,305,M. Korp,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
107,109,G. Bear,Little Rock,Biology,Associate degree,4.0,High,F,1988,Out of state
108,591,Z. Kochaal,Savannah,Chemistry,Bachelor of Science,3.9,High,S,1992,Non-of-the above
109,391,X. Searsy,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
110,201,Y. Little,Atlanta,Chemistry,Master of Science,3.9,High,Sum1,1986,Non-of-the above
111,117,W. Big,Little Rock,Chemistry,Bachelor of Science,3.9,High,S,1992,Out of state
112,612,V. Board,Atlanta,Chemistry,Associate degree,4.0,High,F,1988,International Student
113,305,M. Kartsoo,Conway,Biology,Master of Science,3.2,High,Sum1,1984,Non-of-the above
114,609,N. Gearsal,Little Rock,Biology,Bachelor of Science,4.0,High,F,1988,Out of state
115,615,K. Jiring,Conway,Elementary Ed,Bachelor of Art,3.2,High,Sum2,1984,Non-of-the above
116,715,M. Chendo,Conway,Secondary Ed,Master of Science,3.2,High,S,1984,Non-of-the above
117,855,Z. Megart,Atlanta,Secondary Ed,Master of Science,3.9,High,Sum1,1986,Non-of-the above
118,699,A. Woo,Seattle,Elementary Ed,Bachelor of Art,3.0,High,S,1992,Non-of-the above
119,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Medium,Sum2,1991,Non-of-the above
120,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Medium,Sum2,1991,Non-of-the above

In [83]:
college_table =  pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - colleges123.csv")
college_table

                          NAME          MAJORS
0                Cyber College     Computer Sc
1                Cyber College  Information Sc
2                Cyber College      Applied Sc
3          College of Business      Accounting
4          College of Business  Business Admin
5          College of Business       Economics
6         College of Education   Elementary Ed
7         College of Education    Secondary Ed
8   College of Art and Science         Biology
9   College of Art and Science       Chemistry
10  College of Art and Science         English