In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max.rows', 150)

In [ ]:
colleges1_2 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - colleges1_2.csv")
colleges1_2

In [3]:
df1_2 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - ds1_2.csv")
df1_2

,ID,Name,Address,Major,Degree,GPA,MonthDay,Y,Status
0,933,GG. Art,Savannah,English,BA,3.1,Aug.15,91,N
1,941,BB. Mercy,Savannah,English,MA,4.0,Aug. 15,91,N
2,356,C. Brown,Denver,Applied Sc,PhD,4.0,Dec.15,89,I
3,667,K. Chen,Conway,Elementary,EdD,3.2,Aug. 15,92,O
4,529,M. Yu,Conway,Secondary,MS,3.2,May 15,90,I
5,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,July 48,87,O
6,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,July 4,84,N
7,688,Y. Crema,Little Rock,Biology,AS,2.2,June 1,87,N
8,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,Dec.15,91,O
9,100,A. Jones,Little Rock,Computer Sc,BS,3.1,May 15,84,I
10,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,May 15,87,N
11,579,U. Jones,Little Rock,Computer Sc,BS,3.1,May 15,84,N
12,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,May 15,92,I
13,300,C. Cook,Little Rock,Biology,BS,2.2,June 1,87,I
14,400,D. Morty,Atlanta,Biology,BS,3.9,July 4,84,N
15,422,U. Yu,Conway,Secondary,MS,3.2,May 15,90,O
16,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,July 4,90,O
17,401,D. Morgan,Conway,Biology,BS,3.9,July 4,87,I
18,702,Y. Brady,Conway,Applied Sc,PhD,3.2,May 15,87,I
19,201,W. Brady,Conway,Applied Sc,PhD,3.2,May 15,87,I
20,202,A. Bank,Conway,Applied Sc,PhD,3.2,July 4,87,N
21,415,T. King,Conway,Elementary,EdD,3.2,Aug. 15,90,N
22,901,C. Crema,Little Rock,Biology,AS,2.2,June 1,87,O
23,222,D. Abul,Savannah,Economics,BA,3.9,Aug. 15,90,N
24,333,G. Halk,Atlanta,B Admin,MBA,2.9,Aug. 15,90,N
25,431,W.Goos,Savannah,Accounting,BA,4.1,Aug. 15,90,O
26,421,T. Chen,Conway,Elementary,EdD,3.2,Aug. 15,91,I
27,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,Dec.15,92,I
28,689,Y. Morgan,Conway,Biology,BS,3.9,July 4,87,N
29,195,D. Red,Seattle,Info Sc,BS,2.1,Dec. 15,90,O
30,703,Y. Bank,Conway,Applied Sc,PhD,3.2,July 15,87,O
31,665,Z. Silver,Seattle,Elementary,EdD,3.3,Aug. 15,91,I
32,739,A. Moon,Little Rock,Computer Sc,BS,3.1,June 1,84,N
33,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,June 18,87,N
34,939,U. Wang,Little Rock,Computer Sc,AS,3.1,July 15,84,O
35,356,C. Brown,Denver,Applied Sc,PhD,4.0,Dec.15,89,O
36,500,K.Bronz,Dallas,Chemistry,MS,3.2,July 4,88,O
37,132,A. White,Orlando,Computer Sc,AS,3.9,Aug 15,92,N
38,100,A. Jones,Little Rock,Computer Sc,MS,3.2,May 15,87,N
39,232,K. Blue,Little Rock,English,AS,3.1,Aug 15,91,I
40,352,C. Black,Pine Bluff,Applied,PhD,3.8,Aug 15,90,O
41,600,C. Jones,Dallas,Info Sc,BS,4.0,Dec. 15,88,O
42,680,Y. Brady,Pine Bluff,Computer Sc,MS,3.8,May 15,90,O
43,682,Y. Cook,Little Rock,Biology,BS,2.2,June 1,87,O
44,400,D. Morty,Seattle,Info Sc,BS,2.1,Dec. 15,88,I
45,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Aug 15,88,I
46,590,X. Cook,Little Rock,Biology,AS,2.2,June 1,92,N
47,690,D. Brown,Atlanta,Biology,BS,3.9,July 4,88,N
48,175,K. Glob,Dallas,Applied Sc,PhD,3.2,July 4,89,N
49,681,Y. Brady,Little Rock,Applied Sc,PhD,3.2,May 15,91,N
50,185,X. Jones,New York,Info Sc,BS,4.0,Dec. 15,90,N
51,700,A. Boss,Seattle,Elementary,MS,3.3,Aug. 15,84,I
52,800,K. Queen,Conway,Elementary,EdD,3.2,Aug. 15,89,O
53,416,T. Gola,Conway,Secondary,MS,3.2,May 15,90,N
54,420,T. Silver,Seattle,Elementary,EdD,3.3,Aug. 15,91,N
55,900,B. Gola,Conway,Secondary,MS,3.2,May 15,87,I
56,955,K. Booth,Atlanta,Secondary,MS,3.9,May 15,87,O
57,956,C. Jessy,Orlando,Applied Sc,MS,4.0,Dec.15,89,O
58,150,A. Cool,Orlando,Computer Sc,MS,3.9,Aug 15,86,I
59,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Aug 15,86,N
60,350,C. Cool,Pine Bluff,Applied,MS,4.0,Aug 15,86,N
61,229,M. Katchal,Savannah,Economics,BA,3.0,Aug. 15,91,N
62,339,H.Poory,Atlanta,B Admin,BA,3.9,Aug. 15,87,N
63,439,H. Mishu,Savannah,Accounting,BA,2.8,Aug. 15,87,O
64,329,G. Kooper,Savannah,Accounting,BA,3.0,Aug. 15,91,N
65,339,M. Bayraq,Savannah,MBA,MBA,3.9,Aug. 15,87,N
66,337,N. Mikhy,Savannah,B Admin,BA,2.8,Aug. 15,87,O
67,650,D. Sorty,Atlanta,Biology,BS,3.9,July 4,84,N
68,750,K.Gold,Dallas,Applied Sc,PhD,3.2,July 4,84,N
69,850,F. Jones,New York,Info Sc,BS,4.0,Dec. 15,85,I
70,950,D. Golden,Seattle,Info Sc,BS,2.1,Dec. 15,85,I
71,165,A. Silver,Seattle,Elementary,MS,3.3,Aug. 15,85,O
72,417,T. Dool,Atlanta,English,MS,3.9,July 4-9,92,O
73,418,T. Brown,Denver,Applied Sc,PhD,4.0,Dec.15,92,O
74,419,T. Red,Seattle,Info Sc,BS,2.1,Dec. 15,92,O
75,215,K. King,Conway,Elementary,EdD,3.2,Aug. 15,84,N
76,315,M. Gola,Conway,English,MS,3.2,May 15,84,N
77,255,K. Dool,Atlanta,Engl,MS,3.9,July 4,86,N
78,299,M. Golab,Seatel,Chemistry,BS,3.0,May 15,92,N
79,199,K. Duell,Atlanta,Biology,AS,4.0,Dec. 15,88,I
80,473,M. Browny,Seattle,CS,PhD,4.0,May.15,92,I
81,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,June 1,92,O
82,205,K. Minges,Conway,Elementary,EdD,3.2,Aug. 15,84,N
83,305,H. Molar,Conway,Biology,MS,3.2,July 4,84,N
84,207,K. Goolar,Atlanta,Chemistry,MS,3.9,July 4,86,N
85,107,M. Kochaal,Savannah,Chemistry,BS,3.9,May 15,92,N
86,305,M. Searsy,Conway,Biol,MS,3.2,July 4,84,N
87,207,P. Little,Atlanta,Chemistry,MS,3.9,July 4,86,N
88,107,M. Big,Little Rock,Chemistry,BS,3.9,May 15,92,O
89,109,P. Board,Atlanta,Chem,AS,4.0,Dec. 15,88,I
90,305,M. Korp,Conway,Biology,MS,3.2,July 4,84,N
91,109,G. Bear,Little Rock,Biology,AS,4.0,Dec. 15,88,O
92,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,May 15,92,N
93,391,X. Searsy,Conway,Biology,MS,3.2,July 4,84,N
94,201,Y. Little,Atlanta,Chemistry,MS,3.9,July 4,86,N
95,117,W. Big,Little Rock,Chemistry,BS,3.9,May 15,92,O
96,612,V. Board,Atlanta,Chemistry,AS,4.0,Dec. 15,88,I
97,305,M. Kartsoo,Conway,Biology,MS,3.2,July 4,84,N
98,609,N. Gearsal,Little Rock,Biology,BS,4.0,Dec. 15,88,O
99,615,K. Jiring,Conway,Element.,BA,3.2,Aug. 15,84,N
100,715,M. Chendo,Conway,Secondary,MS,3.2,May 15,84,N
101,855,Z. Megart,Atlanta,Secondary,MS,3.9,July 4,86,N
102,699,A. Woo,Seattle,Elementary,BA,3.0,May 15,92,N
103,933,CC. Artian,Atlanta,English,BA,2.9,Aug.15,91,N
104,941,D. Merdoo,Atlanta,English,MA,2.8,Aug. 15,91,N

In [ ]:
colleges3 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - colleges3.csv")
colleges3

In [ ]:
df3 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - ds3.csv")
df3

Find duplicates in the 'Name' column.

In [4]:
# duplicates = df1_2[df1_2.duplicated(subset=['ID', 'Name'], keep=False)]
name_duplicates = df1_2[df1_2.duplicated('Name', keep=False)]
name_duplicates

     ID      Name      Address        Major Degree  GPA MonthDay   Y Status
2   356  C. Brown       Denver   Applied Sc    PhD  4.0   Dec.15  89      I
9   100  A. Jones  Little Rock  Computer Sc     BS  3.1   May 15  84      I
14  400  D. Morty      Atlanta      Biology     BS  3.9   July 4  84      N
18  702  Y. Brady       Conway   Applied Sc    PhD  3.2   May 15  87      I
35  356  C. Brown       Denver   Applied Sc    PhD  4.0   Dec.15  89      O
38  100  A. Jones  Little Rock  Computer Sc     MS  3.2   May 15  87      N
42  680  Y. Brady   Pine Bluff  Computer Sc     MS  3.8   May 15  90      O
44  400  D. Morty      Seattle      Info Sc     BS  2.1  Dec. 15  88      I
49  681  Y. Brady  Little Rock   Applied Sc    PhD  3.2   May 15  91      N

Count hopw many duplicates were found.

In [5]:
name_duplicates.shape

(9, 9)

These duplicates are indetermanable without more information. We will save them to a new csv file named deleted_name_duplicates to inquire about the records.

In [6]:
name_duplicates.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\deleted_name_duplicates.csv', index=False)

Now we drop the 'Name' duplicates from the original d1_2 dataframe.

In [7]:
df1_2 = df1_2.drop_duplicates(subset='Name', keep=False)
df1_2

,ID,Name,Address,Major,Degree,GPA,MonthDay,Y,Status
0,933,GG. Art,Savannah,English,BA,3.1,Aug.15,91,N
1,941,BB. Mercy,Savannah,English,MA,4.0,Aug. 15,91,N
3,667,K. Chen,Conway,Elementary,EdD,3.2,Aug. 15,92,O
4,529,M. Yu,Conway,Secondary,MS,3.2,May 15,90,I
5,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,July 48,87,O
6,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,July 4,84,N
7,688,Y. Crema,Little Rock,Biology,AS,2.2,June 1,87,N
8,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,Dec.15,91,O
10,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,May 15,87,N
11,579,U. Jones,Little Rock,Computer Sc,BS,3.1,May 15,84,N
12,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,May 15,92,I
13,300,C. Cook,Little Rock,Biology,BS,2.2,June 1,87,I
15,422,U. Yu,Conway,Secondary,MS,3.2,May 15,90,O
16,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,July 4,90,O
17,401,D. Morgan,Conway,Biology,BS,3.9,July 4,87,I
19,201,W. Brady,Conway,Applied Sc,PhD,3.2,May 15,87,I
20,202,A. Bank,Conway,Applied Sc,PhD,3.2,July 4,87,N
21,415,T. King,Conway,Elementary,EdD,3.2,Aug. 15,90,N
22,901,C. Crema,Little Rock,Biology,AS,2.2,June 1,87,O
23,222,D. Abul,Savannah,Economics,BA,3.9,Aug. 15,90,N
24,333,G. Halk,Atlanta,B Admin,MBA,2.9,Aug. 15,90,N
25,431,W.Goos,Savannah,Accounting,BA,4.1,Aug. 15,90,O
26,421,T. Chen,Conway,Elementary,EdD,3.2,Aug. 15,91,I
27,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,Dec.15,92,I
28,689,Y. Morgan,Conway,Biology,BS,3.9,July 4,87,N
29,195,D. Red,Seattle,Info Sc,BS,2.1,Dec. 15,90,O
30,703,Y. Bank,Conway,Applied Sc,PhD,3.2,July 15,87,O
31,665,Z. Silver,Seattle,Elementary,EdD,3.3,Aug. 15,91,I
32,739,A. Moon,Little Rock,Computer Sc,BS,3.1,June 1,84,N
33,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,June 18,87,N
34,939,U. Wang,Little Rock,Computer Sc,AS,3.1,July 15,84,O
36,500,K.Bronz,Dallas,Chemistry,MS,3.2,July 4,88,O
37,132,A. White,Orlando,Computer Sc,AS,3.9,Aug 15,92,N
39,232,K. Blue,Little Rock,English,AS,3.1,Aug 15,91,I
40,352,C. Black,Pine Bluff,Applied,PhD,3.8,Aug 15,90,O
41,600,C. Jones,Dallas,Info Sc,BS,4.0,Dec. 15,88,O
43,682,Y. Cook,Little Rock,Biology,BS,2.2,June 1,87,O
45,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Aug 15,88,I
46,590,X. Cook,Little Rock,Biology,AS,2.2,June 1,92,N
47,690,D. Brown,Atlanta,Biology,BS,3.9,July 4,88,N
48,175,K. Glob,Dallas,Applied Sc,PhD,3.2,July 4,89,N
50,185,X. Jones,New York,Info Sc,BS,4.0,Dec. 15,90,N
51,700,A. Boss,Seattle,Elementary,MS,3.3,Aug. 15,84,I
52,800,K. Queen,Conway,Elementary,EdD,3.2,Aug. 15,89,O
53,416,T. Gola,Conway,Secondary,MS,3.2,May 15,90,N
54,420,T. Silver,Seattle,Elementary,EdD,3.3,Aug. 15,91,N
55,900,B. Gola,Conway,Secondary,MS,3.2,May 15,87,I
56,955,K. Booth,Atlanta,Secondary,MS,3.9,May 15,87,O
57,956,C. Jessy,Orlando,Applied Sc,MS,4.0,Dec.15,89,O
58,150,A. Cool,Orlando,Computer Sc,MS,3.9,Aug 15,86,I
59,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Aug 15,86,N
60,350,C. Cool,Pine Bluff,Applied,MS,4.0,Aug 15,86,N
61,229,M. Katchal,Savannah,Economics,BA,3.0,Aug. 15,91,N
62,339,H.Poory,Atlanta,B Admin,BA,3.9,Aug. 15,87,N
63,439,H. Mishu,Savannah,Accounting,BA,2.8,Aug. 15,87,O
64,329,G. Kooper,Savannah,Accounting,BA,3.0,Aug. 15,91,N
65,339,M. Bayraq,Savannah,MBA,MBA,3.9,Aug. 15,87,N
66,337,N. Mikhy,Savannah,B Admin,BA,2.8,Aug. 15,87,O
67,650,D. Sorty,Atlanta,Biology,BS,3.9,July 4,84,N
68,750,K.Gold,Dallas,Applied Sc,PhD,3.2,July 4,84,N
69,850,F. Jones,New York,Info Sc,BS,4.0,Dec. 15,85,I
70,950,D. Golden,Seattle,Info Sc,BS,2.1,Dec. 15,85,I
71,165,A. Silver,Seattle,Elementary,MS,3.3,Aug. 15,85,O
72,417,T. Dool,Atlanta,English,MS,3.9,July 4-9,92,O
73,418,T. Brown,Denver,Applied Sc,PhD,4.0,Dec.15,92,O
74,419,T. Red,Seattle,Info Sc,BS,2.1,Dec. 15,92,O
75,215,K. King,Conway,Elementary,EdD,3.2,Aug. 15,84,N
76,315,M. Gola,Conway,English,MS,3.2,May 15,84,N
77,255,K. Dool,Atlanta,Engl,MS,3.9,July 4,86,N
78,299,M. Golab,Seatel,Chemistry,BS,3.0,May 15,92,N
79,199,K. Duell,Atlanta,Biology,AS,4.0,Dec. 15,88,I
80,473,M. Browny,Seattle,CS,PhD,4.0,May.15,92,I
81,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,June 1,92,O
82,205,K. Minges,Conway,Elementary,EdD,3.2,Aug. 15,84,N
83,305,H. Molar,Conway,Biology,MS,3.2,July 4,84,N
84,207,K. Goolar,Atlanta,Chemistry,MS,3.9,July 4,86,N
85,107,M. Kochaal,Savannah,Chemistry,BS,3.9,May 15,92,N
86,305,M. Searsy,Conway,Biol,MS,3.2,July 4,84,N
87,207,P. Little,Atlanta,Chemistry,MS,3.9,July 4,86,N
88,107,M. Big,Little Rock,Chemistry,BS,3.9,May 15,92,O
89,109,P. Board,Atlanta,Chem,AS,4.0,Dec. 15,88,I
90,305,M. Korp,Conway,Biology,MS,3.2,July 4,84,N
91,109,G. Bear,Little Rock,Biology,AS,4.0,Dec. 15,88,O
92,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,May 15,92,N
93,391,X. Searsy,Conway,Biology,MS,3.2,July 4,84,N
94,201,Y. Little,Atlanta,Chemistry,MS,3.9,July 4,86,N
95,117,W. Big,Little Rock,Chemistry,BS,3.9,May 15,92,O
96,612,V. Board,Atlanta,Chemistry,AS,4.0,Dec. 15,88,I
97,305,M. Kartsoo,Conway,Biology,MS,3.2,July 4,84,N
98,609,N. Gearsal,Little Rock,Biology,BS,4.0,Dec. 15,88,O
99,615,K. Jiring,Conway,Element.,BA,3.2,Aug. 15,84,N
100,715,M. Chendo,Conway,Secondary,MS,3.2,May 15,84,N
101,855,Z. Megart,Atlanta,Secondary,MS,3.9,July 4,86,N
102,699,A. Woo,Seattle,Elementary,BA,3.0,May 15,92,N
103,933,CC. Artian,Atlanta,English,BA,2.9,Aug.15,91,N
104,941,D. Merdoo,Atlanta,English,MA,2.8,Aug. 15,91,N

Find duplicates in the 'ID' column

In [8]:
# duplicates = df1_2[df1_2.duplicated(subset=['ID', 'Name'], keep=False)]
id_duplicates = df1_2[df1_2.duplicated('ID', keep=False)]
id_duplicates

      ID        Name      Address       Major Degree  GPA MonthDay   Y Status
0    933     GG. Art     Savannah     English     BA  3.1   Aug.15  91      N
1    941   BB. Mercy     Savannah     English     MA  4.0  Aug. 15  91      N
19   201    W. Brady       Conway  Applied Sc    PhD  3.2   May 15  87      I
62   339     H.Poory      Atlanta     B Admin     BA  3.9  Aug. 15  87      N
65   339   M. Bayraq     Savannah         MBA    MBA  3.9  Aug. 15  87      N
83   305    H. Molar       Conway     Biology     MS  3.2   July 4  84      N
84   207   K. Goolar      Atlanta   Chemistry     MS  3.9   July 4  86      N
85   107  M. Kochaal     Savannah   Chemistry     BS  3.9   May 15  92      N
86   305   M. Searsy       Conway        Biol     MS  3.2   July 4  84      N
87   207   P. Little      Atlanta   Chemistry     MS  3.9   July 4  86      N
88   107      M. Big  Little Rock   Chemistry     BS  3.9   May 15  92      O
89   109    P. Board      Atlanta        Chem     AS  4.0  Dec. 15  88      I
90   305     M. Korp       Conway     Biology     MS  3.2   July 4  84      N
91   109     G. Bear  Little Rock     Biology     AS  4.0  Dec. 15  88      O
94   201   Y. Little      Atlanta   Chemistry     MS  3.9   July 4  86      N
97   305  M. Kartsoo       Conway     Biology     MS  3.2   July 4  84      N
103  933  CC. Artian      Atlanta     English     BA  2.9   Aug.15  91      N
104  941   D. Merdoo      Atlanta     English     MA  2.8  Aug. 15  91      N

In [10]:
id_duplicates.shape

(18, 9)

For duplicates found in the column ID, generate 3-digit numbers to replace each duplicate

In [12]:
for index, row in id_duplicates.iterrows():
    new_id = np.random.randint(100, 1000)  # Generate a random 3-digit number
    while new_id in df1_2['ID'].values:  # Ensure uniqueness against entire 'ID' column
        new_id = np.random.randint(100, 1000)
    df1_2.at[index, 'ID'] = new_id

In [13]:
df1_2

,ID,Name,Address,Major,Degree,GPA,MonthDay,Y,Status
0,406,GG. Art,Savannah,English,BA,3.1,Aug.15,91,N
1,287,BB. Mercy,Savannah,English,MA,4.0,Aug. 15,91,N
3,667,K. Chen,Conway,Elementary,EdD,3.2,Aug. 15,92,O
4,529,M. Yu,Conway,Secondary,MS,3.2,May 15,90,I
5,552,K. Ahmad,Atlanta,Secondary,EdD,3.9,July 48,87,O
6,687,Y. Morty,Atlanta,Computer Sc,BS,3.9,July 4,84,N
7,688,Y. Crema,Little Rock,Biology,AS,2.2,June 1,87,N
8,653,C. Alshukri,Denver,Applied Sc,PhD,4.0,Dec.15,91,O
10,986,Q. Brady,Pine Bluff,Computer Sc,MS,3.8,May 15,87,N
11,579,U. Jones,Little Rock,Computer Sc,BS,3.1,May 15,84,N
12,200,B. Brady,Little Rock,Applied Sc,PhD,3.2,May 15,92,I
13,300,C. Cook,Little Rock,Biology,BS,2.2,June 1,87,I
15,422,U. Yu,Conway,Secondary,MS,3.2,May 15,90,O
16,423,U. Mooshe,Atlanta,Secondary,EdD,3.9,July 4,90,O
17,401,D. Morgan,Conway,Biology,BS,3.9,July 4,87,I
19,136,W. Brady,Conway,Applied Sc,PhD,3.2,May 15,87,I
20,202,A. Bank,Conway,Applied Sc,PhD,3.2,July 4,87,N
21,415,T. King,Conway,Elementary,EdD,3.2,Aug. 15,90,N
22,901,C. Crema,Little Rock,Biology,AS,2.2,June 1,87,O
23,222,D. Abul,Savannah,Economics,BA,3.9,Aug. 15,90,N
24,333,G. Halk,Atlanta,B Admin,MBA,2.9,Aug. 15,90,N
25,431,W.Goos,Savannah,Accounting,BA,4.1,Aug. 15,90,O
26,421,T. Chen,Conway,Elementary,EdD,3.2,Aug. 15,91,I
27,524,U. Alramzy,Denver,Applied Sc,PhD,4.0,Dec.15,92,I
28,689,Y. Morgan,Conway,Biology,BS,3.9,July 4,87,N
29,195,D. Red,Seattle,Info Sc,BS,2.1,Dec. 15,90,O
30,703,Y. Bank,Conway,Applied Sc,PhD,3.2,July 15,87,O
31,665,Z. Silver,Seattle,Elementary,EdD,3.3,Aug. 15,91,I
32,739,A. Moon,Little Rock,Computer Sc,BS,3.1,June 1,84,N
33,839,Q. Robe,Pine Bluff,Computer Sc,MS,3.8,June 18,87,N
34,939,U. Wang,Little Rock,Computer Sc,AS,3.1,July 15,84,O
36,500,K.Bronz,Dallas,Chemistry,MS,3.2,July 4,88,O
37,132,A. White,Orlando,Computer Sc,AS,3.9,Aug 15,92,N
39,232,K. Blue,Little Rock,English,AS,3.1,Aug 15,91,I
40,352,C. Black,Pine Bluff,Applied,PhD,3.8,Aug 15,90,O
41,600,C. Jones,Dallas,Info Sc,BS,4.0,Dec. 15,88,O
43,682,Y. Cook,Little Rock,Biology,BS,2.2,June 1,87,O
45,452,N. Brady,Little Rock,Applied Sc,PhD,3.2,Aug 15,88,I
46,590,X. Cook,Little Rock,Biology,AS,2.2,June 1,92,N
47,690,D. Brown,Atlanta,Biology,BS,3.9,July 4,88,N
48,175,K. Glob,Dallas,Applied Sc,PhD,3.2,July 4,89,N
50,185,X. Jones,New York,Info Sc,BS,4.0,Dec. 15,90,N
51,700,A. Boss,Seattle,Elementary,MS,3.3,Aug. 15,84,I
52,800,K. Queen,Conway,Elementary,EdD,3.2,Aug. 15,89,O
53,416,T. Gola,Conway,Secondary,MS,3.2,May 15,90,N
54,420,T. Silver,Seattle,Elementary,EdD,3.3,Aug. 15,91,N
55,900,B. Gola,Conway,Secondary,MS,3.2,May 15,87,I
56,955,K. Booth,Atlanta,Secondary,MS,3.9,May 15,87,O
57,956,C. Jessy,Orlando,Applied Sc,MS,4.0,Dec.15,89,O
58,150,A. Cool,Orlando,Computer Sc,MS,3.9,Aug 15,86,I
59,250,K. Jones,Little Rock,Computer Sc,BS,3.1,Aug 15,86,N
60,350,C. Cool,Pine Bluff,Applied,MS,4.0,Aug 15,86,N
61,229,M. Katchal,Savannah,Economics,BA,3.0,Aug. 15,91,N
62,741,H.Poory,Atlanta,B Admin,BA,3.9,Aug. 15,87,N
63,439,H. Mishu,Savannah,Accounting,BA,2.8,Aug. 15,87,O
64,329,G. Kooper,Savannah,Accounting,BA,3.0,Aug. 15,91,N
65,428,M. Bayraq,Savannah,MBA,MBA,3.9,Aug. 15,87,N
66,337,N. Mikhy,Savannah,B Admin,BA,2.8,Aug. 15,87,O
67,650,D. Sorty,Atlanta,Biology,BS,3.9,July 4,84,N
68,750,K.Gold,Dallas,Applied Sc,PhD,3.2,July 4,84,N
69,850,F. Jones,New York,Info Sc,BS,4.0,Dec. 15,85,I
70,950,D. Golden,Seattle,Info Sc,BS,2.1,Dec. 15,85,I
71,165,A. Silver,Seattle,Elementary,MS,3.3,Aug. 15,85,O
72,417,T. Dool,Atlanta,English,MS,3.9,July 4-9,92,O
73,418,T. Brown,Denver,Applied Sc,PhD,4.0,Dec.15,92,O
74,419,T. Red,Seattle,Info Sc,BS,2.1,Dec. 15,92,O
75,215,K. King,Conway,Elementary,EdD,3.2,Aug. 15,84,N
76,315,M. Gola,Conway,English,MS,3.2,May 15,84,N
77,255,K. Dool,Atlanta,Engl,MS,3.9,July 4,86,N
78,299,M. Golab,Seatel,Chemistry,BS,3.0,May 15,92,N
79,199,K. Duell,Atlanta,Biology,AS,4.0,Dec. 15,88,I
80,473,M. Browny,Seattle,CS,PhD,4.0,May.15,92,I
81,407,T. Doolak,Seattle,BusinessAD,MBA,3.1,June 1,92,O
82,205,K. Minges,Conway,Elementary,EdD,3.2,Aug. 15,84,N
83,499,H. Molar,Conway,Biology,MS,3.2,July 4,84,N
84,987,K. Goolar,Atlanta,Chemistry,MS,3.9,July 4,86,N
85,504,M. Kochaal,Savannah,Chemistry,BS,3.9,May 15,92,N
86,490,M. Searsy,Conway,Biol,MS,3.2,July 4,84,N
87,263,P. Little,Atlanta,Chemistry,MS,3.9,July 4,86,N
88,729,M. Big,Little Rock,Chemistry,BS,3.9,May 15,92,O
89,260,P. Board,Atlanta,Chem,AS,4.0,Dec. 15,88,I
90,812,M. Korp,Conway,Biology,MS,3.2,July 4,84,N
91,437,G. Bear,Little Rock,Biology,AS,4.0,Dec. 15,88,O
92,591,Z. Kochaal,Savannah,Chemistry,BS,3.9,May 15,92,N
93,391,X. Searsy,Conway,Biology,MS,3.2,July 4,84,N
94,905,Y. Little,Atlanta,Chemistry,MS,3.9,July 4,86,N
95,117,W. Big,Little Rock,Chemistry,BS,3.9,May 15,92,O
96,612,V. Board,Atlanta,Chemistry,AS,4.0,Dec. 15,88,I
97,297,M. Kartsoo,Conway,Biology,MS,3.2,July 4,84,N
98,609,N. Gearsal,Little Rock,Biology,BS,4.0,Dec. 15,88,O
99,615,K. Jiring,Conway,Element.,BA,3.2,Aug. 15,84,N
100,715,M. Chendo,Conway,Secondary,MS,3.2,May 15,84,N
101,855,Z. Megart,Atlanta,Secondary,MS,3.9,July 4,86,N
102,699,A. Woo,Seattle,Elementary,BA,3.0,May 15,92,N
103,671,CC. Artian,Atlanta,English,BA,2.9,Aug.15,91,N
104,358,D. Merdoo,Atlanta,English,MA,2.8,Aug. 15,91,N