Install required libraries.

In [ ]:
# !pip3 install pymysql
# !pip3 install ipython-sql
# !pip3 install mysqlclient
# !pip install sqlalchemy 
# !pip install mysql
# !pip install mysql-connector-python

Connect to MySQL

In [1]:
import mysql

In [2]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector

In [3]:
try:
    mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password="1038368"
    )
    print("Connection established")
    cursor = mydb.cursor()
    cursor.execute("create database if not exists datawarehouse")
    mydb.commit()
    print("Database created successfully")
    cursor.execute("use datawarehouse")

except mysql.connector.Error as err:
    print("An error occurred:", err)

Connection established
Database created successfully

In [4]:
database = 'datawarehouse'
hostname = 'localhost'
username = 'root'
password = '10388368'

# engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=database, user=username, pw=password))
engine = create_engine("mysql+mysqldb://root:1038368@localhost/datawarehouse")

In [ ]:
dim_address = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_address.csv')
dim_college = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_college.csv')
dim_degree = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_degree.csv')
dim_gparank = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_gparank.csv')
dim_major = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_major.csv')
dim_semester = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_semester.csv')
dim_status = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_status.csv')
dim_year = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_year.csv')

In [ ]:
dim_address.to_sql('dim_address', con=engine, if_exists='replace', index=False)
dim_college.to_sql('dim_college', con=engine, if_exists='replace', index=False)
dim_degree.to_sql('dim_degree', con=engine, if_exists='replace', index=False)
dim_gparank.to_sql('dim_gparank', con=engine, if_exists='replace', index=False)
dim_major.to_sql('dim_major', con=engine, if_exists='replace', index=False)
dim_address.to_sql('dim_address', con=engine, if_exists='replace', index=False)
dim_semester.to_sql('dim_semester', con=engine, if_exists='replace', index=False)
dim_status.to_sql('dim_status', con=engine, if_exists='replace', index=False)
dim_year.to_sql('dim_year', con=engine, if_exists='replace', index=False)

Populate datawarehouse with row values from the integrated data.

In [8]:
fact_data = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\fact_data.csv")
fact_data

,GraduateID,GraduateName,AddressID,MajorID,DegreeID,GPA,GPARankID,SemesterID,YearID,StatusID
0,999,CK. Brown,1,3,1,4.0,1,3,1,1
1,961,QT. Brady,2,1,1,3.8,1,5,2,1
2,962,UL. Jones,3,1,1,3.1,1,5,3,2
3,970,Bf. Brady,3,3,1,3.2,1,3,4,2
4,975,CM. Cook,3,9,2,2.2,2,1,2,2
...,...,...,...,...,...,...,...,...,...,...
116,715,M. Chendo,5,8,4,3.2,1,2,3,3
117,855,Z. Megart,4,8,4,3.9,1,3,8,3
118,699,A. Woo,7,7,3,3.0,1,2,4,3
119,933,CC. Artian,4,11,3,2.9,2,5,6,3
120,941,D. Merdoo,4,11,5,2.8,2,5,6,3

In [10]:
fact_data.to_sql('fact_numberofgraduates', con=engine, if_exists='replace', index=False)

121