Install required libraries.

In [ ]:
# !pip3 install pymysql
# !pip3 install ipython-sql
# !pip3 install mysqlclient
# !pip install sqlalchemy 
# !pip install mysql
# !pip install mysql-connector-python

Connect to MySQL

In [1]:
import mysql

In [2]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector

In [3]:
try:
    mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password="1038368"
    )
    print("Connection established")
    cursor = mydb.cursor()
    cursor.execute("create database if not exists datawarehouse")
    mydb.commit()
    print("Database created successfully")
    cursor.execute("use datawarehouse")

except mysql.connector.Error as err:
    print("An error occurred:", err)

Connection established
Database created successfully

In [4]:
database = 'datawarehouse'
hostname = 'localhost'
username = 'root'
password = '10388368'

# engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=database, user=username, pw=password))
engine = create_engine("mysql+mysqldb://root:1038368@localhost/datawarehouse")

In [ ]:
dim_address = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_address.csv')
dim_college = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_college.csv')
dim_degree = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_degree.csv')
dim_gparank = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_gparank.csv')
dim_major = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_major.csv')
dim_semester = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_semester.csv')
dim_status = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_status.csv')
dim_year = pd.read_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_year.csv')

In [ ]:
dim_address.to_sql('dim_address', con=engine, if_exists='replace', index=False)
dim_college.to_sql('dim_college', con=engine, if_exists='replace', index=False)
dim_degree.to_sql('dim_degree', con=engine, if_exists='replace', index=False)
dim_gparank.to_sql('dim_gparank', con=engine, if_exists='replace', index=False)
dim_major.to_sql('dim_major', con=engine, if_exists='replace', index=False)
dim_address.to_sql('dim_address', con=engine, if_exists='replace', index=False)
dim_semester.to_sql('dim_semester', con=engine, if_exists='replace', index=False)
dim_status.to_sql('dim_status', con=engine, if_exists='replace', index=False)
dim_year.to_sql('dim_year', con=engine, if_exists='replace', index=False)

Populate datawarehouse with row values from the integrated data.

In [5]:
pop_Integrated_Data = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\pop_Integrated_Data.csv")
pop_Integrated_Data

,GraduateID,GraduateName,AddressID,MajorID,DegreeID,GPA,GPARankID,SemesterID,YearID,StatusID
0,999,CK. Brown,Denver,Applied Sc,Associate degree,4.0,High,Sum1,1989,International Student
1,961,QT. Brady,Pine Bluff,Computer Sc,Associate degree,3.8,High,Sum2,1987,International Student
2,962,UL. Jones,Little Rock,Computer Sc,Associate degree,3.1,High,Sum2,1984,Out of state
3,970,Bf. Brady,Little Rock,Applied Sc,Associate degree,3.2,High,Sum1,1992,Out of state
4,975,CM. Cook,Little Rock,Biology,Bachelor of Science,2.2,Medium,F,1987,Out of state
...,...,...,...,...,...,...,...,...,...,...
116,715,M. Chendo,Conway,Secondary Ed,Master of Science,3.2,High,S,1984,Non-of-the above
117,855,Z. Megart,Atlanta,Secondary Ed,Master of Science,3.9,High,Sum1,1986,Non-of-the above
118,699,A. Woo,Seattle,Elementary Ed,Bachelor of Art,3.0,High,S,1992,Non-of-the above
119,933,CC. Artian,Atlanta,English,Bachelor of Art,2.9,Medium,Sum2,1991,Non-of-the above
120,941,D. Merdoo,Atlanta,English,Master of Art,2.8,Medium,Sum2,1991,Non-of-the above

In [6]:
pop_Integrated_Data.to_sql('fact_numberofgraduates', con=engine, if_exists='replace', index=False)

121