In [34]:
import pandas as pd
pd.set_option('display.max.rows', 150)

In [35]:
# Read CSV files into Pandas DataFrames
colleges_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_college.csv")
majors_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_major.csv")
degrees_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_degree.csv")
reference_table_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalTables\college_majors.csv")

In [13]:
# Merge the reference table with colleges, majors, and degrees
merged_df = reference_table_df.merge(colleges_df, left_on='NAME', right_on='college_name') \
    .merge(majors_df, left_on='MAJORS', right_on='major_name')
merged_df

,NAME,MAJORS,college_id,college_name,major_id,major_name
0,Cyber College,Computer Sc,1,Cyber College,1,Computer Sc
1,Cyber College,Information Sc,1,Cyber College,2,Information Sc
2,Cyber College,Applied Sc,1,Cyber College,3,Applied Sc
3,College of Business,Accounting,2,College of Business,4,Accounting
4,College of Business,Business Admin,2,College of Business,5,Business Admin
5,College of Business,Economics,2,College of Business,6,Economics
6,College of Education,Elementary Ed,3,College of Education,7,Elementary Ed
7,College of Education,Secondary Ed,3,College of Education,8,Secondary Ed
8,College of Art and Science,Biology,4,College of Art and Science,9,Biology
9,College of Art and Science,Chemistry,4,College of Art and Science,10,Chemistry
10,College of Art and Science,English,4,College of Art and Science,11,English

In [ ]:
# Select only the necessary columns
result_df = merged_df[['college_id', 'college_name', 'major_id', 'major_name', 'degree_id', 'degree_name', 'degree_abbreviation']]
result_df

In [36]:
colleges_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - colleges1_2.csv")
colleges_df

                          NAME          MAJORS
0                Cyber College     Computer Sc
1                          NaN  Information Sc
2                          NaN      Applied Sc
3          College of Business      Accounting
4                          NaN  Business Admin
5                          NaN       Economics
6         College of Education   Elementary Ed
7                          NaN    Secondary Ed
8   College of Art and Science         Biology
9                          NaN       Chemistry
10                         NaN         English

In [37]:
colleges_majors_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalTables\college_majors.csv")
degrees_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_degree.csv")

In [38]:
degree_depth_mapping = {
    'Associate degree': 'Undergraduate',
    'Bachelor of Science': 'Undergraduate',
    'Bachelor of Art': 'Undergraduate',
    'Master of Science': 'Graduate',
    'Master of Art': 'Graduate',
    'Master of Business Administration': 'Graduate',
    'Doctor of Education': 'Postgraduate',
    'Doctor of Philosophy': 'Postgraduate'
}

In [39]:
degree_level_mapping = {
    'Associate degree': 'Associate',
    'Bachelor of Science': 'Bachelor',
    'Bachelor of Art': 'Bachelor',
    'Master of Science': 'Master',
    'Master of Art': 'Master',
    'Master of Business Administration': 'Master',
    'Doctor of Education': 'Doctorate',
    'Doctor of Philosophy': 'Doctorate'
}

In [40]:
degrees_df['degree_depth'] = degrees_df['degree_name'].map(degree_depth_mapping)
degrees_df['degree_level'] = degrees_df['degree_name'].map(degree_level_mapping)

In [41]:
degrees_df = degrees_df[['degree_id', 'degree_name', 'degree_depth', 'degree_level', 'degree_abbreviation']]
degrees_df

,degree_id,degree_name,degree_depth,degree_level,degree_abbreviation
0,1,Associate degree,Undergraduate,Associate,AS
1,2,Bachelor of Science,Undergraduate,Bachelor,BS
2,3,Bachelor of Art,Undergraduate,Bachelor,BA
3,4,Master of Science,Graduate,Master,MS
4,5,Master of Art,Graduate,Master,MA
5,6,Master of Business Administration,Graduate,Master,MBA
6,7,Doctor of Education,Postgraduate,Doctorate,EdD
7,8,Doctor of Philosophy,Postgraduate,Doctorate,PhD

In [42]:
dim_major = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_major.csv")
dim_major

    major_id      major_name
0          1     Computer Sc
1          2  Information Sc
2          3      Applied Sc
3          4      Accounting
4          5  Business Admin
5          6       Economics
6          7   Elementary Ed
7          8    Secondary Ed
8          9         Biology
9         10       Chemistry
10        11         English

In [49]:
dim_major['key'] = 1
degrees_df['key'] = 1
result = pd.merge(dim_major, degrees_df, on='key').drop('key', axis=1)
result

,major_id,major_name,degree_id,degree_name,degree_depth,degree_level,degree_abbreviation
0,1,Computer Sc,1,Associate degree,Undergraduate,Associate,AS
1,1,Computer Sc,2,Bachelor of Science,Undergraduate,Bachelor,BS
2,1,Computer Sc,3,Bachelor of Art,Undergraduate,Bachelor,BA
3,1,Computer Sc,4,Master of Science,Graduate,Master,MS
4,1,Computer Sc,5,Master of Art,Graduate,Master,MA
5,1,Computer Sc,6,Master of Business Administration,Graduate,Master,MBA
6,1,Computer Sc,7,Doctor of Education,Postgraduate,Doctorate,EdD
7,1,Computer Sc,8,Doctor of Philosophy,Postgraduate,Doctorate,PhD
8,2,Information Sc,1,Associate degree,Undergraduate,Associate,AS
9,2,Information Sc,2,Bachelor of Science,Undergraduate,Bachelor,BS
10,2,Information Sc,3,Bachelor of Art,Undergraduate,Bachelor,BA
11,2,Information Sc,4,Master of Science,Graduate,Master,MS
12,2,Information Sc,5,Master of Art,Graduate,Master,MA
13,2,Information Sc,6,Master of Business Administration,Graduate,Master,MBA
14,2,Information Sc,7,Doctor of Education,Postgraduate,Doctorate,EdD
15,2,Information Sc,8,Doctor of Philosophy,Postgraduate,Doctorate,PhD
16,3,Applied Sc,1,Associate degree,Undergraduate,Associate,AS
17,3,Applied Sc,2,Bachelor of Science,Undergraduate,Bachelor,BS
18,3,Applied Sc,3,Bachelor of Art,Undergraduate,Bachelor,BA
19,3,Applied Sc,4,Master of Science,Graduate,Master,MS
20,3,Applied Sc,5,Master of Art,Graduate,Master,MA
21,3,Applied Sc,6,Master of Business Administration,Graduate,Master,MBA
22,3,Applied Sc,7,Doctor of Education,Postgraduate,Doctorate,EdD
23,3,Applied Sc,8,Doctor of Philosophy,Postgraduate,Doctorate,PhD
24,4,Accounting,1,Associate degree,Undergraduate,Associate,AS
25,4,Accounting,2,Bachelor of Science,Undergraduate,Bachelor,BS
26,4,Accounting,3,Bachelor of Art,Undergraduate,Bachelor,BA
27,4,Accounting,4,Master of Science,Graduate,Master,MS
28,4,Accounting,5,Master of Art,Graduate,Master,MA
29,4,Accounting,6,Master of Business Administration,Graduate,Master,MBA
30,4,Accounting,7,Doctor of Education,Postgraduate,Doctorate,EdD
31,4,Accounting,8,Doctor of Philosophy,Postgraduate,Doctorate,PhD
32,5,Business Admin,1,Associate degree,Undergraduate,Associate,AS
33,5,Business Admin,2,Bachelor of Science,Undergraduate,Bachelor,BS
34,5,Business Admin,3,Bachelor of Art,Undergraduate,Bachelor,BA
35,5,Business Admin,4,Master of Science,Graduate,Master,MS
36,5,Business Admin,5,Master of Art,Graduate,Master,MA
37,5,Business Admin,6,Master of Business Administration,Graduate,Master,MBA
38,5,Business Admin,7,Doctor of Education,Postgraduate,Doctorate,EdD
39,5,Business Admin,8,Doctor of Philosophy,Postgraduate,Doctorate,PhD
40,6,Economics,1,Associate degree,Undergraduate,Associate,AS
41,6,Economics,2,Bachelor of Science,Undergraduate,Bachelor,BS
42,6,Economics,3,Bachelor of Art,Undergraduate,Bachelor,BA
43,6,Economics,4,Master of Science,Graduate,Master,MS
44,6,Economics,5,Master of Art,Graduate,Master,MA
45,6,Economics,6,Master of Business Administration,Graduate,Master,MBA
46,6,Economics,7,Doctor of Education,Postgraduate,Doctorate,EdD
47,6,Economics,8,Doctor of Philosophy,Postgraduate,Doctorate,PhD
48,7,Elementary Ed,1,Associate degree,Undergraduate,Associate,AS
49,7,Elementary Ed,2,Bachelor of Science,Undergraduate,Bachelor,BS
50,7,Elementary Ed,3,Bachelor of Art,Undergraduate,Bachelor,BA
51,7,Elementary Ed,4,Master of Science,Graduate,Master,MS
52,7,Elementary Ed,5,Master of Art,Graduate,Master,MA
53,7,Elementary Ed,6,Master of Business Administration,Graduate,Master,MBA
54,7,Elementary Ed,7,Doctor of Education,Postgraduate,Doctorate,EdD
55,7,Elementary Ed,8,Doctor of Philosophy,Postgraduate,Doctorate,PhD
56,8,Secondary Ed,1,Associate degree,Undergraduate,Associate,AS
57,8,Secondary Ed,2,Bachelor of Science,Undergraduate,Bachelor,BS
58,8,Secondary Ed,3,Bachelor of Art,Undergraduate,Bachelor,BA
59,8,Secondary Ed,4,Master of Science,Graduate,Master,MS
60,8,Secondary Ed,5,Master of Art,Graduate,Master,MA
61,8,Secondary Ed,6,Master of Business Administration,Graduate,Master,MBA
62,8,Secondary Ed,7,Doctor of Education,Postgraduate,Doctorate,EdD
63,8,Secondary Ed,8,Doctor of Philosophy,Postgraduate,Doctorate,PhD
64,9,Biology,1,Associate degree,Undergraduate,Associate,AS
65,9,Biology,2,Bachelor of Science,Undergraduate,Bachelor,BS
66,9,Biology,3,Bachelor of Art,Undergraduate,Bachelor,BA
67,9,Biology,4,Master of Science,Graduate,Master,MS
68,9,Biology,5,Master of Art,Graduate,Master,MA
69,9,Biology,6,Master of Business Administration,Graduate,Master,MBA
70,9,Biology,7,Doctor of Education,Postgraduate,Doctorate,EdD
71,9,Biology,8,Doctor of Philosophy,Postgraduate,Doctorate,PhD
72,10,Chemistry,1,Associate degree,Undergraduate,Associate,AS
73,10,Chemistry,2,Bachelor of Science,Undergraduate,Bachelor,BS
74,10,Chemistry,3,Bachelor of Art,Undergraduate,Bachelor,BA
75,10,Chemistry,4,Master of Science,Graduate,Master,MS
76,10,Chemistry,5,Master of Art,Graduate,Master,MA
77,10,Chemistry,6,Master of Business Administration,Graduate,Master,MBA
78,10,Chemistry,7,Doctor of Education,Postgraduate,Doctorate,EdD
79,10,Chemistry,8,Doctor of Philosophy,Postgraduate,Doctorate,PhD
80,11,English,1,Associate degree,Undergraduate,Associate,AS
81,11,English,2,Bachelor of Science,Undergraduate,Bachelor,BS
82,11,English,3,Bachelor of Art,Undergraduate,Bachelor,BA
83,11,English,4,Master of Science,Graduate,Master,MS
84,11,English,5,Master of Art,Graduate,Master,MA
85,11,English,6,Master of Business Administration,Graduate,Master,MBA
86,11,English,7,Doctor of Education,Postgraduate,Doctorate,EdD
87,11,English,8,Doctor of Philosophy,Postgraduate,Doctorate,PhD

In [45]:
result = result[(result['degree_depth'] == 'Undergraduate') & ((result['degree_level'] == 'Associate') | (result['degree_level'] == 'Bachelor')) |
                (result['degree_depth'] == 'Graduate') & ((result['degree_level'] == 'Master') | (result['degree_level'] == 'Doctorate'))]
result

,major_id,major_name,degree_id,degree_name,degree_depth,degree_level,degree_abbreviation
0,1,Computer Sc,1,Associate degree,Undergraduate,Associate,AS
1,1,Computer Sc,2,Bachelor of Science,Undergraduate,Bachelor,BS
2,1,Computer Sc,3,Bachelor of Art,Undergraduate,Bachelor,BA
3,1,Computer Sc,4,Master of Science,Graduate,Master,MS
4,1,Computer Sc,5,Master of Art,Graduate,Master,MA
5,1,Computer Sc,6,Master of Business Administration,Graduate,Master,MBA
8,2,Information Sc,1,Associate degree,Undergraduate,Associate,AS
9,2,Information Sc,2,Bachelor of Science,Undergraduate,Bachelor,BS
10,2,Information Sc,3,Bachelor of Art,Undergraduate,Bachelor,BA
11,2,Information Sc,4,Master of Science,Graduate,Master,MS
12,2,Information Sc,5,Master of Art,Graduate,Master,MA
13,2,Information Sc,6,Master of Business Administration,Graduate,Master,MBA
16,3,Applied Sc,1,Associate degree,Undergraduate,Associate,AS
17,3,Applied Sc,2,Bachelor of Science,Undergraduate,Bachelor,BS
18,3,Applied Sc,3,Bachelor of Art,Undergraduate,Bachelor,BA
19,3,Applied Sc,4,Master of Science,Graduate,Master,MS
20,3,Applied Sc,5,Master of Art,Graduate,Master,MA
21,3,Applied Sc,6,Master of Business Administration,Graduate,Master,MBA
24,4,Accounting,1,Associate degree,Undergraduate,Associate,AS
25,4,Accounting,2,Bachelor of Science,Undergraduate,Bachelor,BS
26,4,Accounting,3,Bachelor of Art,Undergraduate,Bachelor,BA
27,4,Accounting,4,Master of Science,Graduate,Master,MS
28,4,Accounting,5,Master of Art,Graduate,Master,MA
29,4,Accounting,6,Master of Business Administration,Graduate,Master,MBA
32,5,Business Admin,1,Associate degree,Undergraduate,Associate,AS
33,5,Business Admin,2,Bachelor of Science,Undergraduate,Bachelor,BS
34,5,Business Admin,3,Bachelor of Art,Undergraduate,Bachelor,BA
35,5,Business Admin,4,Master of Science,Graduate,Master,MS
36,5,Business Admin,5,Master of Art,Graduate,Master,MA
37,5,Business Admin,6,Master of Business Administration,Graduate,Master,MBA
40,6,Economics,1,Associate degree,Undergraduate,Associate,AS
41,6,Economics,2,Bachelor of Science,Undergraduate,Bachelor,BS
42,6,Economics,3,Bachelor of Art,Undergraduate,Bachelor,BA
43,6,Economics,4,Master of Science,Graduate,Master,MS
44,6,Economics,5,Master of Art,Graduate,Master,MA
45,6,Economics,6,Master of Business Administration,Graduate,Master,MBA
48,7,Elementary Ed,1,Associate degree,Undergraduate,Associate,AS
49,7,Elementary Ed,2,Bachelor of Science,Undergraduate,Bachelor,BS
50,7,Elementary Ed,3,Bachelor of Art,Undergraduate,Bachelor,BA
51,7,Elementary Ed,4,Master of Science,Graduate,Master,MS
52,7,Elementary Ed,5,Master of Art,Graduate,Master,MA
53,7,Elementary Ed,6,Master of Business Administration,Graduate,Master,MBA
56,8,Secondary Ed,1,Associate degree,Undergraduate,Associate,AS
57,8,Secondary Ed,2,Bachelor of Science,Undergraduate,Bachelor,BS
58,8,Secondary Ed,3,Bachelor of Art,Undergraduate,Bachelor,BA
59,8,Secondary Ed,4,Master of Science,Graduate,Master,MS
60,8,Secondary Ed,5,Master of Art,Graduate,Master,MA
61,8,Secondary Ed,6,Master of Business Administration,Graduate,Master,MBA
64,9,Biology,1,Associate degree,Undergraduate,Associate,AS
65,9,Biology,2,Bachelor of Science,Undergraduate,Bachelor,BS
66,9,Biology,3,Bachelor of Art,Undergraduate,Bachelor,BA
67,9,Biology,4,Master of Science,Graduate,Master,MS
68,9,Biology,5,Master of Art,Graduate,Master,MA
69,9,Biology,6,Master of Business Administration,Graduate,Master,MBA
72,10,Chemistry,1,Associate degree,Undergraduate,Associate,AS
73,10,Chemistry,2,Bachelor of Science,Undergraduate,Bachelor,BS
74,10,Chemistry,3,Bachelor of Art,Undergraduate,Bachelor,BA
75,10,Chemistry,4,Master of Science,Graduate,Master,MS
76,10,Chemistry,5,Master of Art,Graduate,Master,MA
77,10,Chemistry,6,Master of Business Administration,Graduate,Master,MBA
80,11,English,1,Associate degree,Undergraduate,Associate,AS
81,11,English,2,Bachelor of Science,Undergraduate,Bachelor,BS
82,11,English,3,Bachelor of Art,Undergraduate,Bachelor,BA
83,11,English,4,Master of Science,Graduate,Master,MS
84,11,English,5,Master of Art,Graduate,Master,MA
85,11,English,6,Master of Business Administration,Graduate,Master,MBA

In [54]:
result = result[['major_name', 'degree_depth', 'degree_level', 'degree_name', 'degree_abbreviation']]

In [55]:
result.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalDimTables\dim_degrees.csv', index=False)

In [56]:
dim_degrees = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalDimTables\dim_degrees.csv")
college_majors = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalTables\college_majors.csv")

In [57]:
dim_degrees = dim_degrees.merge(college_majors, left_on='major_name', right_on='MAJORS', how='left')
dim_degrees

,major_name,degree_depth,degree_level,degree_name,degree_abbreviation,NAME,MAJORS
0,Computer Sc,Undergraduate,Associate,Associate degree,AS,Cyber College,Computer Sc
1,Computer Sc,Undergraduate,Bachelor,Bachelor of Science,BS,Cyber College,Computer Sc
2,Computer Sc,Undergraduate,Bachelor,Bachelor of Art,BA,Cyber College,Computer Sc
3,Computer Sc,Graduate,Master,Master of Science,MS,Cyber College,Computer Sc
4,Computer Sc,Graduate,Master,Master of Art,MA,Cyber College,Computer Sc
5,Computer Sc,Graduate,Master,Master of Business Administration,MBA,Cyber College,Computer Sc
6,Computer Sc,Postgraduate,Doctorate,Doctor of Education,EdD,Cyber College,Computer Sc
7,Computer Sc,Postgraduate,Doctorate,Doctor of Philosophy,PhD,Cyber College,Computer Sc
8,Information Sc,Undergraduate,Associate,Associate degree,AS,Cyber College,Information Sc
9,Information Sc,Undergraduate,Bachelor,Bachelor of Science,BS,Cyber College,Information Sc
10,Information Sc,Undergraduate,Bachelor,Bachelor of Art,BA,Cyber College,Information Sc
11,Information Sc,Graduate,Master,Master of Science,MS,Cyber College,Information Sc
12,Information Sc,Graduate,Master,Master of Art,MA,Cyber College,Information Sc
13,Information Sc,Graduate,Master,Master of Business Administration,MBA,Cyber College,Information Sc
14,Information Sc,Postgraduate,Doctorate,Doctor of Education,EdD,Cyber College,Information Sc
15,Information Sc,Postgraduate,Doctorate,Doctor of Philosophy,PhD,Cyber College,Information Sc
16,Applied Sc,Undergraduate,Associate,Associate degree,AS,Cyber College,Applied Sc
17,Applied Sc,Undergraduate,Bachelor,Bachelor of Science,BS,Cyber College,Applied Sc
18,Applied Sc,Undergraduate,Bachelor,Bachelor of Art,BA,Cyber College,Applied Sc
19,Applied Sc,Graduate,Master,Master of Science,MS,Cyber College,Applied Sc
20,Applied Sc,Graduate,Master,Master of Art,MA,Cyber College,Applied Sc
21,Applied Sc,Graduate,Master,Master of Business Administration,MBA,Cyber College,Applied Sc
22,Applied Sc,Postgraduate,Doctorate,Doctor of Education,EdD,Cyber College,Applied Sc
23,Applied Sc,Postgraduate,Doctorate,Doctor of Philosophy,PhD,Cyber College,Applied Sc
24,Accounting,Undergraduate,Associate,Associate degree,AS,College of Business,Accounting
25,Accounting,Undergraduate,Bachelor,Bachelor of Science,BS,College of Business,Accounting
26,Accounting,Undergraduate,Bachelor,Bachelor of Art,BA,College of Business,Accounting
27,Accounting,Graduate,Master,Master of Science,MS,College of Business,Accounting
28,Accounting,Graduate,Master,Master of Art,MA,College of Business,Accounting
29,Accounting,Graduate,Master,Master of Business Administration,MBA,College of Business,Accounting
30,Accounting,Postgraduate,Doctorate,Doctor of Education,EdD,College of Business,Accounting
31,Accounting,Postgraduate,Doctorate,Doctor of Philosophy,PhD,College of Business,Accounting
32,Business Admin,Undergraduate,Associate,Associate degree,AS,College of Business,Business Admin
33,Business Admin,Undergraduate,Bachelor,Bachelor of Science,BS,College of Business,Business Admin
34,Business Admin,Undergraduate,Bachelor,Bachelor of Art,BA,College of Business,Business Admin
35,Business Admin,Graduate,Master,Master of Science,MS,College of Business,Business Admin
36,Business Admin,Graduate,Master,Master of Art,MA,College of Business,Business Admin
37,Business Admin,Graduate,Master,Master of Business Administration,MBA,College of Business,Business Admin
38,Business Admin,Postgraduate,Doctorate,Doctor of Education,EdD,College of Business,Business Admin
39,Business Admin,Postgraduate,Doctorate,Doctor of Philosophy,PhD,College of Business,Business Admin
40,Economics,Undergraduate,Associate,Associate degree,AS,College of Business,Economics
41,Economics,Undergraduate,Bachelor,Bachelor of Science,BS,College of Business,Economics
42,Economics,Undergraduate,Bachelor,Bachelor of Art,BA,College of Business,Economics
43,Economics,Graduate,Master,Master of Science,MS,College of Business,Economics
44,Economics,Graduate,Master,Master of Art,MA,College of Business,Economics
45,Economics,Graduate,Master,Master of Business Administration,MBA,College of Business,Economics
46,Economics,Postgraduate,Doctorate,Doctor of Education,EdD,College of Business,Economics
47,Economics,Postgraduate,Doctorate,Doctor of Philosophy,PhD,College of Business,Economics
48,Elementary Ed,Undergraduate,Associate,Associate degree,AS,College of Education,Elementary Ed
49,Elementary Ed,Undergraduate,Bachelor,Bachelor of Science,BS,College of Education,Elementary Ed
50,Elementary Ed,Undergraduate,Bachelor,Bachelor of Art,BA,College of Education,Elementary Ed
51,Elementary Ed,Graduate,Master,Master of Science,MS,College of Education,Elementary Ed
52,Elementary Ed,Graduate,Master,Master of Art,MA,College of Education,Elementary Ed
53,Elementary Ed,Graduate,Master,Master of Business Administration,MBA,College of Education,Elementary Ed
54,Elementary Ed,Postgraduate,Doctorate,Doctor of Education,EdD,College of Education,Elementary Ed
55,Elementary Ed,Postgraduate,Doctorate,Doctor of Philosophy,PhD,College of Education,Elementary Ed
56,Secondary Ed,Undergraduate,Associate,Associate degree,AS,College of Education,Secondary Ed
57,Secondary Ed,Undergraduate,Bachelor,Bachelor of Science,BS,College of Education,Secondary Ed
58,Secondary Ed,Undergraduate,Bachelor,Bachelor of Art,BA,College of Education,Secondary Ed
59,Secondary Ed,Graduate,Master,Master of Science,MS,College of Education,Secondary Ed
60,Secondary Ed,Graduate,Master,Master of Art,MA,College of Education,Secondary Ed
61,Secondary Ed,Graduate,Master,Master of Business Administration,MBA,College of Education,Secondary Ed
62,Secondary Ed,Postgraduate,Doctorate,Doctor of Education,EdD,College of Education,Secondary Ed
63,Secondary Ed,Postgraduate,Doctorate,Doctor of Philosophy,PhD,College of Education,Secondary Ed
64,Biology,Undergraduate,Associate,Associate degree,AS,College of Art and Science,Biology
65,Biology,Undergraduate,Bachelor,Bachelor of Science,BS,College of Art and Science,Biology
66,Biology,Undergraduate,Bachelor,Bachelor of Art,BA,College of Art and Science,Biology
67,Biology,Graduate,Master,Master of Science,MS,College of Art and Science,Biology
68,Biology,Graduate,Master,Master of Art,MA,College of Art and Science,Biology
69,Biology,Graduate,Master,Master of Business Administration,MBA,College of Art and Science,Biology
70,Biology,Postgraduate,Doctorate,Doctor of Education,EdD,College of Art and Science,Biology
71,Biology,Postgraduate,Doctorate,Doctor of Philosophy,PhD,College of Art and Science,Biology
72,Chemistry,Undergraduate,Associate,Associate degree,AS,College of Art and Science,Chemistry
73,Chemistry,Undergraduate,Bachelor,Bachelor of Science,BS,College of Art and Science,Chemistry
74,Chemistry,Undergraduate,Bachelor,Bachelor of Art,BA,College of Art and Science,Chemistry
75,Chemistry,Graduate,Master,Master of Science,MS,College of Art and Science,Chemistry
76,Chemistry,Graduate,Master,Master of Art,MA,College of Art and Science,Chemistry
77,Chemistry,Graduate,Master,Master of Business Administration,MBA,College of Art and Science,Chemistry
78,Chemistry,Postgraduate,Doctorate,Doctor of Education,EdD,College of Art and Science,Chemistry
79,Chemistry,Postgraduate,Doctorate,Doctor of Philosophy,PhD,College of Art and Science,Chemistry
80,English,Undergraduate,Associate,Associate degree,AS,College of Art and Science,English
81,English,Undergraduate,Bachelor,Bachelor of Science,BS,College of Art and Science,English
82,English,Undergraduate,Bachelor,Bachelor of Art,BA,College of Art and Science,English
83,English,Graduate,Master,Master of Science,MS,College of Art and Science,English
84,English,Graduate,Master,Master of Art,MA,College of Art and Science,English
85,English,Graduate,Master,Master of Business Administration,MBA,College of Art and Science,English
86,English,Postgraduate,Doctorate,Doctor of Education,EdD,College of Art and Science,English
87,English,Postgraduate,Doctorate,Doctor of Philosophy,PhD,College of Art and Science,English

In [58]:
dim_degrees.drop('MAJORS', axis=1, inplace=True)
dim_degrees.rename(columns={'NAME': 'college_name'}, inplace=True)
dim_degrees.index = range(1, len(dim_degrees) + 1)
dim_degrees.index.name = 'degree_id'
dim_degrees = dim_degrees[['degree_id','college_name', 'major_name', 'degree_depth', 'degree_level', 'degree_name', 'degree_abbreviation']]
dim_degrees

,college_name,major_name,degree_depth,degree_level,degree_name,degree_abbreviation
degree_id,,,,,,
1,Cyber College,Computer Sc,Undergraduate,Associate,Associate degree,AS
2,Cyber College,Computer Sc,Undergraduate,Bachelor,Bachelor of Science,BS
3,Cyber College,Computer Sc,Undergraduate,Bachelor,Bachelor of Art,BA
4,Cyber College,Computer Sc,Graduate,Master,Master of Science,MS
5,Cyber College,Computer Sc,Graduate,Master,Master of Art,MA
6,Cyber College,Computer Sc,Graduate,Master,Master of Business Administration,MBA
7,Cyber College,Computer Sc,Postgraduate,Doctorate,Doctor of Education,EdD
8,Cyber College,Computer Sc,Postgraduate,Doctorate,Doctor of Philosophy,PhD
9,Cyber College,Information Sc,Undergraduate,Associate,Associate degree,AS
10,Cyber College,Information Sc,Undergraduate,Bachelor,Bachelor of Science,BS
11,Cyber College,Information Sc,Undergraduate,Bachelor,Bachelor of Art,BA
12,Cyber College,Information Sc,Graduate,Master,Master of Science,MS
13,Cyber College,Information Sc,Graduate,Master,Master of Art,MA
14,Cyber College,Information Sc,Graduate,Master,Master of Business Administration,MBA
15,Cyber College,Information Sc,Postgraduate,Doctorate,Doctor of Education,EdD
16,Cyber College,Information Sc,Postgraduate,Doctorate,Doctor of Philosophy,PhD
17,Cyber College,Applied Sc,Undergraduate,Associate,Associate degree,AS
18,Cyber College,Applied Sc,Undergraduate,Bachelor,Bachelor of Science,BS
19,Cyber College,Applied Sc,Undergraduate,Bachelor,Bachelor of Art,BA
20,Cyber College,Applied Sc,Graduate,Master,Master of Science,MS
21,Cyber College,Applied Sc,Graduate,Master,Master of Art,MA
22,Cyber College,Applied Sc,Graduate,Master,Master of Business Administration,MBA
23,Cyber College,Applied Sc,Postgraduate,Doctorate,Doctor of Education,EdD
24,Cyber College,Applied Sc,Postgraduate,Doctorate,Doctor of Philosophy,PhD
25,College of Business,Accounting,Undergraduate,Associate,Associate degree,AS
26,College of Business,Accounting,Undergraduate,Bachelor,Bachelor of Science,BS
27,College of Business,Accounting,Undergraduate,Bachelor,Bachelor of Art,BA
28,College of Business,Accounting,Graduate,Master,Master of Science,MS
29,College of Business,Accounting,Graduate,Master,Master of Art,MA
30,College of Business,Accounting,Graduate,Master,Master of Business Administration,MBA
31,College of Business,Accounting,Postgraduate,Doctorate,Doctor of Education,EdD
32,College of Business,Accounting,Postgraduate,Doctorate,Doctor of Philosophy,PhD
33,College of Business,Business Admin,Undergraduate,Associate,Associate degree,AS
34,College of Business,Business Admin,Undergraduate,Bachelor,Bachelor of Science,BS
35,College of Business,Business Admin,Undergraduate,Bachelor,Bachelor of Art,BA
36,College of Business,Business Admin,Graduate,Master,Master of Science,MS
37,College of Business,Business Admin,Graduate,Master,Master of Art,MA
38,College of Business,Business Admin,Graduate,Master,Master of Business Administration,MBA
39,College of Business,Business Admin,Postgraduate,Doctorate,Doctor of Education,EdD
40,College of Business,Business Admin,Postgraduate,Doctorate,Doctor of Philosophy,PhD
41,College of Business,Economics,Undergraduate,Associate,Associate degree,AS
42,College of Business,Economics,Undergraduate,Bachelor,Bachelor of Science,BS
43,College of Business,Economics,Undergraduate,Bachelor,Bachelor of Art,BA
44,College of Business,Economics,Graduate,Master,Master of Science,MS
45,College of Business,Economics,Graduate,Master,Master of Art,MA
46,College of Business,Economics,Graduate,Master,Master of Business Administration,MBA
47,College of Business,Economics,Postgraduate,Doctorate,Doctor of Education,EdD
48,College of Business,Economics,Postgraduate,Doctorate,Doctor of Philosophy,PhD
49,College of Education,Elementary Ed,Undergraduate,Associate,Associate degree,AS
50,College of Education,Elementary Ed,Undergraduate,Bachelor,Bachelor of Science,BS
51,College of Education,Elementary Ed,Undergraduate,Bachelor,Bachelor of Art,BA
52,College of Education,Elementary Ed,Graduate,Master,Master of Science,MS
53,College of Education,Elementary Ed,Graduate,Master,Master of Art,MA
54,College of Education,Elementary Ed,Graduate,Master,Master of Business Administration,MBA
55,College of Education,Elementary Ed,Postgraduate,Doctorate,Doctor of Education,EdD
56,College of Education,Elementary Ed,Postgraduate,Doctorate,Doctor of Philosophy,PhD
57,College of Education,Secondary Ed,Undergraduate,Associate,Associate degree,AS
58,College of Education,Secondary Ed,Undergraduate,Bachelor,Bachelor of Science,BS
59,College of Education,Secondary Ed,Undergraduate,Bachelor,Bachelor of Art,BA
60,College of Education,Secondary Ed,Graduate,Master,Master of Science,MS
61,College of Education,Secondary Ed,Graduate,Master,Master of Art,MA
62,College of Education,Secondary Ed,Graduate,Master,Master of Business Administration,MBA
63,College of Education,Secondary Ed,Postgraduate,Doctorate,Doctor of Education,EdD
64,College of Education,Secondary Ed,Postgraduate,Doctorate,Doctor of Philosophy,PhD
65,College of Art and Science,Biology,Undergraduate,Associate,Associate degree,AS
66,College of Art and Science,Biology,Undergraduate,Bachelor,Bachelor of Science,BS
67,College of Art and Science,Biology,Undergraduate,Bachelor,Bachelor of Art,BA
68,College of Art and Science,Biology,Graduate,Master,Master of Science,MS
69,College of Art and Science,Biology,Graduate,Master,Master of Art,MA
70,College of Art and Science,Biology,Graduate,Master,Master of Business Administration,MBA
71,College of Art and Science,Biology,Postgraduate,Doctorate,Doctor of Education,EdD
72,College of Art and Science,Biology,Postgraduate,Doctorate,Doctor of Philosophy,PhD
73,College of Art and Science,Chemistry,Undergraduate,Associate,Associate degree,AS
74,College of Art and Science,Chemistry,Undergraduate,Bachelor,Bachelor of Science,BS
75,College of Art and Science,Chemistry,Undergraduate,Bachelor,Bachelor of Art,BA
76,College of Art and Science,Chemistry,Graduate,Master,Master of Science,MS
77,College of Art and Science,Chemistry,Graduate,Master,Master of Art,MA
78,College of Art and Science,Chemistry,Graduate,Master,Master of Business Administration,MBA
79,College of Art and Science,Chemistry,Postgraduate,Doctorate,Doctor of Education,EdD
80,College of Art and Science,Chemistry,Postgraduate,Doctorate,Doctor of Philosophy,PhD
81,College of Art and Science,English,Undergraduate,Associate,Associate degree,AS
82,College of Art and Science,English,Undergraduate,Bachelor,Bachelor of Science,BS
83,College of Art and Science,English,Undergraduate,Bachelor,Bachelor of Art,BA
84,College of Art and Science,English,Graduate,Master,Master of Science,MS
85,College of Art and Science,English,Graduate,Master,Master of Art,MA
86,College of Art and Science,English,Graduate,Master,Master of Business Administration,MBA
87,College of Art and Science,English,Postgraduate,Doctorate,Doctor of Education,EdD
88,College of Art and Science,English,Postgraduate,Doctorate,Doctor of Philosophy,PhD

In [61]:
dim_degrees.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalDimTables\dim_degrees.csv', index=False)

Finish fix of degree dimension

## Fix Time Dimension

confirm correect tables with hard coded data:

In [20]:
dim_year_data = {
    'year_id': [1, 2, 3, 4, 5, 6, 7, 8, 9],
    'year': [1989, 1987, 1984, 1992, 1990, 1991, 1988, 1986, 1985]
}
dim_year = pd.DataFrame(dim_year_data)
dim_semester_data = {
    'semester_id': [1, 2, 3, 4, 5, 6],
    'semester_name': ['Fall', 'Spring', 'Summer1', 'Summer2', 'Summer3', 'Summer4'],
    'semester_abbreviation': ['F', 'S', 'Sum1', '', 'Sum2', '']
}
dim_semester = pd.DataFrame(dim_semester_data)

In [21]:
dim_year

   year_id  year
0        1  1989
1        2  1987
2        3  1984
3        4  1992
4        5  1990
5        6  1991
6        7  1988
7        8  1986
8        9  1985

In [22]:
dim_semester

   semester_id semester_name semester_abbreviation
0            1          Fall                     F
1            2        Spring                     S
2            3       Summer1                  Sum1
3            4       Summer2
4            5       Summer3                  Sum2
5            6       Summer4

In [23]:
dim_year['key'] = 1
dim_semester['key'] = 1

In [26]:
dim_time = pd.merge(dim_year, dim_semester, on='key').drop('key', axis=1)
dim_time

    year_id  year  semester_id semester_name semester_abbreviation
0         1  1989            1          Fall                     F
1         1  1989            2        Spring                     S
2         1  1989            3       Summer1                  Sum1
3         1  1989            4       Summer2
4         1  1989            5       Summer3                  Sum2
5         1  1989            6       Summer4
6         2  1987            1          Fall                     F
7         2  1987            2        Spring                     S
8         2  1987            3       Summer1                  Sum1
9         2  1987            4       Summer2
10        2  1987            5       Summer3                  Sum2
11        2  1987            6       Summer4
12        3  1984            1          Fall                     F
13        3  1984            2        Spring                     S
14        3  1984            3       Summer1                  Sum1
15        3  1984            4       Summer2
16        3  1984            5       Summer3                  Sum2
17        3  1984            6       Summer4
18        4  1992            1          Fall                     F
19        4  1992            2        Spring                     S
20        4  1992            3       Summer1                  Sum1
21        4  1992            4       Summer2
22        4  1992            5       Summer3                  Sum2
23        4  1992            6       Summer4
24        5  1990            1          Fall                     F
25        5  1990            2        Spring                     S
26        5  1990            3       Summer1                  Sum1
27        5  1990            4       Summer2
28        5  1990            5       Summer3                  Sum2
29        5  1990            6       Summer4
30        6  1991            1          Fall                     F
31        6  1991            2        Spring                     S
32        6  1991            3       Summer1                  Sum1
33        6  1991            4       Summer2
34        6  1991            5       Summer3                  Sum2
35        6  1991            6       Summer4
36        7  1988            1          Fall                     F
37        7  1988            2        Spring                     S
38        7  1988            3       Summer1                  Sum1
39        7  1988            4       Summer2
40        7  1988            5       Summer3                  Sum2
41        7  1988            6       Summer4
42        8  1986            1          Fall                     F
43        8  1986            2        Spring                     S
44        8  1986            3       Summer1                  Sum1
45        8  1986            4       Summer2
46        8  1986            5       Summer3                  Sum2
47        8  1986            6       Summer4
48        9  1985            1          Fall                     F
49        9  1985            2        Spring                     S
50        9  1985            3       Summer1                  Sum1
51        9  1985            4       Summer2
52        9  1985            5       Summer3                  Sum2
53        9  1985            6       Summer4

In [27]:
dim_time = dim_time[['year', 'semester_name', 'semester_abbreviation']]
dim_time

    year semester_name semester_abbreviation
0   1989          Fall                     F
1   1989        Spring                     S
2   1989       Summer1                  Sum1
3   1989       Summer2
4   1989       Summer3                  Sum2
5   1989       Summer4
6   1987          Fall                     F
7   1987        Spring                     S
8   1987       Summer1                  Sum1
9   1987       Summer2
10  1987       Summer3                  Sum2
11  1987       Summer4
12  1984          Fall                     F
13  1984        Spring                     S
14  1984       Summer1                  Sum1
15  1984       Summer2
16  1984       Summer3                  Sum2
17  1984       Summer4
18  1992          Fall                     F
19  1992        Spring                     S
20  1992       Summer1                  Sum1
21  1992       Summer2
22  1992       Summer3                  Sum2
23  1992       Summer4
24  1990          Fall                     F
25  1990        Spring                     S
26  1990       Summer1                  Sum1
27  1990       Summer2
28  1990       Summer3                  Sum2
29  1990       Summer4
30  1991          Fall                     F
31  1991        Spring                     S
32  1991       Summer1                  Sum1
33  1991       Summer2
34  1991       Summer3                  Sum2
35  1991       Summer4
36  1988          Fall                     F
37  1988        Spring                     S
38  1988       Summer1                  Sum1
39  1988       Summer2
40  1988       Summer3                  Sum2
41  1988       Summer4
42  1986          Fall                     F
43  1986        Spring                     S
44  1986       Summer1                  Sum1
45  1986       Summer2
46  1986       Summer3                  Sum2
47  1986       Summer4
48  1985          Fall                     F
49  1985        Spring                     S
50  1985       Summer1                  Sum1
51  1985       Summer2
52  1985       Summer3                  Sum2
53  1985       Summer4

In [28]:
dim_time.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalDimTables\dim_time.csv', index=False)

In [29]:
data = {
    'status_id': [1, 2, 3],
    'status_name': ['International Student', 'Out of state', 'Non-of-the above']
}
status_abbreviation_map = {
    'International Student': 'I',
    'Out of state': 'O',
    'Non-of-the above': 'N'
}

Status dimension table

In [31]:
dim_status = pd.DataFrame(data)
dim_status

   status_id            status_name
0          1  International Student
1          2           Out of state
2          3       Non-of-the above

In [32]:
dim_status['status_abbreviation'] = dim_status['status_name'].map(status_abbreviation_map)
dim_status

   status_id            status_name status_abbreviation
0          1  International Student                   I
1          2           Out of state                   O
2          3       Non-of-the above                   N

In [33]:
dim_status.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalDimTables\dim_status.csv', index=False)