In [38]:
import pandas as pd
pd.set_option('display.max.rows', 150)
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.expand_frame_repr', False)

In [39]:
pop_Integrated_Data = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\pop_Integrated_Data.csv")
pop_Integrated_Data

     GraduateID GraduateName    AddressID         MajorID                           DegreeID  GPA GPARankID    SemesterID  YearID               StatusID
0           999    CK. Brown       Denver      Applied Sc                   Associate degree  4.0      High          Sum1    1989  International Student
1           961    QT. Brady   Pine Bluff     Computer Sc                   Associate degree  3.8      High          Sum2    1987  International Student
2           962    UL. Jones  Little Rock     Computer Sc                   Associate degree  3.1      High          Sum2    1984           Out of state
3           970    Bf. Brady  Little Rock      Applied Sc                   Associate degree  3.2      High          Sum1    1992           Out of state
4           975     CM. Cook  Little Rock         Biology                Bachelor of Science  2.2    Medium             F    1987           Out of state
5           412    DP. Morty      Atlanta         Biology                    Bachelor of Art  3.9      High             S    1984           Out of state
6           971       UK. Yu       Conway    Secondary Ed                  Master of Science  3.2      High             F    1990           Out of state
7           989   Li. Mooshe      Atlanta    Secondary Ed                  Master of Science  3.9      High             F    1990       Non-of-the above
8           998   Di. Morgan       Conway         Biology                  Master of Science  3.9      High             S    1987       Non-of-the above
9           964    YH. Brady       Conway      Applied Sc                    Bachelor of Art  3.2      High          Sum1    1987       Non-of-the above
10          977    WT. Brady       Conway      Applied Sc                    Bachelor of Art  3.2      High          Sum2    1987       Non-of-the above
11          987     AC. Bank       Conway      Applied Sc                    Bachelor of Art  3.2      High          Sum2    1987       Non-of-the above
12          988      TP. Kim       Conway   Elementary Ed                Bachelor of Science  3.2      High          Sum1    1990       Non-of-the above
13          902    CY. Crema  Little Rock         Biology                Bachelor of Science  2.2    Medium             S    1987       Non-of-the above
14          969     D. Abuly     Savannah       Economics                Bachelor of Science  3.9      High             S    1990                    NaN
15          968     G. Halky      Atlanta  Business Admin                Bachelor of Science  2.9    Medium             S    1990                    NaN
16          967      W.Goast     Savannah      Accounting                Bachelor of Science  4.1      High             F    1990                    NaN
17          833    T. Chenty       Conway   Elementary Ed                   Associate degree  3.2      High          Sum1    1991                    NaN
18          124      U. Algy       Denver      Applied Sc                   Associate degree  4.0      High             S    1992  International Student
19          976   YI. Torgan       Conway         Biology                   Associate degree  3.9      High             S    1987  International Student
20          100    D. Reddyg      Seattle  Information Sc                  Master of Science  2.1    Medium             F    1990  International Student
21          969   Y. Bankrpt       Conway      Applied Sc                  Master of Science  3.2      High          Sum1    1987           Out of state
22          901    UI. Wagon  Little Rock     Computer Sc                  Master of Science  3.1      High          Sum1    1984           Out of state
23          902   C. Browner       Denver      Applied Sc                  Master of Science  4.0      High             S    1989           Out of state
24          777    F. Anglic      Atlanta         Biology                Bachelor of Science  3.9      High             S    1990       Non-of-the above
25          779   BB. Goofan      Atlanta       Chemistry                Bachelor of Science  2.1    Medium             F    1991       Non-of-the above
26          933      GG. Art     Savannah         English                    Bachelor of Art  3.1      High          Sum2    1991       Non-of-the above
27          941    BB. Mercy     Savannah         English                      Master of Art  4.0      High          Sum2    1991       Non-of-the above
28          667      K. Chen       Conway   Elementary Ed                Doctor of Education  3.2      High          Sum2    1992           Out of state
29          529        M. Yu       Conway    Secondary Ed                  Master of Science  3.2      High             S    1990  International Student
30          552     K. Ahmad      Atlanta    Secondary Ed                Doctor of Education  3.9      High  Invalid Date    1987           Out of state
31          687     Y. Morty      Atlanta     Computer Sc                Bachelor of Science  3.9      High          Sum1    1984       Non-of-the above
32          688     Y. Crema  Little Rock         Biology                   Associate degree  2.2    Medium          Sum1    1987       Non-of-the above
33          653  C. Alshukri       Denver      Applied Sc               Doctor of Philosophy  4.0      High             F    1991           Out of state
34          986     Q. Brady   Pine Bluff     Computer Sc                  Master of Science  3.8      High             S    1987       Non-of-the above
35          579     U. Jones  Little Rock     Computer Sc                Bachelor of Science  3.1      High             S    1984       Non-of-the above
36          200     B. Brady  Little Rock      Applied Sc               Doctor of Philosophy  3.2      High             S    1992  International Student
37          300      C. Cook  Little Rock         Biology                Bachelor of Science  2.2    Medium          Sum1    1987  International Student
38          422        U. Yu       Conway    Secondary Ed                  Master of Science  3.2      High             S    1990           Out of state
39          423    U. Mooshe      Atlanta    Secondary Ed                Doctor of Education  3.9      High          Sum1    1990           Out of state
40          401    D. Morgan       Conway         Biology                Bachelor of Science  3.9      High          Sum1    1987  International Student
41          201     W. Brady       Conway      Applied Sc               Doctor of Philosophy  3.2      High             S    1987  International Student
42          202      A. Bank       Conway      Applied Sc               Doctor of Philosophy  3.2      High          Sum1    1987       Non-of-the above
43          415      T. King       Conway   Elementary Ed                Doctor of Education  3.2      High          Sum2    1990       Non-of-the above
44          901     C. Crema  Little Rock         Biology                   Associate degree  2.2    Medium          Sum1    1987           Out of state
45          222      D. Abul     Savannah       Economics                    Bachelor of Art  3.9      High          Sum2    1990       Non-of-the above
46          333      G. Halk      Atlanta  Business Admin  Master of Business Administration  2.9    Medium          Sum2    1990       Non-of-the above
47          431       W.Goos     Savannah      Accounting                    Bachelor of Art  4.1      High          Sum2    1990           Out of state
48          421      T. Chen       Conway   Elementary Ed                Doctor of Education  3.2      High          Sum2    1991  International Student
49          524   U. Alramzy       Denver      Applied Sc               Doctor of Philosophy  4.0      High             F    1992  International Student
50          689    Y. Morgan       Conway         Biology                Bachelor of Science  3.9      High          Sum1    1987       Non-of-the above
51          195       D. Red      Seattle  Information Sc                Bachelor of Science  2.1    Medium             F    1990           Out of state
52          703      Y. Bank       Conway      Applied Sc               Doctor of Philosophy  3.2      High          Sum2    1987           Out of state
53          665    Z. Silver      Seattle   Elementary Ed                Doctor of Education  3.3      High          Sum2    1991  International Student
54          739      A. Moon  Little Rock     Computer Sc                Bachelor of Science  3.1      High          Sum1    1984       Non-of-the above
55          839      Q. Robe   Pine Bluff     Computer Sc                  Master of Science  3.8      High          Sum1    1987       Non-of-the above
56          939      U. Wang  Little Rock     Computer Sc                   Associate degree  3.1      High          Sum2    1984           Out of state
57          500      K.Bronz       Dallas       Chemistry                  Master of Science  3.2      High          Sum1    1988           Out of state
58          132     A. White      Orlando     Computer Sc                   Associate degree  3.9      High          Sum2    1992       Non-of-the above
59          232      K. Blue  Little Rock         English                   Associate degree  3.1      High          Sum2    1991  International Student
60          352     C. Black   Pine Bluff      Applied Sc               Doctor of Philosophy  3.8      High          Sum2    1990           Out of state
61          600     C. Jones       Dallas  Information Sc                Bachelor of Science  4.0      High             F    1988           Out of state
62          682      Y. Cook  Little Rock         Biology                Bachelor of Science  2.2    Medium          Sum1    1987           Out of state
63          452     N. Brady  Little Rock      Applied Sc               Doctor of Philosophy  3.2      High          Sum2    1988  International Student
64          590      X. Cook  Little Rock         Biology                   Associate degree  2.2    Medium          Sum1    1992       Non-of-the above
65          690     D. Brown      Atlanta         Biology                Bachelor of Science  3.9      High          Sum1    1988       Non-of-the above
66          175      K. Glob       Dallas      Applied Sc               Doctor of Philosophy  3.2      High          Sum1    1989       Non-of-the above
67          185     X. Jones     New York  Information Sc                Bachelor of Science  4.0      High             F    1990       Non-of-the above
68          700      A. Boss      Seattle   Elementary Ed                  Master of Science  3.3      High          Sum2    1984  International Student
69          800     K. Queen       Conway   Elementary Ed                Doctor of Education  3.2      High          Sum2    1989           Out of state
70          416      T. Gola       Conway    Secondary Ed                  Master of Science  3.2      High             S    1990       Non-of-the above
71          420    T. Silver      Seattle   Elementary Ed                Doctor of Education  3.3      High          Sum2    1991       Non-of-the above
72          900      B. Gola       Conway    Secondary Ed                  Master of Science  3.2      High             S    1987  International Student
73          955     K. Booth      Atlanta    Secondary Ed                  Master of Science  3.9      High             S    1987           Out of state
74          956     C. Jessy      Orlando      Applied Sc                  Master of Science  4.0      High             F    1989           Out of state
75          150      A. Cool      Orlando     Computer Sc                  Master of Science  3.9      High          Sum2    1986  International Student
76          250     K. Jones  Little Rock     Computer Sc                Bachelor of Science  3.1      High          Sum2    1986       Non-of-the above
77          350      C. Cool   Pine Bluff      Applied Sc                  Master of Science  4.0      High          Sum2    1986       Non-of-the above
78          229   M. Katchal     Savannah       Economics                    Bachelor of Art  3.0      High          Sum2    1991       Non-of-the above
79          339      H.Poory      Atlanta  Business Admin                    Bachelor of Art  3.9      High          Sum2    1987       Non-of-the above
80          439     H. Mishu     Savannah      Accounting                    Bachelor of Art  2.8    Medium          Sum2    1987           Out of state
81          329    G. Kooper     Savannah      Accounting                    Bachelor of Art  3.0      High          Sum2    1991       Non-of-the above
82          339    M. Bayraq     Savannah  Business Admin  Master of Business Administration  3.9      High          Sum2    1987       Non-of-the above
83          337     N. Mikhy     Savannah  Business Admin                    Bachelor of Art  2.8    Medium          Sum2    1987           Out of state
84          650     D. Sorty      Atlanta         Biology                Bachelor of Science  3.9      High          Sum1    1984       Non-of-the above
85          750       K.Gold       Dallas      Applied Sc               Doctor of Philosophy  3.2      High          Sum1    1984       Non-of-the above
86          850     F. Jones     New York  Information Sc                Bachelor of Science  4.0      High             F    1985  International Student
87          950    D. Golden      Seattle  Information Sc                Bachelor of Science  2.1    Medium             F    1985  International Student
88          165    A. Silver      Seattle   Elementary Ed                  Master of Science  3.3      High          Sum2    1985           Out of state
89          418     T. Brown       Denver      Applied Sc               Doctor of Philosophy  4.0      High             F    1992           Out of state
90          419       T. Red      Seattle  Information Sc                Bachelor of Science  2.1    Medium             F    1992           Out of state
91          215      K. King       Conway   Elementary Ed                Doctor of Education  3.2      High          Sum2    1984       Non-of-the above
92          315      M. Gola       Conway         English                  Master of Science  3.2      High             S    1984       Non-of-the above
93          255      K. Dool      Atlanta         English                  Master of Science  3.9      High          Sum1    1986       Non-of-the above
94          299     M. Golab      Seattle       Chemistry                Bachelor of Science  3.0      High             S    1992       Non-of-the above
95          199     K. Duell      Atlanta         Biology                   Associate degree  4.0      High             F    1988  International Student
96          473    M. Browny      Seattle     Computer Sc               Doctor of Philosophy  4.0      High             S    1992  International Student
97          407    T. Doolak      Seattle  Business Admin  Master of Business Administration  3.1      High          Sum1    1992           Out of state
98          205    K. Minges       Conway   Elementary Ed                Doctor of Education  3.2      High          Sum2    1984       Non-of-the above
99          305     H. Molar       Conway         Biology                  Master of Science  3.2      High          Sum1    1984       Non-of-the above
100         207    K. Goolar      Atlanta       Chemistry                  Master of Science  3.9      High          Sum1    1986       Non-of-the above
101         107   M. Kochaal     Savannah       Chemistry                Bachelor of Science  3.9      High             S    1992       Non-of-the above
102         305    M. Searsy       Conway         Biology                  Master of Science  3.2      High          Sum1    1984       Non-of-the above
103         207    P. Little      Atlanta       Chemistry                  Master of Science  3.9      High          Sum1    1986       Non-of-the above
104         107       M. Big  Little Rock       Chemistry                Bachelor of Science  3.9      High             S    1992           Out of state
105         109     P. Board      Atlanta       Chemistry                   Associate degree  4.0      High             F    1988  International Student
106         305      M. Korp       Conway         Biology                  Master of Science  3.2      High          Sum1    1984       Non-of-the above
107         109      G. Bear  Little Rock         Biology                   Associate degree  4.0      High             F    1988           Out of state
108         591   Z. Kochaal     Savannah       Chemistry                Bachelor of Science  3.9      High             S    1992       Non-of-the above
109         391    X. Searsy       Conway         Biology                  Master of Science  3.2      High          Sum1    1984       Non-of-the above
110         201    Y. Little      Atlanta       Chemistry                  Master of Science  3.9      High          Sum1    1986       Non-of-the above
111         117       W. Big  Little Rock       Chemistry                Bachelor of Science  3.9      High             S    1992           Out of state
112         612     V. Board      Atlanta       Chemistry                   Associate degree  4.0      High             F    1988  International Student
113         305   M. Kartsoo       Conway         Biology                  Master of Science  3.2      High          Sum1    1984       Non-of-the above
114         609   N. Gearsal  Little Rock         Biology                Bachelor of Science  4.0      High             F    1988           Out of state
115         615    K. Jiring       Conway   Elementary Ed                    Bachelor of Art  3.2      High          Sum2    1984       Non-of-the above
116         715    M. Chendo       Conway    Secondary Ed                  Master of Science  3.2      High             S    1984       Non-of-the above
117         855    Z. Megart      Atlanta    Secondary Ed                  Master of Science  3.9      High          Sum1    1986       Non-of-the above
118         699       A. Woo      Seattle   Elementary Ed                    Bachelor of Art  3.0      High             S    1992       Non-of-the above
119         933   CC. Artian      Atlanta         English                    Bachelor of Art  2.9    Medium          Sum2    1991       Non-of-the above
120         941    D. Merdoo      Atlanta         English                      Master of Art  2.8    Medium          Sum2    1991       Non-of-the above

In [46]:
test = pop_Integrated_Data[pop_Integrated_Data['SemesterID'] == 'S']
test

     GraduateID GraduateName    AddressID         MajorID              DegreeID  GPA GPARankID SemesterID  YearID               StatusID
5           412    DP. Morty      Atlanta         Biology       Bachelor of Art  3.9      High          S    1984           Out of state
8           998   Di. Morgan       Conway         Biology     Master of Science  3.9      High          S    1987       Non-of-the above
13          902    CY. Crema  Little Rock         Biology   Bachelor of Science  2.2    Medium          S    1987       Non-of-the above
14          969     D. Abuly     Savannah       Economics   Bachelor of Science  3.9      High          S    1990                    NaN
15          968     G. Halky      Atlanta  Business Admin   Bachelor of Science  2.9    Medium          S    1990                    NaN
18          124      U. Algy       Denver      Applied Sc      Associate degree  4.0      High          S    1992  International Student
19          976   YI. Torgan       Conway         Biology      Associate degree  3.9      High          S    1987  International Student
23          902   C. Browner       Denver      Applied Sc     Master of Science  4.0      High          S    1989           Out of state
24          777    F. Anglic      Atlanta         Biology   Bachelor of Science  3.9      High          S    1990       Non-of-the above
29          529        M. Yu       Conway    Secondary Ed     Master of Science  3.2      High          S    1990  International Student
34          986     Q. Brady   Pine Bluff     Computer Sc     Master of Science  3.8      High          S    1987       Non-of-the above
35          579     U. Jones  Little Rock     Computer Sc   Bachelor of Science  3.1      High          S    1984       Non-of-the above
36          200     B. Brady  Little Rock      Applied Sc  Doctor of Philosophy  3.2      High          S    1992  International Student
38          422        U. Yu       Conway    Secondary Ed     Master of Science  3.2      High          S    1990           Out of state
41          201     W. Brady       Conway      Applied Sc  Doctor of Philosophy  3.2      High          S    1987  International Student
70          416      T. Gola       Conway    Secondary Ed     Master of Science  3.2      High          S    1990       Non-of-the above
72          900      B. Gola       Conway    Secondary Ed     Master of Science  3.2      High          S    1987  International Student
73          955     K. Booth      Atlanta    Secondary Ed     Master of Science  3.9      High          S    1987           Out of state
92          315      M. Gola       Conway         English     Master of Science  3.2      High          S    1984       Non-of-the above
94          299     M. Golab      Seattle       Chemistry   Bachelor of Science  3.0      High          S    1992       Non-of-the above
96          473    M. Browny      Seattle     Computer Sc  Doctor of Philosophy  4.0      High          S    1992  International Student
101         107   M. Kochaal     Savannah       Chemistry   Bachelor of Science  3.9      High          S    1992       Non-of-the above
104         107       M. Big  Little Rock       Chemistry   Bachelor of Science  3.9      High          S    1992           Out of state
108         591   Z. Kochaal     Savannah       Chemistry   Bachelor of Science  3.9      High          S    1992       Non-of-the above
111         117       W. Big  Little Rock       Chemistry   Bachelor of Science  3.9      High          S    1992           Out of state
116         715    M. Chendo       Conway    Secondary Ed     Master of Science  3.2      High          S    1984       Non-of-the above
118         699       A. Woo      Seattle   Elementary Ed       Bachelor of Art  3.0      High          S    1992       Non-of-the above

In [36]:
dim_degrees = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalDimTables\dim_degrees.csv")
dim_gparank = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalDimTables\dim_gparank.csv")
dim_status = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalDimTables\dim_status.csv")
dim_time = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalDimTables\dim_time.csv")

In [ ]:
# Map categorical values to their corresponding IDs
pop_Integrated_Data = pop_Integrated_Data.merge(dim_degrees, on=['MajorID', 'DegreeID'], how='left')
pop_Integrated_Data = pop_Integrated_Data.merge(dim_time, on=['YearID', 'SemesterID'], how='left')
pop_Integrated_Data = pop_Integrated_Data.merge(dim_status, on='StatusID', how='left')
pop_Integrated_Data = pop_Integrated_Data.merge(dim_gparank, on='GPARankID', how='left')

In [ ]:
test = pop_Integrated_Data.merge(dim_degrees, on=['MajorID', 'DegreeID'], how='left')
test

In [37]:
# Map categorical values to their corresponding IDs
pop_Integrated_Data = pop_Integrated_Data.merge(dim_degrees, left_on=['MajorID', 'DegreeID'], right_on=['major_name', 'degree_name'], how='left')
pop_Integrated_Data = pop_Integrated_Data.merge(dim_time, left_on=['YearID', 'SemesterID'], right_on=['year', 'semester_abbreviation'], how='left')
pop_Integrated_Data = pop_Integrated_Data.merge(dim_status, left_on='StatusID', right_on='status_name', how='left')
pop_Integrated_Data = pop_Integrated_Data.merge(dim_gparank, left_on='GPARankID', right_on='gparank', how='left')
pop_Integrated_Data
# pop_Integrated_Data[['GraduateID','degree_id', 'major_name', 'degree_name']]

     GraduateID GraduateName    AddressID         MajorID                           DegreeID  GPA GPARankID    SemesterID  YearID               StatusID  degree_id                college_name      major_name   degree_depth degree_level                        degree_name degree_abbreviation  time_id    year semester_name semester_abbreviation  status_id            status_name status_abbreviation  gparank_id gparank
0           999    CK. Brown       Denver      Applied Sc                   Associate degree  4.0      High          Sum1    1988  International Student         17               Cyber College      Applied Sc  Undergraduate    Associate                   Associate degree                  AS     39.0  1988.0       Summer1                  Sum1        1.0  International Student                   I           1    High
1           961    QT. Brady   Pine Bluff     Computer Sc                   Associate degree  3.8      High          Sum2    1988  International Student          1               Cyber College     Computer Sc  Undergraduate    Associate                   Associate degree                  AS     41.0  1988.0       Summer3                  Sum2        1.0  International Student                   I           1    High
2           962    UL. Jones  Little Rock     Computer Sc                   Associate degree  3.1      High          Sum2    1988           Out of state          1               Cyber College     Computer Sc  Undergraduate    Associate                   Associate degree                  AS     41.0  1988.0       Summer3                  Sum2        2.0           Out of state                   O           1    High
3           970    Bf. Brady  Little Rock      Applied Sc                   Associate degree  3.2      High          Sum1    1988           Out of state         17               Cyber College      Applied Sc  Undergraduate    Associate                   Associate degree                  AS     39.0  1988.0       Summer1                  Sum1        2.0           Out of state                   O           1    High
4           975     CM. Cook  Little Rock         Biology                Bachelor of Science  2.2    Medium             F    1988           Out of state         66  College of Art and Science         Biology  Undergraduate     Bachelor                Bachelor of Science                  BS     37.0  1988.0          Fall                     F        2.0           Out of state                   O           2  Medium
5           412    DP. Morty      Atlanta         Biology                    Bachelor of Art  3.9      High             S    1988           Out of state         67  College of Art and Science         Biology  Undergraduate     Bachelor                    Bachelor of Art                  BA     38.0  1988.0        Spring                     S        2.0           Out of state                   O           1    High
6           971       UK. Yu       Conway    Secondary Ed                  Master of Science  3.2      High             F    1988           Out of state         60        College of Education    Secondary Ed       Graduate       Master                  Master of Science                  MS     37.0  1988.0          Fall                     F        2.0           Out of state                   O           1    High
7           989   Li. Mooshe      Atlanta    Secondary Ed                  Master of Science  3.9      High             F    1988       Non-of-the above         60        College of Education    Secondary Ed       Graduate       Master                  Master of Science                  MS     37.0  1988.0          Fall                     F        3.0       Non-of-the above                   N           1    High
8           998   Di. Morgan       Conway         Biology                  Master of Science  3.9      High             S    1988       Non-of-the above         68  College of Art and Science         Biology       Graduate       Master                  Master of Science                  MS     38.0  1988.0        Spring                     S        3.0       Non-of-the above                   N           1    High
9           964    YH. Brady       Conway      Applied Sc                    Bachelor of Art  3.2      High          Sum1    1988       Non-of-the above         19               Cyber College      Applied Sc  Undergraduate     Bachelor                    Bachelor of Art                  BA     39.0  1988.0       Summer1                  Sum1        3.0       Non-of-the above                   N           1    High
10          977    WT. Brady       Conway      Applied Sc                    Bachelor of Art  3.2      High          Sum2    1988       Non-of-the above         19               Cyber College      Applied Sc  Undergraduate     Bachelor                    Bachelor of Art                  BA     41.0  1988.0       Summer3                  Sum2        3.0       Non-of-the above                   N           1    High
11          987     AC. Bank       Conway      Applied Sc                    Bachelor of Art  3.2      High          Sum2    1988       Non-of-the above         19               Cyber College      Applied Sc  Undergraduate     Bachelor                    Bachelor of Art                  BA     41.0  1988.0       Summer3                  Sum2        3.0       Non-of-the above                   N           1    High
12          988      TP. Kim       Conway   Elementary Ed                Bachelor of Science  3.2      High          Sum1    1988       Non-of-the above         50        College of Education   Elementary Ed  Undergraduate     Bachelor                Bachelor of Science                  BS     39.0  1988.0       Summer1                  Sum1        3.0       Non-of-the above                   N           1    High
13          902    CY. Crema  Little Rock         Biology                Bachelor of Science  2.2    Medium             S    1988       Non-of-the above         66  College of Art and Science         Biology  Undergraduate     Bachelor                Bachelor of Science                  BS     38.0  1988.0        Spring                     S        3.0       Non-of-the above                   N           2  Medium
14          969     D. Abuly     Savannah       Economics                Bachelor of Science  3.9      High             S    1988                    NaN         42         College of Business       Economics  Undergraduate     Bachelor                Bachelor of Science                  BS     38.0  1988.0        Spring                     S        NaN                    NaN                 NaN           1    High
15          968     G. Halky      Atlanta  Business Admin                Bachelor of Science  2.9    Medium             S    1988                    NaN         34         College of Business  Business Admin  Undergraduate     Bachelor                Bachelor of Science                  BS     38.0  1988.0        Spring                     S        NaN                    NaN                 NaN           2  Medium
16          967      W.Goast     Savannah      Accounting                Bachelor of Science  4.1      High             F    1988                    NaN         26         College of Business      Accounting  Undergraduate     Bachelor                Bachelor of Science                  BS     37.0  1988.0          Fall                     F        NaN                    NaN                 NaN           1    High
17          833    T. Chenty       Conway   Elementary Ed                   Associate degree  3.2      High          Sum1    1988                    NaN         49        College of Education   Elementary Ed  Undergraduate    Associate                   Associate degree                  AS     39.0  1988.0       Summer1                  Sum1        NaN                    NaN                 NaN           1    High
18          124      U. Algy       Denver      Applied Sc                   Associate degree  4.0      High             S    1988  International Student         17               Cyber College      Applied Sc  Undergraduate    Associate                   Associate degree                  AS     38.0  1988.0        Spring                     S        1.0  International Student                   I           1    High
19          976   YI. Torgan       Conway         Biology                   Associate degree  3.9      High             S    1988  International Student         65  College of Art and Science         Biology  Undergraduate    Associate                   Associate degree                  AS     38.0  1988.0        Spring                     S        1.0  International Student                   I           1    High
20          100    D. Reddyg      Seattle  Information Sc                  Master of Science  2.1    Medium             F    1988  International Student         12               Cyber College  Information Sc       Graduate       Master                  Master of Science                  MS     37.0  1988.0          Fall                     F        1.0  International Student                   I           2  Medium
21          969   Y. Bankrpt       Conway      Applied Sc                  Master of Science  3.2      High          Sum1    1988           Out of state         20               Cyber College      Applied Sc       Graduate       Master                  Master of Science                  MS     39.0  1988.0       Summer1                  Sum1        2.0           Out of state                   O           1    High
22          901    UI. Wagon  Little Rock     Computer Sc                  Master of Science  3.1      High          Sum1    1988           Out of state          4               Cyber College     Computer Sc       Graduate       Master                  Master of Science                  MS     39.0  1988.0       Summer1                  Sum1        2.0           Out of state                   O           1    High
23          902   C. Browner       Denver      Applied Sc                  Master of Science  4.0      High             S    1988           Out of state         20               Cyber College      Applied Sc       Graduate       Master                  Master of Science                  MS     38.0  1988.0        Spring                     S        2.0           Out of state                   O           1    High
24          777    F. Anglic      Atlanta         Biology                Bachelor of Science  3.9      High             S    1988       Non-of-the above         66  College of Art and Science         Biology  Undergraduate     Bachelor                Bachelor of Science                  BS     38.0  1988.0        Spring                     S        3.0       Non-of-the above                   N           1    High
25          779   BB. Goofan      Atlanta       Chemistry                Bachelor of Science  2.1    Medium             F    1988       Non-of-the above         74  College of Art and Science       Chemistry  Undergraduate     Bachelor                Bachelor of Science                  BS     37.0  1988.0          Fall                     F        3.0       Non-of-the above                   N           2  Medium
26          933      GG. Art     Savannah         English                    Bachelor of Art  3.1      High          Sum2    1988       Non-of-the above         83  College of Art and Science         English  Undergraduate     Bachelor                    Bachelor of Art                  BA     41.0  1988.0       Summer3                  Sum2        3.0       Non-of-the above                   N           1    High
27          941    BB. Mercy     Savannah         English                      Master of Art  4.0      High          Sum2    1988       Non-of-the above         85  College of Art and Science         English       Graduate       Master                      Master of Art                  MA     41.0  1988.0       Summer3                  Sum2        3.0       Non-of-the above                   N           1    High
28          667      K. Chen       Conway   Elementary Ed                Doctor of Education  3.2      High          Sum2    1988           Out of state         55        College of Education   Elementary Ed   Postgraduate    Doctorate                Doctor of Education                 EdD     41.0  1988.0       Summer3                  Sum2        2.0           Out of state                   O           1    High
29          529        M. Yu       Conway    Secondary Ed                  Master of Science  3.2      High             S    1988  International Student         60        College of Education    Secondary Ed       Graduate       Master                  Master of Science                  MS     38.0  1988.0        Spring                     S        1.0  International Student                   I           1    High
30          552     K. Ahmad      Atlanta    Secondary Ed                Doctor of Education  3.9      High  Invalid Date    1988           Out of state         63        College of Education    Secondary Ed   Postgraduate    Doctorate                Doctor of Education                 EdD      NaN     NaN           NaN                   NaN        2.0           Out of state                   O           1    High
31          687     Y. Morty      Atlanta     Computer Sc                Bachelor of Science  3.9      High          Sum1    1988       Non-of-the above          2               Cyber College     Computer Sc  Undergraduate     Bachelor                Bachelor of Science                  BS     39.0  1988.0       Summer1                  Sum1        3.0       Non-of-the above                   N           1    High
32          688     Y. Crema  Little Rock         Biology                   Associate degree  2.2    Medium          Sum1    1988       Non-of-the above         65  College of Art and Science         Biology  Undergraduate    Associate                   Associate degree                  AS     39.0  1988.0       Summer1                  Sum1        3.0       Non-of-the above                   N           2  Medium
33          653  C. Alshukri       Denver      Applied Sc               Doctor of Philosophy  4.0      High             F    1988           Out of state         24               Cyber College      Applied Sc   Postgraduate    Doctorate               Doctor of Philosophy                 PhD     37.0  1988.0          Fall                     F        2.0           Out of state                   O           1    High
34          986     Q. Brady   Pine Bluff     Computer Sc                  Master of Science  3.8      High             S    1988       Non-of-the above          4               Cyber College     Computer Sc       Graduate       Master                  Master of Science                  MS     38.0  1988.0        Spring                     S        3.0       Non-of-the above                   N           1    High
35          579     U. Jones  Little Rock     Computer Sc                Bachelor of Science  3.1      High             S    1988       Non-of-the above          2               Cyber College     Computer Sc  Undergraduate     Bachelor                Bachelor of Science                  BS     38.0  1988.0        Spring                     S        3.0       Non-of-the above                   N           1    High
36          200     B. Brady  Little Rock      Applied Sc               Doctor of Philosophy  3.2      High             S    1988  International Student         24               Cyber College      Applied Sc   Postgraduate    Doctorate               Doctor of Philosophy                 PhD     38.0  1988.0        Spring                     S        1.0  International Student                   I           1    High
37          300      C. Cook  Little Rock         Biology                Bachelor of Science  2.2    Medium          Sum1    1988  International Student         66  College of Art and Science         Biology  Undergraduate     Bachelor                Bachelor of Science                  BS     39.0  1988.0       Summer1                  Sum1        1.0  International Student                   I           2  Medium
38          422        U. Yu       Conway    Secondary Ed                  Master of Science  3.2      High             S    1988           Out of state         60        College of Education    Secondary Ed       Graduate       Master                  Master of Science                  MS     38.0  1988.0        Spring                     S        2.0           Out of state                   O           1    High
39          423    U. Mooshe      Atlanta    Secondary Ed                Doctor of Education  3.9      High          Sum1    1988           Out of state         63        College of Education    Secondary Ed   Postgraduate    Doctorate                Doctor of Education                 EdD     39.0  1988.0       Summer1                  Sum1        2.0           Out of state                   O           1    High
40          401    D. Morgan       Conway         Biology                Bachelor of Science  3.9      High          Sum1    1988  International Student         66  College of Art and Science         Biology  Undergraduate     Bachelor                Bachelor of Science                  BS     39.0  1988.0       Summer1                  Sum1        1.0  International Student                   I           1    High
41          201     W. Brady       Conway      Applied Sc               Doctor of Philosophy  3.2      High             S    1988  International Student         24               Cyber College      Applied Sc   Postgraduate    Doctorate               Doctor of Philosophy                 PhD     38.0  1988.0        Spring                     S        1.0  International Student                   I           1    High
42          202      A. Bank       Conway      Applied Sc               Doctor of Philosophy  3.2      High          Sum1    1988       Non-of-the above         24               Cyber College      Applied Sc   Postgraduate    Doctorate               Doctor of Philosophy                 PhD     39.0  1988.0       Summer1                  Sum1        3.0       Non-of-the above                   N           1    High
43          415      T. King       Conway   Elementary Ed                Doctor of Education  3.2      High          Sum2    1988       Non-of-the above         55        College of Education   Elementary Ed   Postgraduate    Doctorate                Doctor of Education                 EdD     41.0  1988.0       Summer3                  Sum2        3.0       Non-of-the above                   N           1    High
44          901     C. Crema  Little Rock         Biology                   Associate degree  2.2    Medium          Sum1    1988           Out of state         65  College of Art and Science         Biology  Undergraduate    Associate                   Associate degree                  AS     39.0  1988.0       Summer1                  Sum1        2.0           Out of state                   O           2  Medium
45          222      D. Abul     Savannah       Economics                    Bachelor of Art  3.9      High          Sum2    1988       Non-of-the above         43         College of Business       Economics  Undergraduate     Bachelor                    Bachelor of Art                  BA     41.0  1988.0       Summer3                  Sum2        3.0       Non-of-the above                   N           1    High

In [15]:
pop_Integrated_Data[['GraduateID','degree_id', 'time_id', 'status_id', 'gparank_id']]

     GraduateID  degree_id  time_id  status_id  gparank_id
0           999         17      3.0        1.0           1
1           961          1     11.0        1.0           1
2           962          1     17.0        2.0           1
3           970         17     21.0        2.0           1
4           975         66      7.0        2.0           2
5           412         67     14.0        2.0           1
6           971         60     25.0        2.0           1
7           989         60     25.0        3.0           1
8           998         68      8.0        3.0           1
9           964         19      9.0        3.0           1
10          977         19     11.0        3.0           1
11          987         19     11.0        3.0           1
12          988         50     27.0        3.0           1
13          902         66      8.0        3.0           2
14          969         42     26.0        NaN           1
15          968         34     26.0        NaN           2
16          967         26     25.0        NaN           1
17          833         49     33.0        NaN           1
18          124         17     20.0        1.0           1
19          976         65      8.0        1.0           1
20          100         12     25.0        1.0           2
21          969         20      9.0        2.0           1
22          901          4     15.0        2.0           1
23          902         20      2.0        2.0           1
24          777         66     26.0        3.0           1
25          779         74     31.0        3.0           2
26          933         83     35.0        3.0           1
27          941         85     35.0        3.0           1
28          667         55     23.0        2.0           1
29          529         60     26.0        1.0           1
30          552         63      NaN        2.0           1
31          687          2     15.0        3.0           1
32          688         65      9.0        3.0           2
33          653         24     31.0        2.0           1
34          986          4      8.0        3.0           1
35          579          2     14.0        3.0           1
36          200         24     20.0        1.0           1
37          300         66      9.0        1.0           2
38          422         60     26.0        2.0           1
39          423         63     27.0        2.0           1
40          401         66      9.0        1.0           1
41          201         24      8.0        1.0           1
42          202         24      9.0        3.0           1
43          415         55     29.0        3.0           1
44          901         65      9.0        2.0           2
45          222         43     29.0        3.0           1
46          333         38     29.0        3.0           2
47          431         27     29.0        2.0           1
48          421         55     35.0        1.0           1
49          524         24     19.0        1.0           1
50          689         66      9.0        3.0           1
51          195         10     25.0        2.0           2
52          703         24     11.0        2.0           1
53          665         55     35.0        1.0           1
54          739          2     15.0        3.0           1
55          839          4      9.0        3.0           1
56          939          1     17.0        2.0           1
57          500         76     39.0        2.0           1
58          132          1     23.0        3.0           1
59          232         81     35.0        1.0           1
60          352         24     29.0        2.0           1
61          600         10     37.0        2.0           1
62          682         66      9.0        2.0           2
63          452         24     41.0        1.0           1
64          590         65     21.0        3.0           2
65          690         66     39.0        3.0           1
66          175         24      3.0        3.0           1
67          185         10     25.0        3.0           1
68          700         52     17.0        1.0           1
69          800         55      5.0        2.0           1
70          416         60     26.0        3.0           1
71          420         55     35.0        3.0           1
72          900         60      8.0        1.0           1
73          955         60      8.0        2.0           1
74          956         20      1.0        2.0           1
75          150          4     47.0        1.0           1
76          250          2     47.0        3.0           1
77          350         20     47.0        3.0           1
78          229         43     35.0        3.0           1
79          339         35     11.0        3.0           1
80          439         27     11.0        2.0           2
81          329         27     35.0        3.0           1
82          339         38     11.0        3.0           1
83          337         35     11.0        2.0           2
84          650         66     15.0        3.0           1
85          750         24     15.0        3.0           1
86          850         10     49.0        1.0           1
87          950         10     49.0        1.0           2
88          165         52     53.0        2.0           1
89          418         24     19.0        2.0           1
90          419         10     19.0        2.0           2
91          215         55     17.0        3.0           1
92          315         84     14.0        3.0           1
93          255         84     45.0        3.0           1
94          299         74     20.0        3.0           1
95          199         65     37.0        1.0           1
96          473          8     20.0        1.0           1
97          407         38     21.0        2.0           1
98          205         55     17.0        3.0           1
99          305         68     15.0        3.0           1
100         207         76     45.0        3.0           1
101         107         74     20.0        3.0           1
102         305         68     15.0        3.0           1
103         207         76     45.0        3.0           1
104         107         74     20.0        2.0           1
105         109         73     37.0        1.0           1
106         305         68     15.0        3.0           1
107         109         65     37.0        2.0           1
108         591         74     20.0        3.0           1
109         391         68     15.0        3.0           1
110         201         76     45.0        3.0           1
111         117         74     20.0        2.0           1
112         612         73     37.0        1.0           1
113         305         68     15.0        3.0           1
114         609         66     37.0        2.0           1
115         615         51     17.0        3.0           1
116         715         60     14.0        3.0           1
117         855         60     45.0        3.0           1
118         699         51     20.0        3.0           1
119         933         83     35.0        3.0           2
120         941         85     35.0        3.0           2

In [18]:
pop_Integrated_Data['time_id'].fillna(3, inplace=True)
pop_Integrated_Data['status_id'].fillna(3, inplace=True)
pop_Integrated_Data['time_id'] = pop_Integrated_Data['time_id'].astype(int)
pop_Integrated_Data['status_id'] = pop_Integrated_Data['status_id'].astype(int)
pop_Integrated_Data[['GraduateID','degree_id', 'time_id', 'status_id', 'gparank_id']]

     GraduateID  degree_id  time_id  status_id  gparank_id
0           999         17        3          1           1
1           961          1       11          1           1
2           962          1       17          2           1
3           970         17       21          2           1
4           975         66        7          2           2
5           412         67       14          2           1
6           971         60       25          2           1
7           989         60       25          3           1
8           998         68        8          3           1
9           964         19        9          3           1
10          977         19       11          3           1
11          987         19       11          3           1
12          988         50       27          3           1
13          902         66        8          3           2
14          969         42       26          3           1
15          968         34       26          3           2
16          967         26       25          3           1
17          833         49       33          3           1
18          124         17       20          1           1
19          976         65        8          1           1
20          100         12       25          1           2
21          969         20        9          2           1
22          901          4       15          2           1
23          902         20        2          2           1
24          777         66       26          3           1
25          779         74       31          3           2
26          933         83       35          3           1
27          941         85       35          3           1
28          667         55       23          2           1
29          529         60       26          1           1
30          552         63        3          2           1
31          687          2       15          3           1
32          688         65        9          3           2
33          653         24       31          2           1
34          986          4        8          3           1
35          579          2       14          3           1
36          200         24       20          1           1
37          300         66        9          1           2
38          422         60       26          2           1
39          423         63       27          2           1
40          401         66        9          1           1
41          201         24        8          1           1
42          202         24        9          3           1
43          415         55       29          3           1
44          901         65        9          2           2
45          222         43       29          3           1
46          333         38       29          3           2
47          431         27       29          2           1
48          421         55       35          1           1
49          524         24       19          1           1
50          689         66        9          3           1
51          195         10       25          2           2
52          703         24       11          2           1
53          665         55       35          1           1
54          739          2       15          3           1
55          839          4        9          3           1
56          939          1       17          2           1
57          500         76       39          2           1
58          132          1       23          3           1
59          232         81       35          1           1
60          352         24       29          2           1
61          600         10       37          2           1
62          682         66        9          2           2
63          452         24       41          1           1
64          590         65       21          3           2
65          690         66       39          3           1
66          175         24        3          3           1
67          185         10       25          3           1
68          700         52       17          1           1
69          800         55        5          2           1
70          416         60       26          3           1
71          420         55       35          3           1
72          900         60        8          1           1
73          955         60        8          2           1
74          956         20        1          2           1
75          150          4       47          1           1
76          250          2       47          3           1
77          350         20       47          3           1
78          229         43       35          3           1
79          339         35       11          3           1
80          439         27       11          2           2
81          329         27       35          3           1
82          339         38       11          3           1
83          337         35       11          2           2
84          650         66       15          3           1
85          750         24       15          3           1
86          850         10       49          1           1
87          950         10       49          1           2
88          165         52       53          2           1
89          418         24       19          2           1
90          419         10       19          2           2
91          215         55       17          3           1
92          315         84       14          3           1
93          255         84       45          3           1
94          299         74       20          3           1
95          199         65       37          1           1
96          473          8       20          1           1
97          407         38       21          2           1
98          205         55       17          3           1
99          305         68       15          3           1
100         207         76       45          3           1
101         107         74       20          3           1
102         305         68       15          3           1
103         207         76       45          3           1
104         107         74       20          2           1
105         109         73       37          1           1
106         305         68       15          3           1
107         109         65       37          2           1
108         591         74       20          3           1
109         391         68       15          3           1
110         201         76       45          3           1
111         117         74       20          2           1
112         612         73       37          1           1
113         305         68       15          3           1
114         609         66       37          2           1
115         615         51       17          3           1
116         715         60       14          3           1
117         855         60       45          3           1
118         699         51       20          3           1
119         933         83       35          3           2
120         941         85       35          3           2

In [20]:
pop_Integrated_Data = pop_Integrated_Data.rename(columns={
    'GraduateID': 'graduate_id',
})
pop_Integrated_Data[['graduate_id','degree_id', 'time_id', 'status_id', 'gparank_id']]

     graduate_id  degree_id  time_id  status_id  gparank_id
0            999         17        3          1           1
1            961          1       11          1           1
2            962          1       17          2           1
3            970         17       21          2           1
4            975         66        7          2           2
5            412         67       14          2           1
6            971         60       25          2           1
7            989         60       25          3           1
8            998         68        8          3           1
9            964         19        9          3           1
10           977         19       11          3           1
11           987         19       11          3           1
12           988         50       27          3           1
13           902         66        8          3           2
14           969         42       26          3           1
15           968         34       26          3           2
16           967         26       25          3           1
17           833         49       33          3           1
18           124         17       20          1           1
19           976         65        8          1           1
20           100         12       25          1           2
21           969         20        9          2           1
22           901          4       15          2           1
23           902         20        2          2           1
24           777         66       26          3           1
25           779         74       31          3           2
26           933         83       35          3           1
27           941         85       35          3           1
28           667         55       23          2           1
29           529         60       26          1           1
30           552         63        3          2           1
31           687          2       15          3           1
32           688         65        9          3           2
33           653         24       31          2           1
34           986          4        8          3           1
35           579          2       14          3           1
36           200         24       20          1           1
37           300         66        9          1           2
38           422         60       26          2           1
39           423         63       27          2           1
40           401         66        9          1           1
41           201         24        8          1           1
42           202         24        9          3           1
43           415         55       29          3           1
44           901         65        9          2           2
45           222         43       29          3           1
46           333         38       29          3           2
47           431         27       29          2           1
48           421         55       35          1           1
49           524         24       19          1           1
50           689         66        9          3           1
51           195         10       25          2           2
52           703         24       11          2           1
53           665         55       35          1           1
54           739          2       15          3           1
55           839          4        9          3           1
56           939          1       17          2           1
57           500         76       39          2           1
58           132          1       23          3           1
59           232         81       35          1           1
60           352         24       29          2           1
61           600         10       37          2           1
62           682         66        9          2           2
63           452         24       41          1           1
64           590         65       21          3           2
65           690         66       39          3           1
66           175         24        3          3           1
67           185         10       25          3           1
68           700         52       17          1           1
69           800         55        5          2           1
70           416         60       26          3           1
71           420         55       35          3           1
72           900         60        8          1           1
73           955         60        8          2           1
74           956         20        1          2           1
75           150          4       47          1           1
76           250          2       47          3           1
77           350         20       47          3           1
78           229         43       35          3           1
79           339         35       11          3           1
80           439         27       11          2           2
81           329         27       35          3           1
82           339         38       11          3           1
83           337         35       11          2           2
84           650         66       15          3           1
85           750         24       15          3           1
86           850         10       49          1           1
87           950         10       49          1           2
88           165         52       53          2           1
89           418         24       19          2           1
90           419         10       19          2           2
91           215         55       17          3           1
92           315         84       14          3           1
93           255         84       45          3           1
94           299         74       20          3           1
95           199         65       37          1           1
96           473          8       20          1           1
97           407         38       21          2           1
98           205         55       17          3           1
99           305         68       15          3           1
100          207         76       45          3           1
101          107         74       20          3           1
102          305         68       15          3           1
103          207         76       45          3           1
104          107         74       20          2           1
105          109         73       37          1           1
106          305         68       15          3           1
107          109         65       37          2           1
108          591         74       20          3           1
109          391         68       15          3           1
110          201         76       45          3           1
111          117         74       20          2           1
112          612         73       37          1           1
113          305         68       15          3           1
114          609         66       37          2           1
115          615         51       17          3           1
116          715         60       14          3           1
117          855         60       45          3           1
118          699         51       20          3           1
119          933         83       35          3           2
120          941         85       35          3           2

In [24]:
fact_table = pop_Integrated_Data[['graduate_id','degree_id', 'time_id', 'status_id', 'gparank_id']]
fact_table = fact_table.to_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalDimTables\fact_table.csv",  index=False)

In [ ]:
data/FinalDimTables