In [1]:
import pandas as pd
pd.set_option('display.max.rows', 150)

In [10]:
# Read CSV files into Pandas DataFrames
colleges_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_college.csv")
majors_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_major.csv")
degrees_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_degree.csv")
reference_table_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalTables\college_majors.csv")

In [13]:
# Merge the reference table with colleges, majors, and degrees
merged_df = reference_table_df.merge(colleges_df, left_on='NAME', right_on='college_name') \
    .merge(majors_df, left_on='MAJORS', right_on='major_name')
merged_df

,NAME,MAJORS,college_id,college_name,major_id,major_name
0,Cyber College,Computer Sc,1,Cyber College,1,Computer Sc
1,Cyber College,Information Sc,1,Cyber College,2,Information Sc
2,Cyber College,Applied Sc,1,Cyber College,3,Applied Sc
3,College of Business,Accounting,2,College of Business,4,Accounting
4,College of Business,Business Admin,2,College of Business,5,Business Admin
5,College of Business,Economics,2,College of Business,6,Economics
6,College of Education,Elementary Ed,3,College of Education,7,Elementary Ed
7,College of Education,Secondary Ed,3,College of Education,8,Secondary Ed
8,College of Art and Science,Biology,4,College of Art and Science,9,Biology
9,College of Art and Science,Chemistry,4,College of Art and Science,10,Chemistry
10,College of Art and Science,English,4,College of Art and Science,11,English

In [ ]:
# Select only the necessary columns
result_df = merged_df[['college_id', 'college_name', 'major_id', 'major_name', 'degree_id', 'degree_name', 'degree_abbreviation']]
result_df

In [ ]:
# Display the resulting merged table
print(result_df)

In [ ]:
DatawarehouseProject - colleges1_2
data/DatawarehouseProject - colleges1_2.csv

In [5]:
colleges_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - colleges1_2.csv")
colleges_df

                          NAME          MAJORS
0                Cyber College     Computer Sc
1                          NaN  Information Sc
2                          NaN      Applied Sc
3          College of Business      Accounting
4                          NaN  Business Admin
5                          NaN       Economics
6         College of Education   Elementary Ed
7                          NaN    Secondary Ed
8   College of Art and Science         Biology
9                          NaN       Chemistry
10                         NaN         English

In [13]:
colleges_majors_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalTables\college_majors.csv")
degrees_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_degree.csv")

In [14]:
degree_depth_mapping = {
    'Associate degree': 'Undergraduate',
    'Bachelor of Science': 'Undergraduate',
    'Bachelor of Art': 'Undergraduate',
    'Master of Science': 'Graduate',
    'Master of Art': 'Graduate',
    'Master of Business Administration': 'Graduate',
    'Doctor of Education': 'Postgraduate',
    'Doctor of Philosophy': 'Postgraduate'
}

In [15]:
degree_level_mapping = {
    'Associate degree': 'Associate',
    'Bachelor of Science': 'Bachelor',
    'Bachelor of Art': 'Bachelor',
    'Master of Science': 'Master',
    'Master of Art': 'Master',
    'Master of Business Administration': 'Master',
    'Doctor of Education': 'Doctorate',
    'Doctor of Philosophy': 'Doctorate'
}

In [16]:
degrees_df['degree_depth'] = degrees_df['degree_name'].map(degree_depth_mapping)
degrees_df['degree_level'] = degrees_df['degree_name'].map(degree_level_mapping)

In [17]:
degrees_df = degrees_df[['degree_id', 'degree_name', 'degree_depth', 'degree_level', 'degree_abbreviation']]
degrees_df

,degree_id,degree_name,degree_depth,degree_level,degree_abbreviation
0,1,Associate degree,Undergraduate,Associate,AS
1,2,Bachelor of Science,Undergraduate,Bachelor,BS
2,3,Bachelor of Art,Undergraduate,Bachelor,BA
3,4,Master of Science,Graduate,Master,MS
4,5,Master of Art,Graduate,Master,MA
5,6,Master of Business Administration,Graduate,Master,MBA
6,7,Doctor of Education,Postgraduate,Doctorate,EdD
7,8,Doctor of Philosophy,Postgraduate,Doctorate,PhD