In [1]:
import pandas as pd
pd.set_option('display.max.rows', 150)

In [10]:
# Read CSV files into Pandas DataFrames
colleges_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_college.csv")
majors_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_major.csv")
degrees_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DimensionTables\dim_degree.csv")
reference_table_df = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\FinalTables\college_majors.csv")

In [13]:
# Merge the reference table with colleges, majors, and degrees
merged_df = reference_table_df.merge(colleges_df, left_on='NAME', right_on='college_name') \
    .merge(majors_df, left_on='MAJORS', right_on='major_name')
merged_df

,NAME,MAJORS,college_id,college_name,major_id,major_name
0,Cyber College,Computer Sc,1,Cyber College,1,Computer Sc
1,Cyber College,Information Sc,1,Cyber College,2,Information Sc
2,Cyber College,Applied Sc,1,Cyber College,3,Applied Sc
3,College of Business,Accounting,2,College of Business,4,Accounting
4,College of Business,Business Admin,2,College of Business,5,Business Admin
5,College of Business,Economics,2,College of Business,6,Economics
6,College of Education,Elementary Ed,3,College of Education,7,Elementary Ed
7,College of Education,Secondary Ed,3,College of Education,8,Secondary Ed
8,College of Art and Science,Biology,4,College of Art and Science,9,Biology
9,College of Art and Science,Chemistry,4,College of Art and Science,10,Chemistry
10,College of Art and Science,English,4,College of Art and Science,11,English

In [ ]:
# Select only the necessary columns
result_df = merged_df[['college_id', 'college_name', 'major_id', 'major_name', 'degree_id', 'degree_name', 'degree_abbreviation']]
result_df

In [ ]:
# Display the resulting merged table
print(result_df)