In [ ]:
import sys
!{sys.executable} - m pip install textblob

In [ ]:
sys.modules

In [ ]:
import pandas as pd
import numpy as np
from textblob import TextBlob

In [ ]:
pd.set_option('display.max.rows', 150)

In [ ]:
colleges1_2 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - colleges1_2.csv")
colleges1_2

In [ ]:
df1_2 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - ds1_2.csv")
df1_2

In [ ]:
colleges3 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - colleges3.csv")
colleges3

In [ ]:
df3 = pd.read_csv(r"C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\DatawarehouseProject - ds3.csv")
df3

Find duplicates in the 'Name' column.

In [ ]:
# duplicates = df1_2[df1_2.duplicated(subset=['ID', 'Name'], keep=False)]
name_duplicates = df1_2[df1_2.duplicated('Name', keep=False)]
name_duplicates

Count hopw many duplicates were found.

In [ ]:
name_duplicates.shape

These duplicates are indetermanable without more information. We will save them to a new csv file named deleted_name_duplicates to inquire about the records.

In [ ]:
name_duplicates.to_csv(r'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\data\deleted_name_duplicates.csv', index=False)

Now we drop the 'Name' duplicates from the original d1_2 dataframe.

In [ ]:
df1_2 = df1_2.drop_duplicates(subset='Name', keep=False)
df1_2

Find duplicates in the 'ID' column

In [ ]:
df1_2[df1_2.duplicated('ID', keep=False)]

In [ ]:
# duplicates = df1_2[df1_2.duplicated(subset=['ID', 'Name'], keep=False)]
# id_duplicates = df1_2[df1_2.duplicated('ID', keep = False)]
id_duplicates = df1_2[df1_2.duplicated('ID', keep = 'first')]
id_duplicates

In [ ]:
id_duplicates.shape

For duplicates found in the column ID, generate 3-digit numbers to replace each duplicate

In [ ]:
for index, row in id_duplicates.iterrows():
    new_id = np.random.randint(100, 1000)  # Generate a random 3-digit number
    while new_id in df1_2['ID'].values:  # Ensure uniqueness against entire 'ID' column
        new_id = np.random.randint(100, 1000)
    df1_2.at[index, 'ID'] = new_id

In [ ]:
df1_2

Check the address column for spelling.

In [ ]:
df1_2['Address']

In [ ]:
def check_spelling(text):
    blob = TextBlob(text)
    return blob.correct()

df1_2['Corrected_Address'] = df1_2['Address'].apply(check_spelling)

In [ ]:
df1_2['Address_Match'] = df1_2['Address'] == df1_2['Corrected_Address']
df1_2['Address_Match']