Install required libraries.

In [16]:
# !pip3 install pymysql
# !pip3 install ipython-sql
# !pip3 install mysqlclient
# !pip install sqlalchemy 
# !pip install mysql
# !pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\documents\school\fallgrad2023\dw\datawarehouse_projectreport\datawarehouse\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\user\documents\school\fallgrad2023\dw\datawarehouse_projectreport\datawarehouse\lib\site-packages (from mysql-connector-python) (4.21.12)

WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the 'C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\datawarehouse\Scripts\python.exe -m pip install --upgrade pip' command.

Connect to MySQL

In [1]:
import mysql

In [22]:
import mysql.connector
# mydb = mysql.connector.connect()

ModuleNotFoundError: No module named 'mysql.connector'; 'mysql' is not a package

In [2]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector

In [13]:
try:
    mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password="1038368"
    )
    print("Connection established")
    cursor = mydb.cursor()
    cursor.execute("create database if not exists datawarehouse")
    mydb.commit()
    print("Database created successfully")
    cursor.execute("use datawarehouse")

except mysql.connector.Error as err:
    print("An error occurred:", err)

NameError: name 'mysql' is not defined

In [ ]:
database = 'datawarehouse'
hostname = 'localhost'
username = 'root'
password = '10388368'

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=database, user=username, pw=password))

In [ ]:
C:\Users\User\Documents\School\FallGrad2023\DW\DataWarehouse_ProjectReport\datawarehouse